<div class="hand-guiding mat-typography">
    <mat-card class="container">
        <section class="joints">
            <mat-checkbox *ngFor="let joint of joints; let index = index;" (change)="setJoints()" [(ngModel)]="joint.checked" [disabled]="canNotUse()">
                {{'handGuiding.joint'|translate}} {{index + 1}}
            </mat-checkbox>
        </section>
        <section class="buttons">
            <button mat-raised-button color="primary" (click)="freeAll()" [disabled]="canNotUse()">
                {{'handGuiding.free'|translate}}
            </button>
            <button mat-raised-button color="primary" (click)="lockAll()" [disabled]="canNotUse()">
                {{'handGuiding.lock'|translate}}
            </button>
        </section>
    </mat-card>
</div>