<div class="hand-guiding mat-typography">
	<mat-card>
		<mat-slide-toggle [checked]="mode" color="primary" (change)="onSfreeChange($event)">{{ 'handGuiding.toggleMode' | translate }}</mat-slide-toggle>
		<mat-checkbox [checked]="j1" color="primary" (change)="onChange(1,$event)" [disabled]="!mode">{{ 'handGuiding.toggleJ1' | translate }}</mat-checkbox>
		<mat-checkbox [checked]="j2" color="primary" (change)="onChange(2,$event)" [disabled]="!mode">{{ 'handGuiding.toggleJ2' | translate }}</mat-checkbox>
	</mat-card>
</div>
