<cdk-virtual-scroll-viewport itemSize="20" #wrapper (contextmenu)="onContextMenu($event)" class="content">
	<div *cdkVirtualFor="let n of notification.notificationsAsArray" style="height: 20px;">
		<div *ngIf="n.msg">{{ n.msg }}</div>
		<div *ngIf="n.err">
			Error: {{ n.err.errCode }}, "{{ n.err.errMsg }}", Task:
			<span matRipple [matRippleRadius]="16" class="link" (mousedown)="goToError(n.err)">{{ n.err.errTask }}</span
			>, Line: {{ n.err.errLine }}, Module: {{ n.err.errModule }}
		</div>
	</div>
</cdk-virtual-scroll-viewport>

<!-- <div class="content" >
	<div *ngIf="!login.isAdmin">
		<div *ngFor="let n of notification.notificationsAsArray">
			<div *ngIf="n.msg">{{ n.msg }}</div>
			<div *ngIf="n.err">
				{{ n.err.msg }}
			</div>
		</div>
	</div>
	<div *ngIf="login.isAdmin">
		<div *ngFor="let n of notification.notificationsAsArray">
			<div *ngIf="n.msg">{{ n.msg }}</div>
			<div *ngIf="n.err">
				Error: {{ n.err.errCode }}, "{{ n.err.errMsg }}", Task:
				<span matRipple [matRippleRadius]="16" class="link" (mousedown)="goToError(n.err)">{{ n.err.errTask }}</span
				>, Line: {{ n.err.errLine }}, Module: {{ n.err.errModule }}
			</div>
		</div>
	</div>
</div> -->
<ul
	class="context-menu mat-title-color mat-elevation-z3"
	*ngIf="contextMenuShown"
	@fade
	[style.top.px]="contextMenuY"
	[style.left.px]="contextMenuX"
	(clickOutside)="onClick()"
>
	<button mat-button (mousedown)="clear($event)">
		<div class="center-vertical">
			<mat-icon>clear</mat-icon>
			<span class="button-text">{{ 'clear_msgs' | translate }}</span>
		</div>
	</button>
	<button mat-button (mousedown)="copy($event)" *ngIf="contextSelection && contextSelection.length > 0">
		<div class="center-vertical">
			<img src="assets/pics/icons/content-copy.png" />
			<span class="button-text">{{ 'copy' | translate }}</span>
		</div>
	</button>
</ul>