<div class="mat-typography">
	<div class="title mat-elevation-z1"><mat-icon>add</mat-icon>&nbsp;&nbsp;{{ 'frames.new.' + data | translate }}</div>
	<div class="name-wrapper">
		<mat-form-field>
			<input
				matInput
				placeholder="{{ 'frames.name.' + data | translate }}"
				[formControl]="name"
				maxlength="32"
				virtualKeyboard
				ktype="text"
			/>
			<mat-error *ngIf="name.invalid">{{ 'error.invalid_var_name' | translate }}</mat-error>
		</mat-form-field>
		<!-- <mat-checkbox color="primary" [(ngModel)]="isArray">{{ 'arr' | translate }}</mat-checkbox> -->
		<mat-form-field *ngIf="isArray" style="margin-top: 8px;">
			<input
				matInput
				placeholder="{{ 'arr_size' | translate }}"
				[(ngModel)]="arrSize"
				
				virtualKeyboard
				ktype="numeric_int_pos"
			/>
		</mat-form-field>
		<div *ngIf="!isArray" style="margin-top: 8px;">
			<div class="label">{{ 'values' | translate }}</div>
			<div class="values">
				<mat-form-field
					*ngFor="let legend of dataService.robotCoordinateType.legends; let i = index"
					floatLabel="never"
				>
					<span matPrefix style="font-weight: bold;"
						>{{ dataService.robotCoordinateType.legends[i] }}:&nbsp;&nbsp;</span
					>
					<input
						matInput
						[placeholder]="dataService.robotCoordinateType.legends[i]"
						[(ngModel)]="this.values[i]"
						virtualKeyboard
						ktype="numeric"
					/>
				</mat-form-field>
			</div>
		</div>
	</div>
	<div class="actions">
		<button mat-button mat-dialog-close>
			{{ 'button.cancel' | translate }}
		</button>
		<button mat-raised-button color="primary" (click)="add()" [disabled]="name.invalid || (isArray && arrSize < 1) || !validateValues" style="text-transform: uppercase;">
			{{ 'frames.create.' + data | translate }}
		</button>
	</div>
</div>
