<div class="main mat-typography">
	<div class="wrapper">
		<div class="title">{{ 'pallets.create' | translate }}</div>
		<div class="content">
			<mat-form-field
				><input
					matInput
					placeholder="{{ 'pallets.name' | translate }}"
					[(ngModel)]="palletName"
					virtualKeyboard
					ktype="text"
			/></mat-form-field>
			<div>
				<mat-form-field>
					<mat-select placeholder="{{ 'pallets.type' | translate }}" [(ngModel)]="palletType">
						<mat-option *ngFor="let t of dataService.palletTypeOptions" value="t">{{ ('pallets.type_' + t) | translate }}</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div>
				<mat-checkbox [(ngModel)]="showWizard" color="primary">{{ 'pallets.wizard_open' | translate }}</mat-checkbox>
			</div>
		</div>
	</div>
	<div class="actions">
		<button mat-button color="primary" (click)="cancel()">
			{{ 'button.cancel' | translate }}
		</button>
		<button
			mat-button
			color="primary"
			(click)="insert()"
			[disabled]="palletName == null || palletName.length === 0 || palletType === null"
		>
			{{ 'button.create' | translate }}
		</button>
	</div>
</div>
