<div class="main mat-typography">
	<div class="wrapper">
		<div class="title">{{ 'pallets.create' | translate }}</div>
		<div class="content">
			<!-- <mat-form-field
				><input
					matInput
					placeholder="{{ 'pallets.name' | translate }}"
					[(ngModel)]="palletName"
					virtualKeyboard
					ktype="text"
            /></mat-form-field> -->
            <div class="options">
                <custom-key-board type="string" placeHolder="{{ 'pallets.name' | translate }}"
                    [(value)]="palletName" [maxLength]="32" [nameRules]="true" (isValidEvent)="onValidEvent($event)"
                ></custom-key-board>
            </div>
			<mat-form-field class="options">
				<mat-select placeholder="{{ 'pallets.type' | translate }}" [(ngModel)]="palletType">
					<mat-option *ngFor="let t of dataService.palletTypeOptions" [value]="t">{{ ('pallets.type_' + t) | translate }}</mat-option>
				</mat-select>
			</mat-form-field>
			<div>
				<mat-checkbox [(ngModel)]="showWizard" color="primary">{{ 'pallets.wizard_open' | translate }}</mat-checkbox>
			</div>
		</div>
	</div>
	<div class="actions">
		<button mat-button color="primary" (click)="cancel()">
			{{ 'button.cancel' | translate }}
		</button>
		<button
			mat-button
			color="primary"
			(click)="insert()"
			[disabled]="palletName == null || !validName || palletType === null"
		>
			{{ 'button.create' | translate }}
		</button>
	</div>
</div>
