<div class="main mat-typography">
  <div class="wrapper">
    <div class="title">{{this.data.title}}</div>
    <div class="content">
      <mat-slide-toggle *ngIf="!data.must" [(ngModel)]="advancedMode" style="margin-bottom: 8px;" color="primary">Advanced</mat-slide-toggle>
      <mat-form-field *ngIf="advancedMode">
        <mat-select placeholder="Motion Element" [(ngModel)]="motionElement">
          <mat-option *ngFor="let e of dataService.robots" [value]="e">{{e}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="actions">
    <button mat-button color="primary" (click)="cancel()">CANCEL</button>
    <button mat-button color="primary" (click)="insert()" [disabled]="this.motionElement == null && this.data.must">INSERT</button>
  </div>
</div>