div {
  background: red;
  -webkit-box-shadow: 0px 0px 16px 0px red;
  -moz-box-shadow: 0px 0px 16px 0px red;
  box-shadow: 0px 0px 16px 0px red;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  margin: 8px;
  cursor: pointer;
}
.green {
  background: lime;
  -webkit-box-shadow: 0px 0px 16px 0px lime;
  -moz-box-shadow: 0px 0px 16px 0px lime;
  box-shadow: 0px 0px 16px 0px lime;
}