<div class="wrapper mat-typography">
  <div class="title primary-bg">
    {{ 'dashboard.record.title' | translate }}
  </div>
  <div class="content">
    <mat-form-field>
      <input
        placeholder="{{ 'duration' | translate }}"
        matInput
        [(ngModel)]="duration"
        virtualKeyboard
        ktype="numeric_int_pos"
      />
      <span matSuffix>ms.</span>
    </mat-form-field>
    <mat-slide-toggle color="primary" #advanced style="margin: 16px 0;">
      {{ 'advanced' | translate }}
    </mat-slide-toggle>
    <mat-form-field *ngIf="advanced.checked">
      <input
        type="text"
        placeholder="{{ 'files.name' | translate }}"
        matInput
        [formControl]="fileName"
        virtualKeyboard
        ktype="text"
      />
      <span matSuffix>.REC</span>
    </mat-form-field>
    <mat-form-field *ngIf="advanced.checked">
      <input
      placeholder="{{ 'gap' | translate }}"
      matInput
      [(ngModel)]="gap"
      virtualKeyboard
      ktype="numeric_int_pos"
      />
      <span matSuffix>{{ 'gap_units' | translate }}</span>
    </mat-form-field>
  </div>
</div>
<div class="actions">
  <button mat-button mat-dialog-close>
    {{ 'button.cancel' | translate }}
  </button>
  <button
    mat-button
    color="primary"
    (click)="record()"
    [disabled]="
      (data && data.params.length === 0 && recMode === '1') ||
      duration === null ||
      gap < 1 ||
      duration < 10 ||
      fileName.invalid
    "
  >
    {{ 'dashboard.record.btnStart' | translate }}
  </button>
</div>
