<div class="main mat-typography">
  <div class="wrapper">
    <div class="title">{{'projectCommands.pallet_index.title'|translate}}</div>
    <div class="content">
      <mat-form-field>
        <mat-select placeholder="{{'pallet'|translate}}" [(ngModel)]="pallet">
          <mat-option *ngFor="let p of dataService.pallets" [value]="p">{{ p.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-radio-group [(ngModel)]="option">
        <mat-radio-button value="full" color="primary">{{'pallets.wizard.index_full'|translate}}</mat-radio-button>
        <mat-radio-button value="empty" color="primary">{{'pallets.wizard.index_empty'|translate}}</mat-radio-button>
        <mat-radio-button value="custom" color="primary">
          <span *ngIf="pallet === null || option !== 'custom'">{{'pallets.wizard.index_custom'|translate}}</span>
          <mat-form-field class="input-normal" *ngIf="pallet !== null && option === 'custom'">
            <input matInput placeholder="{{'pallets.wizard.index_custom'|translate}}" [(ngModel)]="pallet.index" virtualKeyboard ktype="numeric">
          </mat-form-field>
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div class="actions">
    <button mat-button mat-dialog-close>{{'button.cancel'|translate}}</button>
    <button mat-button color="primary" (click)="insert()" [disabled]="option === null || pallet === null || (option === 'custom' && (pallet.index < 0 || isNumberInvalid(pallet.index)))">{{'button.insert'|translate}}</button>
  </div>
</div>