<div class="wrapper" [class.disabled]="isEditorDisabled">
	<div #ace class="editor" tourAnchor="program-editor-ace"></div>
	<div class="tooltip mat-elevation-z1" *ngIf="tooltipVisible" [style.top.px]="tooltipY" [style.left.px]="tooltipX">
		{{ lastWord }}: {{ tooltipValue }}
	</div>
	<img src="assets/pics/{{ env.platform.spinner }}" *ngIf="service.busy" class="spinner">
</div>
<!-- <mat-form-field class="hidden">
	<input
		matInput
		placeholder=""
		[(ngModel)]="dummyText"
		virtualKeyboard
		ktype="text"
		#dummyInput
		(onKeyboardClose)="onDummyKeyboardClose()"
		enableLineDelete="true"
		(onLineDelete)="deleteLine()"
	/>
</mat-form-field> -->
<custom-key-board
    class="hidden"
    type="string"
    [(value)]="dummyText"
    [isCommand]="false"
    (blurEvent)="onDummyKeyboardClose()"
    [isProgram]="true"
    (onLineDelete)="deleteLine()"
    #dummyInput
></custom-key-board>
<button
	mat-fab
	*ngIf="cmn.isTablet && !login.isViewer && !login.isOperator && service.status && service.status.statusCode < 0"
	class="fab"
	(click)="showKeyboard()"
>
	<mat-icon>keyboard</mat-icon>
</button>
