<div class="wrapper">
  <mat-tab-group
    animationDuration="0ms"
    *ngIf="service.modeToggle === 'mc'"
    [selectedIndex]="service.selectedTabIndex"
    (selectedIndexChange)="service.onTabChange($event)"
  >
    <mat-tab *ngFor="let tab of service.tabs; let i = index">
      <ng-template mat-tab-label>
        <span [matTooltip]="tab.path + tab.file" [matTooltipDisabled]="!tab.path || tab.path.length === 0">{{ tab.file }}</span>
        <mat-icon *ngIf="service.selectedTabIndex === i" (click)="service.closeTab(i)">close</mat-icon>
        <div class="icon-placeholder" *ngIf="service.selectedTabIndex !== i"></div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  <div class="center-vertical program-name" *ngIf="service.mode === 'editor' && service.modeToggle !== 'mc'">
    <h1>
      {{ service.activeFile ? service.activeFile : ('files.no_file' | translate) }}
    </h1>
    <span *ngIf="!appDescEditMode && service.fileRef" class="mat-subtitle-color app-desc">
      {{
        service.fileRef.desc && service.fileRef.desc.length > 0
          ? service.fileRef.desc
          : ('projectSettings.apps.app_desc_none' | translate)
      }}
    </span>
    <mat-form-field *ngIf="appDescEditMode && service.fileRef">
      <input
        matInput
        placeholder="{{ 'projectSettings.apps.app_desc' | translate }}"
        [(ngModel)]="service.fileRef.desc"
      />
    </mat-form-field>
    <button *ngIf="service.fileRef" mat-icon-button color="primary" (click)="onAppDescSave()">
      <mat-icon>{{ appDescEditMode ? 'save' : 'edit' }}</mat-icon>
    </button>
  </div>
  <div class="editor-wrapper" *ngIf="service.mode === 'editor'">
    <div
      class="toolbar center-vertical mat-elevation-z2"
      tourAnchor="project-toolbar-2"
      *ngIf="status !== null"
      [class.busy]="service.busy"
    >
      <mat-icon
        *ngIf="!login.isOperator && !login.isViewer"
        (click)="status.statusCode > -1 && !service.isLib ? null : service.save()"
        matTooltip="{{ 'projects.toolbar.save' | translate }}"
        [class.disabled]="status.statusCode > -1 && !service.isLib"
        >save</mat-icon
      >
      <mat-icon (click)="service.download()" matTooltip="{{ 'projects.toolbar.download' | translate }}"
        >file_download</mat-icon
      >
      <div class="center-vertical" *ngIf="status.statusCode !== -2">
        <!--NOT A SYSTEM FILE -->
        <div class="separator"></div>
        <img
          src="assets/pics/icons/load.png"
          *ngIf="!login.isViewer && (service.activeFilePath === null || !service.activeFilePath.includes('/DEPENDENCIES/'))"
          (click)="status.statusCode !== taskStates[0] ? null : service.load()"
          tourAnchor="saveAndLoad"
          matTooltip="{{ 'projects.toolbar.save_load' | translate }}"
          [class.disabled]="status.statusCode !== taskStates[0]"
        />
        <img
          src="assets/pics/icons/unload.png"
          *ngIf="!service.isSelectedBKG && !service.fileRef && !login.isViewer && (service.activeFilePath === null || !service.activeFilePath.includes('/DEPENDENCIES/'))"
          (click)="status.statusCode === taskStates[0] ? null : service.unload()"
          matTooltip="{{ 'projects.toolbar.unload' | translate }}"
          [class.disabled]="status.statusCode === taskStates[0]"
        />
        <mat-icon
          (click)="status.statusCode === taskStates[0] ? null : service.kill()"
          *ngIf="!login.isViewer && !service.isLib"
          matTooltip="{{ (service.fileRef ? 'projects.toolbar.kill' : 'projects.toolbar.kill_only') | translate }}"
          [class.disabled]="status.statusCode === taskStates[0]"
          >stop</mat-icon
        >
        <mat-icon
          (click)="status.statusCode === taskStates[0] ? null : service.run()"
          tourAnchor="programRun"
          *ngIf="!login.isViewer && !service.isLib"
          matTooltip="{{ 'projects.toolbar.run' | translate }}"
          [class.disabled]="status.statusCode === taskStates[0]"
          >play_arrow</mat-icon
        >
        <mat-icon
          (click)="status.statusCode === taskStates[0] ? null : service.jump()"
          *ngIf="!login.isViewer && !service.isLib"
          matTooltip="{{ 'projects.toolbar.jtl' | translate }}"
          [class.disabled]="status.statusCode === taskStates[0]"
          >skip_next</mat-icon
        >
        <mat-icon
          (click)="status.statusCode !== taskStates[1] ? null : service.idle()"
          *ngIf="!service.fromProject && !login.isViewer && !service.isLib"
          matTooltip="{{ 'projects.toolbar.idle' | translate }}"
          [class.disabled]="status.statusCode !== taskStates[1]"
          >pause</mat-icon
        >
        <div class="separator" *ngIf="!login.isViewer && (service.activeFilePath === null || !service.activeFilePath.includes('/DEPENDENCIES/'))"></div>
        <img
          src="assets/pics/icons/step_over.png"
          *ngIf="!login.isViewer && (service.activeFilePath === null || !service.activeFilePath.includes('/DEPENDENCIES/'))"
          (click)="isStepDisabled ? null : service.stepOver()"
          matTooltip="{{ 'projects.toolbar.stp_over' | translate }}"
          [class.disabled]="isStepDisabled"
        />
        <img
          src="assets/pics/icons/step_into.png"
          *ngIf="!login.isViewer && (service.activeFilePath === null || !service.activeFilePath.includes('/DEPENDENCIES/'))"
          (click)="isStepDisabled ? null : service.stepInto()"
          matTooltip="{{ 'projects.toolbar.stp_into' | translate }}"
          [class.disabled]="isStepDisabled"
        />
        <img
          src="assets/pics/icons/step_out.png"
          *ngIf="!login.isViewer && (service.activeFilePath === null || !service.activeFilePath.includes('/DEPENDENCIES/'))"
          (click)="isStepDisabled ? null : service.stepOut()"
          matTooltip="{{ 'projects.toolbar.stp_out' | translate }}"
          [class.disabled]="isStepDisabled"
        />
        <div class="separator" *ngIf="!login.isViewer && (service.activeFilePath === null || !service.activeFilePath.includes('/DEPENDENCIES/'))"></div>
        <div class="status" *ngIf="status">
          {{ 'status' | translate }}:
          <span
            tourAnchor="programStatus"
            [class.primary]="status.statusCode === taskStates[1]"
            [class.warn]="
              status.statusCode === taskStates[0] || status.statusCode === taskStates[3]
            "
          >
            {{ ('projects.status.' + status.statusCode) | translate }}
          </span>
        </div>
      </div>
    </div>
    <program-editor-ace *ngIf="!!service.activeFile"></program-editor-ace>
    <div class="no-file" *ngIf="!service.activeFile"></div>
  </div>
</div>