.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.mat-icon {
  margin-right: 8px;
}
.mat-tab-link {
  min-width: auto;
}
::ng-deep router-outlet.screens ~ * {
  overflow: auto;
  flex: 1;
}