<div class="main-wrapper">
  <div class="loader mat-elevation-z6" *ngIf="isLoading">
    <img src="assets/pics/{{env.theme.spinner}}">
    {{'simulator_screen.loading'|translate}}
  </div>
  <div class="toolbar">
    <button matTooltip="{{'simulator_screen.cube'|translate}}" (click)="addObject('Cube')"><img src="assets/pics/icons/cube.png"></button>
    <button matTooltip="{{'simulator_screen.sphere'|translate}}" (click)="addObject('Sphere')"><img src="assets/pics/icons/sphere.png"></button>
    <button matTooltip="{{'simulator_screen.cylinder'|translate}}" (click)="addObject('Cylinder')"><img src="assets/pics/icons/cylinder.png"></button>
  </div>
  <as-split direction="horizontal" (dragEnd)="onDragEnd()">
      <as-split-area size="15" class="side-panel">
        <as-split direction="vertical">
          <as-split-area size="50">
            <objects-list></objects-list>
          </as-split-area>
          <as-split-area size="50">
            <object-properties [lastSelectedNode]="sim.lastSelectedNode.value"></object-properties>
          </as-split-area>
        </as-split>
      </as-split-area>
    <as-split-area size="85">
      <div class="wrapper" #threejs></div>
    </as-split-area>
  </as-split>
</div>