.wrapper,
.terminal {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.disabled {
  cursor: not-allowed;
}
.terminal div,
.terminal input {
  user-select: text;
  font-family: 'cs-monospace';
}
input {
  outline: none;
  border: 0;
  flex: 1;
}
.fab {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 6;
}
.file-input {
  visibility: hidden;
  position: absolute;
  right: 0;
  bottom: 0;
}
.hidden {
  width: 0 !important;
  height: 0 !important;
}
.context-menu {
  position: absolute;
  background: #fff;
  z-index: 6;
}
.context-menu mat-icon,
.context-menu img {
  font-size: 18px;
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.context-menu .button-text {
  font-size: 13px;
  font-weight: 400;
}
.context-menu button {
  padding: 0 32px 0 8px;
  display: block;
  width: 100%;
}
::ng-deep .context-menu .mat-button-wrapper {
  display: flex;
  align-items: center;
}
.editor {
  flex: 1;
}
.row {
  flex: 1;
  cursor: text;
  height: 16px;
}
.restricted {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 23px;
  text-align: center;
}
