<div class="wrapper mat-typography" (click)="onClick($event)" *ngIf="login.isAdmin">
	<div class="terminal" #wrapper>
		<div class="editor" #editorDiv></div>
	</div>
</div>
<div class="wrapper disabled" *ngIf="!login.isAdmin"></div>
<!-- <mat-form-field class="hidden">
	<input
		matInput
		placeholder=""
		[(ngModel)]="dummyText"
		virtualKeyboard 
		showArrows="true"
		ktype="text"
		#dummyInput
		(onKeyboardClose)="onDummyKeyboardClose()"
	/>
</mat-form-field> -->
<custom-key-board
    class="hidden"
    type="string"
    [(value)]="dummyText"
    [isCommand]="true"
    (blurEvent)="onDummyKeyboardClose()"
    #dummyInput
></custom-key-board>
<button mat-fab *ngIf="cmn.isTablet && login.isAdmin" class="fab" (click)="showKeyboard()">
	<mat-icon>keyboard</mat-icon>
</button>
<div class="restricted" *ngIf="cmn.isTablet && !login.isAdmin">
	{{ 'terminal_restricted' | translate:{user: login.permission} }}
</div>