<div class="wrapper" (contextmenu)="onContextMenu($event)" (click)="onClick()">
  <!--<button mat-fab class="fab" (click)="openScriptDialog()" color="primary"><mat-icon>description</mat-icon></button>-->
  <input type="file" accept=".trm, .TRM" #upload (change)="onUploadFilesChange($event)" class="file-input" />
  <div style="wrapper" #wrapper>
    <div class="terminal-row" *ngFor="let row of terminal.cmds">
      <div class="center-vertical">
        <div style="margin-right: 8px;">--></div>
        <div>{{row.cmd}}</div>
      </div>
      <div style="white-space: pre;">{{row.result}}</div>
    </div>
    <div class="center-vertical">
      <div style="margin-right: 8px;">--></div>
      <div class="editor" #editorLine></div>
    </div>
  </div>
  <ul class="context-menu mat-elevation-z10" *ngIf="contextMenuShown" [style.top.px]="contextMenuY" [style.left.px]="contextMenuX">
    <button mat-button color="primary" (click)="clear()"><mat-icon>clear</mat-icon>Clear Terminal</button>
  </ul>
</div>