<div class="log-book-warpper">
    <div class="clear-actions">
        <button mat-raised-button color="primary" (click)="clearAllLogHistory()" [disabled]="allLogs.length === 0">
            {{ 'sys_log.clear_all_log' | translate }}
        </button>
        <button mat-raised-button color="primary" (click)="clearAllDriveFault()" [disabled]="dirveLogs.length === 0">
            {{ 'sys_log.clear_all_drive_fault' | translate }}
        </button>
    </div>
    <mat-card class="main-card">
        <mat-card-content>
            <mat-card class="log-filter-box">
                <div class="filter-box">
                    <div class="box">
                        <b>{{ 'sys_log.sources' | translate }}</b>
                    </div>
                    <div class="box">
                        <b>{{ 'sys_log.types' | translate }}</b>
                    </div>
                </div>
                <div class="filter-box">
                    <div class="box">
                        <mat-checkbox color="primary" (change)="onFilter()" [(ngModel)]="showFirm"></mat-checkbox>
                        <span>{{ 'sys_log.firmware' | translate }}</span>
                    </div>
                    <div class="box">
                        <mat-checkbox color="primary" (change)="onFilter()" [(ngModel)]="showError"></mat-checkbox>
                        <mat-icon aria-hidden="false" class="warn" aria-label="Example home icon">cancel</mat-icon>
                        <span>{{ 'sys_log.error' | translate }}</span>
                    </div>
                </div>
                <div class="filter-box">
                    <div class="box">
                        <mat-checkbox color="primary" (change)="onFilter()" [(ngModel)]="showDrive"></mat-checkbox>
                        <span>{{ 'sys_log.drive' | translate }}</span>
                    </div>
                    <div class="box">
                        <mat-checkbox color="primary" (change)="onFilter()" [(ngModel)]="showWarn"></mat-checkbox>
                        <mat-icon aria-hidden="false" color="primary" aria-label="Example home icon">warning</mat-icon>
                        <span>{{ 'sys_log.warning' | translate }}</span>
                    </div>
                </div>
                <div class="filter-box">
                    <div class="box">
                        <mat-checkbox color="primary" (change)="onFilter()" [(ngModel)]="showLib"></mat-checkbox>
                        <span>{{ 'sys_log.library' | translate }}</span>
                    </div>
                    <div class="box">
                        <mat-checkbox color="primary" (change)="onFilter()" [(ngModel)]="showInfo"></mat-checkbox>
                        <mat-icon aria-hidden="false" color="accent" aria-label="Example home icon">info</mat-icon>
                        <span>{{ 'sys_log.info' | translate }}</span>
                    </div>
                </div>
                <div class="filter-box">
                    <div class="box">
                        <mat-checkbox color="primary" (change)="onFilter()" [(ngModel)]="showServe"></mat-checkbox>
                        <span>{{ 'sys_log.web_server' | translate }}</span>
                    </div>
                    <div class="box">
                    </div>
                </div>
            </mat-card>
            <mat-accordion>
                <ng-container *ngFor="let item of visiableLogs">
                    <mat-expansion-panel #thePanel>
                        <mat-expansion-panel-header expandedHeight="auto">
                            <app-log-profile [log]="item" [ngStyle]="{'width': '100%'}" [expanded]="thePanel.expanded"></app-log-profile>
                        </mat-expansion-panel-header><br />
                        <app-log-details [log]="item"></app-log-details>
                    </mat-expansion-panel>
                </ng-container>
            </mat-accordion>
            <mat-paginator (page)="pageChange($event)" [pageIndex]="pageIndex" [length]="filteredLogs.length" [pageSize]="pageSize" [pageSizeOptions]="[10]">
            </mat-paginator>
        </mat-card-content>
    </mat-card>
</div>
