.wrapper {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  padding: 0;
  flex-direction: column;
}
.editor-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}
program-toolbar { z-index: 10; }
program-editor-side-menu {   min-width: 20%; }
.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.program-name {
  font-size: 24px;
  font-weight: 600;
  padding: 16px 16px 8px 16px;
  height: 36px;
  margin: 0;
}
program-editor-ace { flex: 1;}
.toolbar { padding: 8px; }
.toolbar mat-icon, .toolbar img {
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  outline: none;
  padding: 3px;
  height: 24px;
  opacity: 0.7;
  line-height: 24px;
  list-style: none;
  text-decoration: none;
  vertical-align: middle;
  color: #333;
}
.toolbar img {height: 20px; padding: 7px;}
.toolbar mat-icon:hover:not(.disabled), .toolbar img:hover:not(.disabled) {
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  border: 1px solid #888;
  opacity: 1;
}
.separator {
  width: 1px;
  background-color: #888;
  height: 24px;
  margin: 8px;
  border: 0;
  outline: 0;
}
.toolbar mat-icon.disabled, .toolbar img.disabled {
  cursor: not-allowed;
  color: #ccc!important;
}
.toolbar img.disabled { opacity: 0.15; }
.status span { font-weight: 500; }
.notifications {
  padding: 8px;
  height: 20%;
  min-height: 100px;
  overflow: auto;
  max-height: 250px;
  white-space: pre;
  border-top: 1px solid #888;
}
@media (max-height: 650px) {
  .wrapper { padding-left: 15px; }
}
.error-line {
  line-height: 2;
  color: #880000;
}
.error-line:hover {
  font-weight: bold;
  cursor: pointer;
}