<div class="wrapper" [class.tablet-ui]="cmn.isTablet">
  <program-toolbar tourAnchor="project-toolbar-1" *ngIf="!login.isViewer"></program-toolbar>
  <div class="blocker" *ngIf="prj.isLoading"></div>
  <as-split direction="horizontal" (dragEnd)="onDragEnd()">
      <as-split-area size="20">
        <program-editor-side-menu class="mat-elevation-z1"></program-editor-side-menu>
      </as-split-area>
      <as-split-area [size]="service.mode === 'editor' && !login.isOperator && !login.isViewer ? 65 : 80">
        <as-split direction="vertical" (dragEnd)="onDragEnd()">
          <as-split-area size="80" class="right-side" style="position: relative;">
            <h1 class="program-name" *ngIf="service.mode === 'editor'">{{service.activeFile ? service.activeFile : 'files.no_file' | translate}}</h1>
            <div class="editor-wrapper" *ngIf="service.mode === 'editor'">
              <div class="toolbar center-vertical" tourAnchor="project-toolbar-2" *ngIf="service.status">
                <mat-icon *ngIf="!login.isOperator && !login.isViewer" (click)="service.save()" matRipple matTooltip="{{'projects.toolbar.save'|translate}}" [class.disabled]="service.status.statusCode > -1">save</mat-icon>
                <mat-icon (click)="service.download()" matTooltip="{{'projects.toolbar.download'|translate}}">file_download</mat-icon>
                <div class="center-vertical" *ngIf="service.status.statusCode !== -2"><!--NOT A SYSTEM FILE -->
                  <div class="separator"></div>
                  <img src="assets/pics/icons/load.png" *ngIf="!login.isViewer" (click)="service.load()" matTooltip="{{'projects.toolbar.save_load'|translate}}" [class.disabled]="service.status.statusCode !== taskStates[0]">
                  <img src="assets/pics/icons/unload.png" *ngIf="!service.fileRef && !login.isViewer" (click)="service.unload()" matTooltip="{{'projects.toolbar.unload'|translate}}" [class.disabled]="service.status.statusCode === taskStates[0]">
                  <mat-icon (click)="service.kill()" *ngIf="!login.isViewer" matTooltip="{{'projects.toolbar.kill'|translate}}" [class.disabled]="service.status.statusCode === taskStates[0]">stop</mat-icon>
                  <mat-icon (click)="service.run()" *ngIf="!login.isViewer" matTooltip="{{'projects.toolbar.run'|translate}}" [class.disabled]="service.status.statusCode === taskStates[0]">play_arrow</mat-icon>
                  <mat-icon (click)="service.jump()" *ngIf="!login.isViewer" matTooltip="{{'projects.toolbar.jtl'|translate}}" [class.disabled]="service.status.statusCode === taskStates[0]">skip_next</mat-icon>
                  <mat-icon (click)="service.idle()" *ngIf="!service.fromProject && !login.isViewer" matTooltip="{{'projects.toolbar.idle'|translate}}" [class.disabled]="service.status.statusCode !== taskStates[1]">pause</mat-icon>
                  <div class="separator" *ngIf="!login.isViewer"></div>
                  <img src="assets/pics/icons/step_over.png" *ngIf="!login.isViewer" (click)="service.stepOver()" matTooltip="{{'projects.toolbar.stp_over'|translate}}" [class.disabled]="isStepDisabled">
                  <img src="assets/pics/icons/step_into.png" *ngIf="!login.isViewer" (click)="service.stepInto()" matTooltip="{{'projects.toolbar.stp_into'|translate}}" [class.disabled]="isStepDisabled">
                  <img src="assets/pics/icons/step_out.png" *ngIf="!login.isViewer" (click)="service.stepOut()" matTooltip="{{'projects.toolbar.stp_out'|translate}}" [class.disabled]="isStepDisabled">
                  <div class="separator" *ngIf="!login.isViewer"></div>
                  <div class="status" *ngIf="service.status">{{'status'|translate}}:
                    <span
                      [class.primary]="service.status.statusCode === taskStates[1]"
                      [class.warn]="service.status.statusCode === taskStates[0] || service.status.statusCode === taskStates[3]">
                        {{service.status.name}}
                    </span>
                  </div>
                </div>
              </div>
              <program-editor-ace></program-editor-ace>
            </div>
            <data-screen *ngIf="service.mode === 'data'" style="overflow: auto; flex: 1;"></data-screen>
            <program-settings *ngIf="service.mode === 'settings'" style="overflow: auto; flex: 1;"></program-settings>
            <frames *ngIf="service.mode === 'frames'" style="overflow: auto; flex: 1;"></frames>
            <pallet-screen *ngIf="service.mode === 'pallets'" style="flex: 1; display: flex;"></pallet-screen>
            <gripper-screen *ngIf="service.mode === 'grippers'" style="flex: 1; display: flex;"></gripper-screen>
            <app-payload-wizard *ngIf="service.mode === 'payloads'" style="flex: 1; display: flex;"></app-payload-wizard>
            <io-mapping *ngIf="service.mode === 'io'" style="flex: 1; display: flex;"></io-mapping>
          </as-split-area>
          <as-split-area size="20" *ngIf="service.mode === 'editor'" style="padding: 8px;">
            <div *ngIf="service.errors.length > 0">{{'projects.notification.errMsg'|translate}}</div>
            <div 
          *ngFor="let e of service.errors"
              class="center-vertical error-line"
              (click)="e.number === -1 ? null : service.skipToLine(e.number)"
              [class.error-line-selectable]="e.number !== -1">
              <mat-icon style="margin-right: 8px;">bug_report</mat-icon>
              <span *ngIf="e.number !== -1">Line {{e.number+':'}}&nbsp;&nbsp;</span>
              <span *ngIf="e.number === -1">Task {{e.file+':'}}&nbsp;&nbsp;</span>
              {{e.error}}
            </div>
            <div *ngIf="service.errors.length === 0 && !service.backtrace">{{'projects.notification.none'|translate}}</div>
            <div *ngIf="service.backtrace" class="backtrace">{{service.backtrace.str}}</div>
          </as-split-area>
        </as-split>
      </as-split-area>
      <as-split-area size="15" style="padding: 8px; box-sizing: border-box;" *ngIf="service.mode === 'editor' && !login.isOperator && !login.isViewer">
        <program-edit-menu class="mat-elevation-z1"></program-edit-menu>
      </as-split-area>
  </as-split>
</div>