<div class="wrapper">
  <program-toolbar tourAnchor="project-toolbar-1"></program-toolbar>
  <split direction="horizontal" (dragEnd)="onDragEnd()">
      <split-area size="20">
        <program-editor-side-menu class="mat-elevation-z1"></program-editor-side-menu>
      </split-area>
      <split-area [size]="service.mode === 'editor' ? 65 : 80">
        <split direction="vertical" (dragEnd)="onDragEnd()">
          <split-area size="90" class="right-side" style="position: relative;">
            <h1 class="program-name" *ngIf="service.mode === 'editor'">{{service.activeFile ? service.activeFile : 'No File Selected'}}</h1>
            <div class="editor-wrapper" *ngIf="service.mode === 'editor'">
              <div class="toolbar center-vertical" tourAnchor="project-toolbar-2" *ngIf="service.status">
                <mat-icon (click)="service.save()" matRipple matTooltip="Save" [class.disabled]="service.status.statusCode !== taskStates[0]">save</mat-icon>
                <mat-icon (click)="service.download()" matTooltip="Download">file_download</mat-icon>
                <div class="separator"></div>
                <img src="assets/pics/icons/load.png" (click)="service.load()" matTooltip="Save and Load" [class.disabled]="service.status.statusCode !== taskStates[0]">
                <img src="assets/pics/icons/unload.png" *ngIf="!service.fileRef" (click)="service.unload()" matTooltip="Unload" [class.disabled]="service.status.statusCode === taskStates[0]">
                <mat-icon (click)="service.kill()" matTooltip="Kill" [class.disabled]="service.status.statusCode === taskStates[0]">stop</mat-icon>
                <mat-icon (click)="service.run()" matTooltip="Run" [class.disabled]="service.status.statusCode === taskStates[0]">play_arrow</mat-icon>
                <mat-icon (click)="service.jump()" matTooltip="Jump to line" [class.disabled]="service.status.statusCode === taskStates[0]">skip_next</mat-icon>
                <mat-icon (click)="service.idle()" *ngIf="!service.fromProject" matTooltip="Idle" [class.disabled]="service.status.statusCode !== taskStates[1]">pause</mat-icon>
                <div class="separator"></div>
                <img src="assets/pics/icons/step_over.png" (click)="service.stepOver()" matTooltip="Step Over" [class.disabled]="service.status.statusCode === taskStates[0]">
                <img src="assets/pics/icons/step_into.png" (click)="service.stepInto()" matTooltip="Step Into" [class.disabled]="service.status.statusCode === taskStates[0]">
                <img src="assets/pics/icons/step_out.png" (click)="service.stepOut()" matTooltip="Step Out" [class.disabled]="service.status.statusCode === taskStates[0]">
                <div class="separator"></div>
                <div class="status" *ngIf="service.status">Status:
                  <span
                    [class.primary]="service.status.statusCode === taskStates[1]"
                    [class.warn]="service.status.statusCode === taskStates[0] || service.status.statusCode === taskStates[3]">
                      {{service.status.name}}
                  </span>
                </div>
              </div>
              <program-editor-ace></program-editor-ace>
            </div>
            <data-screen *ngIf="service.mode === 'data'" style="overflow: auto; flex: 1;"></data-screen>
            <program-settings *ngIf="service.mode === 'settings'" style="overflow: auto; flex: 1;"></program-settings>
            <frames *ngIf="service.mode === 'frames'" style="overflow: auto; flex: 1;"></frames>
            <pallet-screen *ngIf="service.mode === 'pallets'" style="flex: 1; display: flex;"></pallet-screen>
            <gripper-screen *ngIf="service.mode === 'grippers'" style="flex: 1; display: flex;"></gripper-screen>
            <app-payload-wizard *ngIf="service.mode === 'payloads'" style="flex: 1; display: flex;"></app-payload-wizard>
            <io-mapping *ngIf="service.mode === 'io'" style="flex: 1; display: flex;"></io-mapping>
          </split-area>
          <split-area size="10" *ngIf="service.mode === 'editor'">
            <div *ngIf="service.errors.length > 0">Errors found in the following lines (click to jump there):</div>
            <div class="error-line" *ngFor="let e of service.errors" (click)="service.skipToLine(e.number)">{{e.number+':'+e.error}}</div>
            <div *ngIf="service.errors.length === 0">No compilation errors.</div>
          </split-area>
        </split>
      </split-area>
      <split-area size="15" style="padding: 8px; box-sizing: border-box;" *ngIf="service.mode === 'editor'">
        <program-edit-menu class="mat-elevation-z1"></program-edit-menu>
      </split-area>
  </split>
</div>