.keyboard {
  display: flex;
  flex-direction: column;
  max-width: 750px;
  align-items: center;
  background: #d0d0d0;
  padding: 1em;
  margin-left: -24px;
  margin-right: -24px;
  margin-bottom: -24px;
}
.input-wrapper {
  margin-bottom: 12px;
}
.input-container {
  overflow: hidden;
  margin-right: 16px;
  position: relative;
  white-space: pre;
  flex:1;
  height: 50px;
}
.placeholder {
  font-size: 14px;
  font-weight: bold;
}
.display{
  font-size: 24px;
  font-family: monospace;
  position: absolute;
  left: 0;
  padding-right: 14px;
  box-sizing: border-box;
  min-width: 100%;
}
.display button {
  margin-left: 24px;
}
.keyboard button {
  min-width: auto;
  margin: 2px;
  display: flex;
  box-shadow: 0 0 0 0;
  border-radius: 6px;
  background-color: #fafafa;
  color: #000;
  align-items: center;
}
.row {
  display: flex;
}
.space {
  width: 200px;
}
::ng-deep .virtual-keyboard .mat-input-element:disabled {
  color: #000;
}
::ng-deep .virtual-keyboard .mat-form-field-underline {
  display: none;
}
::ng-deep .tablet-ui .keyboard button {
  line-height: 48px;
  padding: 0 24px;
  font-size: 16px;
  min-height: 48px;
}
.blink {
  animation: blink-animation 1s steps(2, start) infinite;
  -webkit-animation: blink-animation 1s steps(2, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.cursor {
  width: 2px;
  background: #888;
  height: 24px;
  position: absolute;
}
