<div
  class="wrapper virtual-keyboard tablet-ui mat-typography"
  cdkDrag
  cdkDragRootElement=".cdk-overlay-pane"
  cdkDragBoundary="body">
  <div class="dragger" cdkDragHandle>
    <mat-icon>open_with</mat-icon>
  </div>
  <div class="input-wrapper center-vertical">
    <div class="input-container">
      <div class="placeholder mat-subtitle-color">{{ placeholder }}</div>
      <div class="display"
      #displayInput
      (panstart)="onSwipe($event,'start')"
      (panmove)="onSwipe($event,'move')"
      (panend)="onSwipe($event,'end')"
      (touchstart)="onInputTouch($event)">
        <div>{{data.keyboardType !== 'password' ? currValue : (currValue | passPipe)}}</div>
      </div>
      <div class="cursor blink" *ngIf="data.keyboardType && !data.keyboardType.startsWith('numeric') && cursorInitDone" [style.left.px]="cursorX"></div>
    </div>
    <button matSuffix mat-mini-fab (click)="up()" color="accent" *ngIf="data.showArrows && terminal.history.length > 0">
      <mat-icon>arrow_upward</mat-icon>
    </button>
    <button
      matSuffix
      mat-mini-fab
      (click)="down()"
      color="accent"
      *ngIf="data.showArrows && terminal.history.length > 0"
    >
      <mat-icon>arrow_downward</mat-icon>
    </button>
    <button matSuffix mat-fab (click)="accept()" color="primary">
      <mat-icon>done</mat-icon>
    </button>
  </div>
	<div class="keyboard">
		<div class="row" *ngFor="let row of layout">
			<button
				mat-raised-button
				*ngFor="let btn of row"
        [innerHTML]="btnToHtml(btn)"
        [disabled]="isBtnDisabled(btn)"
				[ngClass]="{
					space: btn === ' ',
					'key-down': (btn === 'arrow_upward' && _shiftMode) || (btn === 'more' && _moreMode)
				}"
				class="key"
				(touchstart)="onInput(btn, $event)"
				(touchend)="onKeyUp(btn, $event)"
				(contextmenu)="$event.preventDefault()"
			></button>
		</div>
	</div>
</div>
