table {
    text-align: left;
    min-width: 500px;
}
table td {
    padding: 16px;
}
thead {
    font-weight: bold;
    opacity: 0.56;
}
tbody tr:not([disabled]) {
    font-weight: bold;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #ccc;
}