.wrapper {
  margin: -24px;
  background: #eee;
  height: calc(100% + 48px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
.content {
  padding: 16px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.license-spinner {
  position: absolute;
  left: calc(50% - 50px);
  top: calc(50% - 50px);
}
.license {
  flex: 1;
  overflow: auto;
  margin-bottom: 16px;
  font-family: monospace;
  font-size: 16px;
  padding: 24px;
  box-sizing: border-box;
  background: #fff;
}
button {
  margin-right: 16px;
}
::ng-deep .license .center {
  text-align: center;
}
::ng-deep .license .bold {
  font-weight: bold;
  font-size: 18px;
}
