<mat-form-field [appearance]="appearance" class="cs-number-input">
    <mat-label>{{label}}</mat-label>
    <input #numInput type="text" matInput
        [placeholder]="placeHolder"
        [value]="control.value"
        [formControl]="control">
    <span matPrefix>{{prefix}}</span>
    <span matSuffix>{{suffix}}</span>
    <mat-hint>{{hint}}</mat-hint>
    <mat-error *ngIf="control.hasError('required')">
        {{'number_input_required' | translate}}
    </mat-error>
    <mat-error *ngIf="!control.hasError('required') && control.hasError('limit')">
        {{'number_input_range' | translate}} {{leftClosedInterval ? '[' : '('}}{{min !== undefined ? min : '-&infin;'}}, {{max !== undefined ? max : '+&infin;'}}{{rightClosedInterval ? ']' : ')'}}
    </mat-error>
</mat-form-field>