.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
mat-expansion-panel {
  margin: 0 auto;
}
.mat-accordion {
  overflow: auto;
}
.icon {
  display: flex;
  align-items: center;
  margin-right: 24px;
  font-size: 24px;
  color: #fff;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  justify-content: center;
  font-weight: bold;
}
.error-short {
  flex: 1;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}
.error-time {
  color: rgba(0, 0, 0, 0.52);
  font-weight: 500;
}
.error-short-desc {
  font-weight: 600;
  overflow: hidden;
  max-width: calc(100% - 100px);
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mat-expanded .error-short-desc {
  white-space: normal;
}
.error-wrapper {
  display: flex;
  flex: 1;
}
::ng-deep .error-panel .mat-expansion-panel-body {
  padding: 0 72px 16px !important;
}
.error-panel .mat-badge-content {
  left: 22px;
  bottom: 0;
}
.link {
  color: blue;
  text-decoration: underline;
  font-weight: 500;
  cursor: pointer;
}

.severity-error {
  background-color: #b71c1c;
}
.severity-note {
  background-color: #9e9d24;
}
.severity-info {
  background-color: #039be5;
}
.severity-fault {
  border-radius: 0;
  height: 0;
  border-left: 18px solid transparent;
  width: 0;
  border-right: 18px solid transparent;
  border-bottom: 36px solid #b71c1c;
  background-color: transparent;
}
.severity-fault .letter {
  transform: translateY(23px);
}

.buttons {
  padding: 16px;
}
.buttons button {
  margin-right: 8px;
}
.times {
  list-style-type: circle;
  font-size: 12px;
  margin-left: 24px;
}