<mat-accordion>
  <mat-expansion-panel *ngFor="let e of errors" class="error-panel">
    <mat-expansion-panel-header>
      <div class="error-wrapper">
        <div class="icon severity-error" [ngClass]="{'severity-note':e.severity==='NOTE','severity-info':e.severity==='INFO'}"><mat-icon>info</mat-icon></div>
        <div class="error-short">
          <div class="error-time">{{e.date + ' ' + e.time}}</div>
          <div class="error-short-desc">{{e.code + ' ' + e.message}}</div>
        </div>
      </div>
    </mat-expansion-panel-header>
    <div><b>Task:</b>&nbsp;{{e.task}}</div>
    <div><b>File:</b>&nbsp;{{e.file}}</div>
    <div><b>Line:</b>&nbsp;{{e.line}}</div>
    <div><b>Module:</b>&nbsp;{{e.module}}</div>
  </mat-expansion-panel>
</mat-accordion>