<div class="main mat-typography">
  <div class="wrapper">
    <div class="title primary-bg">{{'dashboard.record.title'|translate}}</div>
    <div class="content">
      <mat-form-field>
        <input type="number" placeholder="{{'duration'|translate}}" matInput [(ngModel)]="duration">
        <span matSuffix>ms.</span>
      </mat-form-field>
      <mat-radio-group *ngIf="data.isGroup" [(ngModel)]="recMode">
        <mat-radio-button value="1">{{'dashboard.record.type.2d'|translate}}</mat-radio-button>
        <mat-radio-button value="2" style="margin-left: 16px;">{{'dashboard.record.type.2d-a'|translate}}</mat-radio-button>
        <mat-radio-button value="3" style="margin-left: 16px;">{{'dashboard.record.type.3d'|translate}}</mat-radio-button>
      </mat-radio-group>
      <div style="margin-top: 16px;" *ngIf="recMode === '3'">
        <mat-form-field><input placeholder="X" matInput [(ngModel)]="x"></mat-form-field>
        <mat-form-field><input placeholder="Y" matInput [(ngModel)]="y"></mat-form-field>
        <mat-form-field><input placeholder="Z" matInput [(ngModel)]="z"></mat-form-field>
      </div>
      <div style="margin-top: 16px;" *ngIf="recMode === '2'">
        <mat-form-field><input placeholder="X" matInput [(ngModel)]="x2D"></mat-form-field>
        <mat-form-field><input placeholder="Y" matInput [(ngModel)]="y2D"></mat-form-field>
      </div>
    </div>
  </div>
  <div class="actions">
    <button mat-button mat-dialog-close>{{'button.cancel'|translate}}</button>
    <button 
      mat-button
      color="primary"
      (click)="record()"
      [disabled]="(data.params.length === 0 && recMode === '1') || duration === null || duration < 10 || (recMode === '3' && (x===null || y===null || z===null || x.length===0 || y.length===0 || z.length===0)) || (recMode === '2' && (x2D===null || y2D===null || x2D.length===0 || y2D.length===0))">
        {{'dashboard.record.btnStart'|translate}}
    </button>
  </div>
</div>