<form class="main mat-typography" (ngSubmit)="insert()" [formGroup]="dialogForm">
	<div class="wrapper">
		<div class="title">{{ 'projectCommands.if.title' | translate }}</div>
		<div class="content">
			<mat-form-field>
				<input
					matInput
					placeholder="{{ 'projectCommands.if.condition' | translate }}"
					formControlName="expression"
					type="text"
					virtualKeyboard
					ktype="text"
				/>
			</mat-form-field>
			<mat-checkbox color="primary" formControlName="elseFlag">{{ 'projectCommands.if.else' | translate }}</mat-checkbox>
		</div>
	</div>
	<div class="actions">
		<button mat-button mat-dialog-close>
			{{ 'button.cancel' | translate }}
		</button>
		<button mat-button color="primary" type="submit" [disabled]="dialogForm.invalid">
			{{ 'button.insert' | translate }}
		</button>
	</div>
</form>
