<div class="wrapper">
  <div class="toolbar mat-elevation-z3">
    <div class="center-vertical">
      <button mat-raised-button color="primary" (click)="kill()" matTooltip="Kill Task"><mat-icon>stop</mat-icon></button>
      <button mat-raised-button color="primary" (click)="run()" matTooltip="Run Task"><mat-icon>play_arrow</mat-icon></button>
      <button mat-raised-button color="primary" (click)="idle()" matTooltip="Idle Task"><mat-icon>pause</mat-icon></button>
      <button mat-raised-button color="primary" (click)="unload()" matTooltip="Unload Task"><mat-icon>eject</mat-icon></button>
      <button mat-raised-button color="warn" (click)="resetAll()">RESET ALL</button>
    </div>
    <div class="center-vertical" style="margin-top: 16px;">
      Display:
      <mat-checkbox color="primary" [(ngModel)]="filterPrograms">Programs</mat-checkbox>
      <mat-checkbox color="primary" [(ngModel)]="filterLibs">Libraries</mat-checkbox>
      <mat-checkbox color="primary" [(ngModel)]="filterGlobalLibs">Global Libraries</mat-checkbox>
    </div>
  </div>
  <table class="mat-elevation-z3">
    <tr class="mat-subtitle-color">
      <td>Task Name</td>
      <td>State</td>
      <td>Priority</td>
    </tr>
    <tr
      *ngFor="let t of task.tasks | taskFilter:[filterPrograms,filterLibs,filterGlobalLibs]; let i=index;"
      class="mat-title-color"
      (mousedown)="onSelectionStart(i)"
      (mouseenter)="onSelection(i)"
      (mouseup)="onSelectionEnd()"
      [class.primary-bg]="isSelected(i)"
    >
      <td>{{t.name}}</td>
      <td [colSpan]="t.priority ? 1 : 2">{{t.state}}</td>
      <td *ngIf="t.priority">{{t.priority}}</td>
    </tr>
  </table>
</div>
