<div class="mat-typography">
  <div class="title mat-elevation-z1">
    <mat-icon>person_add</mat-icon>&nbsp;&nbsp;New User
  </div>
  <mat-form-field>
    <input matInput placeholder="UserName" [(ngModel)]="username">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Full Name" [(ngModel)]="fullName">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Password" [(ngModel)]="password">
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Permission" [(ngModel)]="permission">
      <mat-option [value]="0">Administrator</mat-option>
      <mat-option [value]="1">Normal User</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="actions">
    <button mat-button mat-dialog-close>CANCEL</button>
    <button mat-button color="primary" (click)="create()" [disabled]="username.length===0 || password.length===0 || fullName.length===0 || fullName.indexOf(' ')===-1 || permission === -1">CREATE USER</button>
  </div>
</div>