<div class="mat-typography">
	<div class="title mat-elevation-z1">
		<mat-icon>{{ data ? 'edit' : 'person_add' }}</mat-icon
		>&nbsp;&nbsp;{{ (data ? 'userManager.btnEdit' : 'userManager.new') | translate }}
	</div>
	<!-- <mat-form-field>
		<input
			matInput
			placeholder="{{ 'userManager.username' | translate }}"
			[formControl]="userNameControl"
			virtualKeyboard
			ktype="text"
		/>
		<mat-error *ngIf="!data && userNameControl.invalid">
			<span *ngIf="userNameControl.hasError('reserved')">{{ 'error.invalid_username2' | translate }}</span>
			<span *ngIf="!userNameControl.hasError('reserved')">{{ 'error.invalid_username' | translate }}</span>
		</mat-error>
    </mat-form-field> -->
    <custom-key-board
        type="string"
        placeHolder="{{ 'userManager.username' | translate }}"
        [value]="userNameControl.value"
        [reserved]="true"
        [minLength]="1"
        [maxLength]="32"
        [nameRules]="true"
        [disabled]="disabledUserName"
        (valueChange)="changeUserName($event)" (blurEvent)="changeUserName($event)"
    ></custom-key-board>
	<!-- <mat-form-field>
		<input
			[formControl]="fullNameControl"
			matInput
			placeholder="{{ 'userManager.full' | translate }}"
			virtualKeyboard
			ktype="text"
		/>
		<mat-error *ngIf="fullNameControl.errors">
			{{ 'error.invalid_full_name' | translate }}
		</mat-error>
    </mat-form-field> -->
    <custom-key-board
        type="string"
        placeHolder="{{ 'userManager.full' | translate }}"
        [value]="fullNameControl.value"
        [fullName]="true"
        [required]="true"
        (valueChange)="changeFullName($event)" (blurEvent)="changeFullName($event)"
    ></custom-key-board>
	<!-- <mat-form-field>
		<input
			matInput
			type="password"
			placeholder="{{ 'password' | translate }}"
			[formControl]="passwordValidator"
			virtualKeyboard
			ktype="text"
		/>
		<mat-hint align="start" *ngIf="data && passwordValidator.invalid"
			><strong>{{ 'userManager.password_hint' | translate }}</strong>
		</mat-hint>
    </mat-form-field> -->
    <custom-key-board type="string"
        [password]="true"
        placeHolder="{{ 'password' | translate }}"
        hint ="{{ (data && passwordValidator.invalid) ? ('userManager.password_hint' | translate) : '' }}"
        [value]="passwordValidator.value" (valueChange)="changePassword($event)" (blurEvent)="changePassword($event)"
    ></custom-key-board>
	<!-- <mat-form-field>
		<input
			matInput
			type="password"
			placeholder="{{ 'password_confirm' | translate }}"
			[formControl]="passwordConfirm"
			virtualKeyboard
			ktype="text"
		/>
		<mat-error *ngIf="passwordConfirm.errors">
			{{ 'error.mismatch_pass' | translate }}
		</mat-error>
    </mat-form-field> -->
    <custom-key-board type="string"
        [password]="true"
        placeHolder="{{ 'password_confirm' | translate }}"
        [value]="passwordConfirm.value"
        [confirmPassword]="passwordValidator.value" [disabled]="disabledConfirmPassword"
        (valueChange)="changeConfirmPassword($event)" (blurEvent)="changeConfirmPassword($event)"
    ></custom-key-board>
	<mat-form-field>
		<mat-select
			placeholder="{{ 'userManager.permission' | translate }}"
			[(ngModel)]="permission"
			[disabled]="userNameControl.value === 'admin' || (data && !login.isAdmin)"
		>
			<mat-option [value]="0">{{"role.Administrator" | translate}}</mat-option>
			<mat-option [value]="1">{{"role.Programmer" | translate}}</mat-option>
			<mat-option [value]="2">{{"role.Operator" | translate}}</mat-option>
			<mat-option [value]="3">{{"role.Viewer" | translate}}</mat-option>
		</mat-select>
	</mat-form-field>
	<div class="actions">
		<button mat-button mat-dialog-close>
			{{ 'button.cancel' | translate }}
		</button>
		<button
			mat-raised-button
			color="primary"
			(click)="create()"
			[disabled]="
				userNameControl.invalid ||
				(userNameControl.value === 'admin' && !data) ||
				(!data && passwordValidator.invalid) ||
				(!passwordValidator.invalid && passwordConfirm.invalid) ||
				fullNameControl.errors ||
				permission === -1
			"
		>
			{{ (data ? 'button.save' : 'userManager.btnCreate') | translate }}
		</button>
	</div>
</div>
