.wrapper {
  display: flex;
  flex-direction: column;
}
.mat-column-select { overflow: initial; }
.toolbar {
  margin-bottom: 8px;
  background-color: #eee;
  padding: 16px 24px;
}
.toolbar button {
  margin-right: 16px;
}

.toolbar input {
  visibility: hidden;
  width: 0;
}