<div class="wrapper">
  <div class="toolbar mat-elevation-z3">
    <button mat-raised-button color="primary" (click)="showUploadWindow()">UPLOAD TO MC...</button>
    <button mat-raised-button color="primary" (click)="downloadZip()">DOWNLOAD SNAPSHOT</button>
    <button mat-raised-button color="primary" [disabled]="selection.selected.length===0" (click)="downloadSelected()">DOWNLOAD FILE(S)</button>
    <button mat-raised-button color="warn" [disabled]="selection.selected.length===0" (click)="deleteSelected()">DELETE FILE(S)</button>
    <input type="file" accept=".UPG, .PRG, .ULB, .LIB, .DAT, .TXT, .VAR, .DEF, .BLK, .TPS, .OBJ, .LOG" #upload (change)="onUploadFilesChange($event)" multiple/>
  </div>
  <mat-progress-bar mode="indeterminate" *ngIf="!isInit"></mat-progress-bar>
  <mat-table #table [dataSource]="dataSource" matSort class="file-table">
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox color="primary"
                      (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox color="primary"
                      (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="fileName">
      <mat-header-cell *matHeaderCellDef mat-sort-header="fileName">File Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.fileName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="modified">
      <mat-header-cell *matHeaderCellDef mat-sort-header="modified">Modified</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.modified | date:'MMM d, y, HH:mm'}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="extension">
      <mat-header-cell *matHeaderCellDef mat-sort-header="extension">Extension</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.extension}}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="['select','fileName','modified','extension']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['select','fileName','modified','extension']; let element;"></mat-row>
  </mat-table>
</div>