.header {
  margin: -24px -24px 16px -24px;
  background-image: url("/rs/assets/pics/cabinet3.jpg");
  height: 340px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  padding: 0 16px;
  box-sizing: border-box;
  color: #fff;
}
.header h1 {
  font-weight: bold;
}