<form class="mat-typography" (ngSubmit)="create()" [formGroup]="dialogForm">
	<div class="title mat-elevation-z1">
		<mat-icon>create_new_folder</mat-icon>&nbsp;&nbsp;{{ 'projects.new' | translate }}
	</div>
	<div class="name-wrapper">
		<mat-form-field>
			<input
				matInput
				placeholder="{{ 'projects.name' | translate }}"
				formControlName="val"
				maxlength="8"
				virtualKeyboard
				ktype="text"
			/>
			<mat-error *ngIf="dialogForm.invalid">{{ 'error.invalid_file_name' | translate }}</mat-error>
		</mat-form-field>
		<div class="center-vertical" style="color:red;" [style.marginTop]="dialogForm.touched && dialogForm.invalid ? '24px' : '0'">
			<mat-icon>warning</mat-icon>
			{{ 'projects.warning' | translate }}
		</div>
	</div>
	<div class="actions">
		<button mat-button mat-dialog-close>
			{{ 'button.cancel' | translate }}
		</button>
		<button mat-button color="primary" type="submit" [disabled]="dialogForm.invalid">
			{{ 'projects.btnCreate' | translate }}
		</button>
	</div>
</form>
