<div class="mat-typography" style="margin: -24px;">
	<div class="header mat-toolbar mat-primary mat-elevation-z3">
		<div class="title">
			{{ ('frames.calibration.title' | translate) + ' ' + varName }}
		</div>
		<button mat-button (click)="closeDialog()">
			<mat-icon>close</mat-icon>
		</button>
	</div>
	<div class="content">
		<table>
			<tr>
				<td>{{ 'frames.calibration.origin' | translate }}</td>
				<td>
					<button mat-raised-button color="primary" (click)="teach(1)" [disabled]="positionOK[0]">
						{{ 'button.teach' | translate }}
					</button>
				</td>
				<td *ngIf="positionOK[0]">
					<mat-icon color="primary">check_circle</mat-icon>
				</td>
				<td *ngIf="positionOK[0]">
					<button mat-icon-button color="warn" (click)="resetPos(0)">
						<mat-icon>delete</mat-icon>
					</button>
				</td>
			</tr>
			<tr>
				<td>{{ 'frames.calibration.posX' | translate }}</td>
				<td>
					<button mat-raised-button color="primary" (click)="teach(2)" [disabled]="!positionOK[0] || positionOK[1]">
						{{ 'button.teach' | translate }}
					</button>
				</td>
				<td *ngIf="positionOK[1]">
					<mat-icon color="primary">check_circle</mat-icon>
				</td>
				<td *ngIf="positionOK[1]">
					<button mat-icon-button color="warn" (click)="resetPos(1)">
						<mat-icon>delete</mat-icon>
					</button>
				</td>
			</tr>
			<tr>
				<td>{{ 'frames.calibration.posXY' | translate }}</td>
				<td>
					<button mat-raised-button color="primary" (click)="teach(4)" [disabled]="!positionOK[1] || positionOK[2]">
						{{ 'button.teach' | translate }}
					</button>
				</td>
				<td *ngIf="positionOK[2]">
					<mat-icon color="primary">check_circle</mat-icon>
				</td>
				<td *ngIf="positionOK[2]">
					<button mat-icon-button color="warn" (click)="resetPos(2)">
						<mat-icon>delete</mat-icon>
					</button>
				</td>
			</tr>
		</table>

		<mat-checkbox color="primary" [(ngModel)]="setAsCurrent">{{ 'frames.calibration.set' | translate }}</mat-checkbox>
		<div style="width: 100%; text-align: center; margin-top: 16px;">
			<button
				mat-raised-button
				color="primary"
				(click)="calibrate()"
				[disabled]="!positionOK[0] || !positionOK[1] || !positionOK[2]"
			>
				{{ 'button.calibrate' | translate }}
			</button>
		</div>
	</div>
</div>
