<div>
	<div mat-dialog-content>
		<cs-variable-input
			[(value)]="name"
			[required]="true"
			[requiredErrMsg]="'projectSettings.position_trigger.newPositionTrigger.requireErr' | translate"
			[prefix]="namePrefix"
			[maxLength]="29"
			[hint]="'projectSettings.position_trigger.newPositionTrigger.namePlaceholder' | translate"
			[letterStart]="false"
			(pressEnterEvent)="(name !== '') && close()">
		</cs-variable-input>
	</div>
	<div mat-dialog-actions class="actions">
		<button mat-button color="primary" [mat-dialog-close]="null" cdkFocusInitial>
			{{ 'button.cancel' | translate }}
		</button>
		<button mat-button color="primary" [disabled]="(name === '')" (click)="close()">
			{{ 'button.create' | translate }}
		</button>
	</div>
</div>
