table {
  width: 100%;
}
thead td {
  padding: 8px;
  font-weight: 500;
}
td {
  border: 1px solid #ccc;
}
tbody td {
  padding: 4px;
}
tr td:first-child {
  text-align: center;
}
input,
select {
  border: 0;
  outline: 0;
  width: 100%;
  min-width: 60px;
}
.disable-record {
  color: #ccc !important;
}
