.sideDisplay{
    display: none;
}
.side-menu-content {
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.pluginCommandBox {
    width: 100%;
    min-height: 34px;
    margin: 2px;
    line-height: 34px;
    text-align: center;
    color: white !important;
    position: relative;
}
.pluginCommand {
    position: absolute;
    bottom: 34px;
    left: 0;
    background-color: white;
    padding: 8px;
    width: 80%;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
}
.side-menu-content button {
  margin: 2px;
  min-height: 34px;
}
.menu-title {
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.78);
  margin-top: 4px;
  margin-bottom: 2px;
}
.inline-buttons {
  display: flex;
}
.inline-buttons button {
  flex: 1;
  padding: 0;
  min-width: 0;
}
