.trace-new-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // align-items: center;
    mat-form-field {
        flex-grow: 1;
        margin-right: 5px;
    }
    .customKeyBoard {
        width: 290px;
        padding-bottom: 21px;
    }
    button.done {
        margin-top: 13px;
    }
}