<div class="trace-new-container">
    <!-- <mat-form-field>
        <mat-label>{{label | translate}}</mat-label>
        <input #newTraceInput
            type="text" matInput
            autoComplete="off"
            [formControl]="control"
            [placeholder]="placeholder | translate"
            [value]="control.value" />
        <button mat-button *ngIf="control.value"
            matSuffix mat-icon-button
            aria-label="Clear"
            (click)="control.patchValue('')">
            <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="control.hasError('exist')">
            {{'dashboard.trace.common.name_exist' | translate}}
        </mat-error>
        <mat-error *ngIf="control.hasError('beginWithLetter')">
            {{'vision.templateConfig.createLetter' | translate}}
        </mat-error>
    </mat-form-field> -->
    <div class="customKeyBoard">
        <custom-key-board type="string"
            [value]="control.value"
            [placeHolder]="placeholder | translate"
            matLabel="{{label | translate}}"
            [maxLength]="32"
            [required]="true"
            [nameRules]="true"
            [existNameList]="forTrace ? getTraceName(traceList) : existNameList"
            (valueChange)="change($event)"
            (blurEvent)="change($event)"
            (isValidEvent)="onValidEvent($event)"
        ></custom-key-board>
    </div>
    <button #createTraceBtn mat-icon-button class="done"
        color="primary" (click)="sendValue()"
        [disabled]="!validName">
        <mat-icon>done</mat-icon>
    </button>
</div>
