<div class="trace-new-container">
    <mat-form-field>
        <mat-label>{{'dashboard.trace.common.new_trace' | translate}}</mat-label>
        <input #newTraceInput
            type="text" matInput 
            autoComplete="off"
            [formControl]="control"
            [placeholder]="'dashboard.trace.common.trace_name_tip' | translate"
            [value]="control.value" />
        <button mat-button *ngIf="control.value"
            matSuffix mat-icon-button 
            aria-label="Clear" 
            (click)="control.patchValue('')">
            <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="control.hasError('exist')">
            {{'dashboard.trace.common.name_exist' | translate}}
        </mat-error>
    </mat-form-field>
    <button #createTraceBtn mat-icon-button 
        color="primary" 
        [disabled]="control.value.length === 0 || control.hasError('exist')">
        <mat-icon>done</mat-icon>
    </button>
</div>