<mat-form-field [appearance]="appearance" class="cs-number-input">
    <mat-label>{{label}}</mat-label>
    <input #varInput
        matInput
        type="text" 
        autocomplete="off"
        [maxlength]="maxLength"
        [placeholder]="placeHolder"
        [value]="control.value"
        [formControl]="control"
        (paste)="false">
    <span matPrefix>{{prefix}}</span>
    <span matSuffix>{{suffix | translate}}</span>
    <mat-hint>{{hint}}</mat-hint>
    <mat-error *ngIf="control.hasError('required')">
        <ng-container *ngIf="requiredErrMsg; else elseTemplate">
            {{requiredErrMsg}}
        </ng-container>
        <ng-template #elseTemplate>
            {{'number_input_required' | translate}}
        </ng-template>
    </mat-error>
</mat-form-field>