.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 24px;
}
.diagnostics {
  height: 100%;
  width: 100%;
  background-color: #fff;
  overflow: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  padding: 24px;
}

.header h2 {
  margin-bottom: 0;
}

.options {
  flex: 1;
  text-align: right;
}

.options .mat-radio-button {
  margin-left: 1em;
}

.diagnostics-container {
  overflow: auto;
  padding: 24px;
  flex: 1;
}

.mcu-container {
  max-width: 300px;
}

::ng-deep .diagnostics-container table {
  width: 100%;
  border: 1px solid black;
}

::ng-deep .diagnostics-container table tr:first-child td {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.52);
  border-bottom: 1px solid black;
}
