<div class='flex-full wrapper'>
  <div class="diagnostics mat-elevation-z3">
    <div class="primary-bg-dark header mat-elevation-z1">
      <h2>{{'diagnostics.title'|translate}}</h2>
      <button mat-mini-fab color="accent" (click)="refresh()" style="margin-left: 16px;"><mat-icon>refresh</mat-icon></button>
      <mat-radio-group class="options" [(ngModel)]="state" (change)="refresh()">
        <mat-radio-button value="1">{{'diagnostics.devices'|translate}}</mat-radio-button>
        <mat-radio-button value="2">{{'diagnostics.master'|translate}}</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="diagnostics-container">
      <div *ngIf="isRefreshing">{{'loading'|translate}}</div>
      <div translate [innerHTML]="content"></div>
      <div #container></div>
    </div>
  </div>
</div>