<div class="flex-full wrapper">
	<div class="diagnostics mat-elevation-z3">
		<div class="primary-bg-dark header mat-elevation-z1">
			<mat-icon style="margin-right: 16px;">dvr</mat-icon>
			<h2>{{ 'diagnostics.title' | translate }}</h2>
			<button mat-mini-fab color="accent" (click)="refresh()" style="margin: 0 16px;">
				<mat-icon>refresh</mat-icon>
			</button>
			<button mat-raised-button color="accent" (click)="clearAllDriveFaults()">
				{{ 'sys_log.clear_all_drive_fault' | translate }}
			</button>
			<mat-radio-group class="options" [(ngModel)]="state" (change)="refresh()">
				<mat-radio-button value="1">{{ 'diagnostics.devices' | translate }}</mat-radio-button>
				<mat-radio-button value="2">{{ 'diagnostics.master' | translate }}</mat-radio-button>
				<mat-radio-button value="3">{{ 'diagnostics.mcu' | translate }}</mat-radio-button>
				<mat-radio-button value="4">{{ 'topology.title' | translate }}</mat-radio-button>
			</mat-radio-group>
		</div>
		<div class="diagnostics-container">
			<div *ngIf="isRefreshing">
				<img src="assets/pics/{{ env.platform.spinner }}" />
			</div>
			<div *ngIf="state === '1' || state === '2'">
				<div translate [innerHTML]="content"></div>
				<div #container></div>
			</div>
			<div *ngIf="state === '3'" class="mcu-container">
				<div #mcu id="mcu"></div>
			</div>
			<app-topology *ngIf="state === '4'"></app-topology>
		</div>
	</div>
</div>