<div class="wrapper" [id]="'level-designer-' + level">
	<div class="toolbar" *ngIf="!static">
		<h2>{{ 'pallets.wizard.item' | translate}}</h2>
		<div class="item-wrapper" [style.height]="(pallet.itemSizeY > pallet.itemSizeX ? pallet.itemSizeY / normalizePreview : pallet.itemSizeX / normalizePreview) + 'px'">
			<div
				class="item"
				[style.height]="
					(rotation % 180 === 0 ? pallet.itemSizeY / normalizePreview : pallet.itemSizeX / normalizePreview) + 'px'
				"
				[style.width]="
					(rotation % 180 === 0 ? pallet.itemSizeX / normalizePreview : pallet.itemSizeY / normalizePreview) + 'px'
				"
			></div>
		</div>
		<h2 style="margin-top: 8px;">Options</h2>
		<div style="display: flex;">
			<button mat-fab color="primary" (click)="rotate()" matTooltip="{{'pallets.wizard.item_rotate' | translate}}">
				<mat-icon>rotate_right</mat-icon>
			</button>
			<button mat-fab color="primary" (click)="addItem()" matTooltip="{{'pallets.wizard.item_new' | translate}}">
				<mat-icon>add</mat-icon>
			</button>
		</div>
		<mat-divider style="margin-bottom: 16px;"></mat-divider>
		<ng-container *ngIf="!utils.isTablet">
			<button mat-raised-button color="accent" (click)="uploadFile()" style="display: block;">
				{{'pallets.wizard.import' | translate }}
			</button>
			<button  mat-raised-button color="accent" (click)="download()" style="display: block;">
				{{'pallets.wizard.export' | translate }}
			</button>
		</ng-container>
		<mat-divider style="margin: 16px 0;"></mat-divider>
		<button  mat-raised-button color="warn" (click)="reset()" style="display: block;">
			{{'pallets.wizard.reset' | translate }}
		</button>
		<input type="file" accept=".DAT, .dat" #upload (change)="onUploadFilesChange($event)" class="file-input" />
	</div>
	<div class="container" #container>
		<div
			class="item item-preview"
			*ngFor="let item of items"
			[style.height]="(item.r % 180 === 0 ? pallet.itemSizeY / normalizeItem : pallet.itemSizeX / normalizeItem) + 'px'"
			[style.width]="(item.r % 180 === 0 ? pallet.itemSizeX / normalizeItem : pallet.itemSizeY / normalizeItem) + 'px'"
			[style.z-index]="item.order"
			[draggableItem]="item"
			[level]="level"
			(shortclick)="showMenu(item)"
			(dragEnd)="onDragEnd(item)"
			[class.itemError]="item.error"
			[class.item-untouched]="item.untouched"
		>
			{{ item.order }}
		</div>
	</div>
	<div class="errors warn" *ngIf="!static && errorList.length > 0">
		<h2>{{ 'projectTree.Errors' | translate }}:</h2>
		<mat-chip-list>
			<mat-chip *ngFor="let e of errorList" [removable]="true" (removed)="onChipRemoved(e)" color="warn">
				{{e}}
				<mat-icon matChipRemove>cancel</mat-icon>
			</mat-chip>
		</mat-chip-list>
	</div>
</div>
