<div class="mat-typography">
	<div class="title mat-elevation-z1">
		<mat-icon>add</mat-icon>&nbsp;&nbsp;{{ 'home.addFeature.title' | translate }}
	</div>
	<div class="name-wrapper">
		<!-- <mat-form-field>
			<input
				matInput
				placeholder="{{ 'home.addFeature.name' | translate }}"
				[(ngModel)]="feature.name"
				virtualKeyboard
				ktype="text"
			/>
        </mat-form-field> -->
        <custom-key-board type="string" placeHolder="{{ 'home.addFeature.name' | translate }}"
            [(value)]="feature.name" [maxLength]="32" [nameRules]="true"
        ></custom-key-board>
		<!-- <mat-form-field>
			<input
				matInput
				placeholder="{{ 'home.addFeature.code' | translate }}"
				[(ngModel)]="feature.code"
				virtualKeyboard
				ktype="text"
			/>
        </mat-form-field> -->
        <custom-key-board type="string" placeHolder="{{ 'home.addFeature.code' | translate }}"
            [(value)]="feature.code" [maxLength]="32" [nameRules]="true"
        ></custom-key-board>
	</div>
	<div class="actions">
		<button mat-button color="primary" mat-dialog-close>
			{{ 'button.cancel' | translate }}
		</button>
		<button mat-raised-button color="primary" (click)="add()" [disabled]="isFeatureInvalid()">
			{{ 'home.addFeature.add' | translate }}
		</button>
	</div>
</div>
