<form [formGroup]="form" (ngSubmit)="submitForm(form)">
	<mat-card class="command-card">
		<mat-card-header>
			<mat-card-title>
                {{ 'projectCommands.commandDialog.commandTitle' | translate:{ command: commandType } }}
			</mat-card-title>
		</mat-card-header>
		<mat-card-content>
            <ng-container *ngIf="commandOptionAuth.hasAscendingPoint">
			    <mat-form-field>
                    <mat-select [formControlName]="CommandOptions.AscendingPoint"
                        (selectionChange)="updateStore(CommandOptions.AscendingPoint, $event.value)"
                        placeholder="{{'projectCommands.jumpx.ascending' | translate}}">
                        <mat-optgroup *ngIf="model && model[CommandOptions.AscendingJoPoints]?.length !== 0" label="{{ 'joints' | translate }}">
                            <mat-option *ngFor="let item of model[CommandOptions.AscendingJoPoints]" [value]="item">
                                {{item.name}}<span *ngIf="item.isArr">[...]</span>
                            </mat-option>
                        </mat-optgroup>
                        <mat-optgroup *ngIf="model && model[CommandOptions.AscendingLoPoints]?.length !== 0" label="{{ 'locations' | translate }}">
                            <mat-option *ngFor="let item of model[CommandOptions.AscendingLoPoints]" [value]="item">
                                {{item.name}}<span *ngIf="item.isArr">[...]</span>
                            </mat-option>
                        </mat-optgroup>
                        <mat-option class="create-point-option" [value]="null" (click)="createVar(CommandOptions.AscendingPoint, 'JOINT')">
                            <mat-icon>add</mat-icon><span>{{ 'projectCommands.createVar' | translate }}</span>
                        </mat-option>
                    </mat-select>
                    <mat-error>{{'projectCommands.jumpx.requireErr' | translate}}</mat-error>
                </mat-form-field>
                <mat-form-field *ngIf="model && model[CommandOptions.AscendingPoint]?.isArr">
                    <mat-select [formControlName]="CommandOptions.AscendingPointIndex"
                        placeholder="{{ 'index' | translate }}"
                        (selectionChange)="updateStore(CommandOptions.AscendingPointIndex, $event.value)">
                        <mat-option *ngFor="let data of model[CommandOptions.AscendingPoint]?.value; let i = index" [value]="i + 1">
                            {{ i + 1 }}
                        </mat-option>
                    </mat-select>
                    <mat-error>{{'projectCommands.jumpx.requireErr' | translate}}</mat-error>
                </mat-form-field>
            </ng-container>
			<ng-container *ngIf="commandOptionAuth.hasDescendingPoint">
                <mat-form-field>
                    <mat-select [formControlName]="CommandOptions.DescendingPoint"
                        (selectionChange)="updateStore(CommandOptions.DescendingPoint, $event.value)"
                        placeholder="{{'projectCommands.jumpx.descending' | translate}}">
                        <mat-optgroup *ngIf="model && model[CommandOptions.DescendingJoPoints]?.length !== 0" label="{{ 'joints' | translate }}">
                            <mat-option *ngFor="let item of model[CommandOptions.DescendingJoPoints]" [value]="item">
                                {{item.name}}<span *ngIf="item.isArr">[...]</span>
                            </mat-option>
                        </mat-optgroup>
                        <mat-optgroup *ngIf="model && model[CommandOptions.DescendingLoPoints]?.length !== 0" label="{{ 'locations' | translate }}">
                            <mat-option *ngFor="let item of model[CommandOptions.DescendingLoPoints]" [value]="item">
                                {{item.name}}<span *ngIf="item.isArr">[...]</span>
                            </mat-option>
                        </mat-optgroup>
                        <mat-option class="create-point-option" [value]="null" (click)="createVar(CommandOptions.DescendingPoint, 'JOINT')">
                            <mat-icon>add</mat-icon><span>{{ 'projectCommands.createVar' | translate }}</span>
                        </mat-option>
                    </mat-select>
                    <mat-error>{{'projectCommands.jumpx.requireErr' | translate}}</mat-error>
                </mat-form-field>
                <mat-form-field *ngIf="model && model[CommandOptions.DescendingPoint]?.isArr">
                    <mat-select placeholder="{{ 'index' | translate }}"
                        [formControlName]="CommandOptions.DescendingPointIndex"
                        (selectionChange)="updateStore(CommandOptions.DescendingPointIndex, $event.value)">
                        <mat-option *ngFor="let data of model[CommandOptions.DescendingPoint]?.value; let i = index" [value]="i + 1">
                            {{ i + 1 }}
                        </mat-option>
                    </mat-select>
                    <mat-error>{{'projectCommands.jumpx.requireErr' | translate}}</mat-error>
                </mat-form-field>
            </ng-container>
            <ng-container *ngIf="commandOptionAuth.hasTargetPoint">
                <mat-form-field>
                    <mat-select [formControlName]="CommandOptions.TargetPoint"
                        (selectionChange)="updateStore(CommandOptions.TargetPoint, $event.value)"
                        placeholder="{{'projectCommands.jumpx.target' | translate}}">
                        <mat-optgroup *ngIf="model && model[CommandOptions.TargetJoPoints]?.length !== 0"label="{{ 'joints' | translate }}">
                            <mat-option *ngFor="let item of model[CommandOptions.TargetJoPoints]" [value]="item">
                                {{item.name}}<span *ngIf="item.isArr">[...]</span>
                            </mat-option>
                        </mat-optgroup>
                        <mat-optgroup *ngIf="model && model[CommandOptions.TargetLoPoints]?.length !== 0"label="{{ 'locations' | translate }}">
                            <mat-option *ngFor="let item of model[CommandOptions.TargetLoPoints]" [value]="item">
                                {{item.name}}<span *ngIf="item.isArr">[...]</span>
                            </mat-option>
                        </mat-optgroup>
                        <mat-option class="create-point-option" [value]="null" (click)="createVar(CommandOptions.TargetPoint, 'JOINT')">
                            <mat-icon>add</mat-icon><span>{{ 'projectCommands.createVar' | translate }}</span>
                        </mat-option>
                    </mat-select>
                    <mat-error>{{'projectCommands.jumpx.requireErr' | translate}}</mat-error>
                </mat-form-field>
                <mat-form-field *ngIf="model && model[CommandOptions.TargetPoint]?.isArr">
                    <mat-select placeholder="{{ 'index' | translate }}"
                        [formControlName]="CommandOptions.TargetPointIndex"
                        (selectionChange)="updateStore(CommandOptions.TargetPointIndex, $event.value)">
                        <mat-option *ngFor="let data of model[CommandOptions.TargetPoint]?.value; let i = index" [value]="i + 1">
                            {{ i + 1 }}
                        </mat-option>
                    </mat-select>
                    <mat-error>{{'projectCommands.jumpx.requireErr' | translate}}</mat-error>
                </mat-form-field>
            </ng-container>

            <mat-slide-toggle [(ngModel)]="isAdvanced" [ngModelOptions]="{ standalone: true }" style="margin-bottom: 8px;" color="primary">
                {{ 'projectCommands.jumpx.advanced' | translate }}
            </mat-slide-toggle>

            <div *ngIf="isAdvanced">
                <mat-form-field *ngIf="commandOptionAuth.hasMotionElement">
                    <mat-select placeholder="{{'projectCommands.jumpx.motion' | translate}}"
                        [formControlName]="CommandOptions.MotionElement"
                        (selectionChange)="updateStore(CommandOptions.MotionElement, $event.value)">
                        <mat-option [value]="null">
                            {{'options.none' | translate}}
                        </mat-option>
                        <mat-option *ngFor="let item of model && model[CommandOptions.MotionElements]" [value]="item">
                            {{item}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- <mat-form-field *ngIf="commandOptionAuth.hasArchNo">
                    <input matInput type="text"
                        placeholder="{{'projectCommands.jumpx.arch' | translate}}"
                        [formControlName]="CommandOptions.ArchNo"
                        autocomplete="off"
                        [formGroup]="form"
                        numberInput="int"
                        (blur)="updateStore(CommandOptions.ArchNo, $event.target.value)">
                    <mat-error *ngIf="model">
                        {{'projectCommands.jumpx.intRange' | translate: {range: '['+model[CommandOptions.ArchNoLimit]+']'} }}
                    </mat-error>
                </mat-form-field> -->
                <div class="customKeyBoard" *ngIf="commandOptionAuth.hasArchNo">
                    <custom-key-board type="int"
                        [isPositiveNum]="true"
                        [min]="model[CommandOptions.ArchNoLimit][0]"
                        [max]="model[CommandOptions.ArchNoLimit][1]"
                        [(value)]="form.controls.ArchNo.value"
                        [isPositiveNum]="true"
                        placeHolder="{{'projectCommands.jumpx.arch' | translate}}"
                        (valueChange)="change($event,CommandOptions.ArchNo)"
                        (blurEvent)="blur($event,CommandOptions.ArchNo)">
                    </custom-key-board>
                </div>
                <!-- <mat-form-field *ngIf="commandOptionAuth.hasLimZ">
                    <input matInput type="text" [formGroup]="form" numberInput="float"
                        placeholder="{{'projectCommands.jumpx.limZ' | translate}} [mm]"
                        [formControlName]="CommandOptions.LimZ"
                        (blur)="updateStore(CommandOptions.LimZ, $event.target.value)">
                    <mat-error *ngIf="model">
                        {{'projectCommands.jumpx.numRange' | translate: {range: '['+model[CommandOptions.LimZLimit]+']'} }}
                    </mat-error>
                </mat-form-field> -->
                <div class="customKeyBoard" *ngIf="commandOptionAuth.hasLimZ">
                    <custom-key-board type="float"
                        [min]="model[CommandOptions.LimZLimit][0]"
                        [max]="model[CommandOptions.LimZLimit][1]"
                        [(value)]="form.controls.LimZ.value"
                        placeHolder="{{'projectCommands.jumpx.limZ' | translate}} [mm]"
                        (valueChange)="change($event,CommandOptions.LimZ)"
                        (blurEvent)="blur($event,CommandOptions.LimZ)">
                    </custom-key-board>
                </div>
                <!-- <mat-form-field *ngIf="commandOptionAuth.hasBlendingPercentage">
                    <input matInput type="text" [formGroup]="form" numberInput="float"
                        placeholder="{{'projectCommands.jumpx.blending' | translate}}"
                        [formControlName]="CommandOptions.BlendingPercentage"
                        (blur)="updateStore(CommandOptions.ArchNo, $event.target.value)">
                    <span matSuffix>%</span>
                    <mat-error *ngIf="model">
                        {{'projectCommands.jumpx.numRange' | translate: {range: '['+model[CommandOptions.BlendingPercentageLimit]+']'} }}
                    </mat-error>
                </mat-form-field> -->
                <div class="customKeyBoard" *ngIf="commandOptionAuth.hasBlendingPercentage">
                    <custom-key-board [suffix]="'%'"
                        type="float"
                        [min]="model[CommandOptions.BlendingPercentageLimit][0]"
                        [max]="model[CommandOptions.BlendingPercentageLimit][1]"
                        [(value)]="form.controls.BlendingPercentage.value"
                        [isPositiveNum]="true"
                        placeHolder="{{'projectCommands.jumpx.blending' | translate}}"
                        (valueChange)="change($event,CommandOptions.BlendingPercentage)"
                        (blurEvent)="blur($event,CommandOptions.BlendingPercentage)">
                    </custom-key-board>
                </div>
                <!-- <mat-form-field *ngIf="commandOptionAuth.hasVcruise">
                    <input matInput type="text" [formGroup]="form" numberInput="float"
                        placeholder="{{'projectCommands.jumpx.vscale' | translate}} [%]"
                        [formControlName]="CommandOptions.VScale"
                        virtualKeyboard
                        (blur)="updateStore(CommandOptions.VScale, $event.target.value)">
                    <mat-error *ngIf="model">
                        {{'projectCommands.jumpx.numRange' | translate: {range: '('+model[CommandOptions.AccLimit]+']'} }}
                    </mat-error>
                </mat-form-field> -->
                <div class="customKeyBoard" *ngIf="commandOptionAuth.hasVcruise">
                    <custom-key-board type="float"
                        [min]="model[CommandOptions.AccLimit][0]"
                        [max]="model[CommandOptions.AccLimit][1]"
                        [(value)]="form.controls.VScale.value"
                        [isPositiveNum]="true"
                        placeHolder="{{'projectCommands.jumpx.vscale' | translate}} [%]"
                        (valueChange)="change($event,CommandOptions.VScale)"
                        (blurEvent)="blur($event,CommandOptions.VScale)">
                    </custom-key-board>
                </div>
                <!-- <mat-form-field *ngIf="commandOptionAuth.hasVtran">
                    <input matInput type="text" [formGroup]="form" numberInput="float"
                        placeholder="{{'projectCommands.jumpx.vtran' | translate}} [mm/s]"
                        [formControlName]="CommandOptions.Vtran"
                        (blur)="updateStore(CommandOptions.Vtran, $event.target.value)">
                    <mat-error *ngIf="model">
                        {{'projectCommands.jumpx.numRange' | translate: {range: '('+model[CommandOptions.VtranLimit]+']'} }}
                    </mat-error>
                </mat-form-field> -->
                <div class="customKeyBoard" *ngIf="commandOptionAuth.hasVtran">
                    <custom-key-board type="float"
                        [min]="model[CommandOptions.VtranLimit][0]"
                        [max]="model[CommandOptions.VtranLimit][1]"
                        [(value)]="form.controls.Vtran.value"
                        [leftClosedInterval]="false"
                        [isPositiveNum]="true"
                        placeHolder="{{'projectCommands.jumpx.vtran' | translate}} [mm/s]"
                        (valueChange)="change($event,CommandOptions.Vtran)"
                        (blurEvent)="blur($event,CommandOptions.Vtran)">
                    </custom-key-board>
                </div>
                <!-- <mat-form-field *ngIf="commandOptionAuth.hasAcc">
                    <input matInput type="text" [formGroup]="form" numberInput="float"
                        placeholder="{{'projectCommands.jumpx.acc' | translate}} [%]"
                        [formControlName]="CommandOptions.Acc"
                        (blur)="updateStore(CommandOptions.Acc, $event.target.value)">
                    <mat-error *ngIf="model">
                        {{'projectCommands.jumpx.numRange' | translate: {range: '('+model[CommandOptions.AccLimit]+']'} }}
                    </mat-error>
                </mat-form-field> -->
                <div class="customKeyBoard" *ngIf="commandOptionAuth.hasAcc">
                    <custom-key-board type="float"
                        [isPositiveNum]="true"
                        [min]="model[CommandOptions.AccLimit][0]"
                        [max]="model[CommandOptions.AccLimit][1]"
                        [(value)]="form.controls.AScale.value"
                        [leftClosedInterval]="true"
                        placeHolder="{{'projectCommands.jumpx.acc' | translate}} [%]"
                        (valueChange)="change($event,CommandOptions.Acc)"
                        (blurEvent)="blur($event,CommandOptions.Acc)">
                    </custom-key-board>
                </div>
                <mat-form-field *ngIf="commandOptionAuth.hasWithPls">
                    <mat-select multiple
                        placeholder="{{'projectCommands.jumpx.withPls' | translate}}"
                        [formControlName]="CommandOptions.WithPls"
                        (selectionChange)="updateStore(CommandOptions.WithPls, $event.value)">
                        <mat-option *ngFor="let item of model && model[CommandOptions.WithPlsList]" [value]="item">
                            {{item}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
		</mat-card-content>
		<mat-card-actions>
			<button mat-button [mat-dialog-close]="null" cdkFocusInitial>
				{{ 'button.cancel' | translate }}
            </button>
			<button mat-raised-button color="primary" type="submit" [disabled]="form.pristine || form.invalid">
				{{ (!data.model ? 'button.insert' : 'button.edit') | translate }}
			</button>
		</mat-card-actions>
	</mat-card>
</form>
