.title {
    margin: -24px -24px 24px -24px;
    padding: 16px;
    background-color: #00897b;
    color: #fff;
    font-size: 18px;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}