.header {
  margin: -24px -24px 16px -24px;
}

.title {
  font-size: 20px;
  flex: 1;
  padding: 16px;
}

.mat-dialog-title {
  margin: -24px -24px 0px -24px;
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0 24px;
}
.mat-inner-title{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: normal;
}
pre{
  white-space: normal;
  padding-left: 8px;
  line-height: 1.5em;
}

.tooltip {
  display: flex;
  align-items: center;
}
.tooltip, .checkbox-container{
  margin-top: 24px;
}

.tooltip-text {
  font-size: 14px;
}


