.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.title {
  height: 25%;
  background-color: #444;
  padding: 36px;
  font-weight: 500;
  font-size: 24px;
  color: white;
  display: flex;
}

.main {
  position: absolute;
  top: 90px;
  left: 36px;
  right: 36px;
  bottom: 36px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

a {
  cursor: pointer;
  text-align: center;
  padding: 24px;
  transition: box-shadow 200ms, color 200ms;
  -webkit-transition: box-shadow 200ms, color 200ms;
  -moz-transition: box-shadow 200ms, color 200ms;
  -o-transition: box-shadow 200ms, color 200ms;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.54) !important;
  flex-basis: 130px;
}

.tablet-link {
  cursor: not-allowed;
  text-align: center;
  padding: 24px;
  transition: box-shadow 200ms, color 200ms;
  -webkit-transition: box-shadow 200ms, color 200ms;
  -moz-transition: box-shadow 200ms, color 200ms;
  -o-transition: box-shadow 200ms, color 200ms;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.54) !important;
  flex-basis: 130px;
}

.tablet-link mat-icon {
  width: 64px;
  height: 64px;
  font-size: 64px;
  color: rgba(0, 0, 0, 0.26);
}
.tablet-link div {
  color: rgba(0, 0, 0, 0.26);
}

a:hover {
  box-shadow: 0 4px 16px #e4e4e4;
  color: rgba(0, 0, 0, 0.87) !important;
  text-decoration: none;
}

a img,
a mat-icon {
  width: 64px;
  height: 64px;
  font-size: 64px;
}

.disabled {
  cursor: auto;
}
.disabled:hover {
  box-shadow: none !important;
}

:host-context(.cs-dark) .title {
  background-color: #222;
}
:host-context(.cs-dark) a {
  color: rgba(255, 255, 255, 0.66) !important;
}
:host-context(.cs-dark) a:hover {
  box-shadow: 0 4px 16px #ccc;
  color: rgba(255, 255, 255, 0.87) !important;
}