<div class="main mat-typography">
	<div class="wrapper">
		<div class="title">{{ 'payloads.new' | translate }}</div>
		<div class="content">
			<!-- <mat-form-field>
				<input
					matInput
					placeholder="{{ 'payloads.name' | translate }}"
					[formControl]="name"
					virtualKeyboard
					ktype="text"
				/>
				<mat-error *ngIf="name.invalid">{{ 'error.invalid_file_name' | translate }}</mat-error>
            </mat-form-field> -->
            <custom-key-board type="string" placeHolder="{{ 'payloads.name' | translate }}" [maxLength]="32"
                [value]="name.value" [nameRules]="true" (valueChange)="change($event)" (blurEvent)="change($event)"
            ></custom-key-board>
		</div>
	</div>
	<div class="actions">
		<button mat-button color="primary" matDialogClose>
			{{ 'button.cancel' | translate }}
		</button>
		<button mat-button 		mat-raised-button color="primary" (click)="insert()" [disabled]="name.invalid">
			{{ 'payloads.btn_create' | translate }}
		</button>
	</div>
</div>
