<div class="main mat-typography">
	<div class="wrapper">
		<div class="title">{{ 'payloads.new' | translate }}</div>
		<div class="content">
			<mat-form-field>
				<input
					matInput
					placeholder="{{ 'payloads.name' | translate }}"
					[formControl]="name"
					virtualKeyboard
					ktype="text"
				/>
				<mat-error *ngIf="name.invalid">{{ 'error.invalid_file_name' | translate }}</mat-error>
			</mat-form-field>
		</div>
	</div>
	<div class="actions">
		<button mat-button color="primary" matDialogClose>
			{{ 'button.cancel' | translate }}
		</button>
		<button mat-button color="primary" (click)="insert()" [disabled]="name.invalid">
			{{ 'payloads.btn_create' | translate }}
		</button>
	</div>
</div>
