.custom-key-board {
    width: 100%;
}
.keyboard {
    position: relative;
}
.numInputKeyBoard {
    position: relative;
}
.cursor {
    width: 2px;
    background: #888;
    height: 24px;
    position: absolute;
    top: 12px;
}
.isHide {
    display: none;
}
.blink {
    animation: blink-animation 1s steps(2, start) infinite;
    -webkit-animation: blink-animation 1s steps(2, start) infinite;
}
.inputLineHeight .mat-input-element {
    // height: 32px !important;
    line-height: initial;
}
// .mat-input-element {
//   height: 32px !important;
//   line-height: 1.125em;
// }
.iconPrefix {
    mat-icon {
        margin-right: 24px;
    }
}
::ng-deep .iconPrefix .mat-form-field-infix {
    top: 6px !important;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

::ng-deep .keyboard .mat-error {
  padding-bottom: 1px;
}
