<div class="mat-typography">
  <div class="title mat-elevation-z1">
    <mat-icon>add</mat-icon>&nbsp;&nbsp;{{'projects.toolbar.new_lib'|translate}}
  </div>
  <div class="name-wrapper">
    <mat-form-field>
      <mat-select placeholder="{{'projects.toolbar.app'|translate}}" [(ngModel)]="appName">
        <mat-option *ngFor="let app of apps" [value]="app.name">
          {{app.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="{{'projects.toolbar.lib_name'|translate}}" [(ngModel)]="name">
    </mat-form-field>
  </div>
  <div class="actions">
    <button mat-button mat-dialog-close>{{'button.cancel'|translate}}</button>
    <button mat-button color="primary" (click)="create()" [disabled]="!name || name.length === 0 || !appName || submitting">{{'projects.toolbar.lib_create'|translate}}</button>
  </div>
</div>