<div class="mat-typography wizard">
	<div class="header mat-toolbar mat-primary mat-elevation-z3">
		<button mat-button (click)="closeDialog(true)">
			<mat-icon>close</mat-icon>
		</button>
		<div class="title">
			{{ 'pallets.wizard.title' | translate }}:
			{{ dataService.selectedPallet.name }}
		</div>
	</div>
	<mat-horizontal-stepper #stepper="matHorizontalStepper" [linear]="true" (selectionChange)="onStepChange($event)">
		<mat-step [stepControl]="step1">
			<form [formGroup]="step1">
				<ng-template matStepLabel>{{ 'pallets.wizard.step1' | translate }}</ng-template>
				<div class="step-wrapper">
					<div class="step-content">
						<div style="display: flex;">
							<mat-form-field class="input-normal" style="margin-right: 16px;">
								<mat-select
									value="{{ dataService.selectedPallet.type }}"
									placeholder="{{ 'pallets.type' | translate }}"
									[disabled]="true"
								>
									<mat-option value="{{ dataService.selectedPallet.type }}">{{
              ('pallets.type_' + dataService.selectedPallet.type) | translate
									}}</mat-option>
								</mat-select>
							</mat-form-field>
							<mat-form-field class="input-normal" *ngIf="dataService.selectedPallet.type === 'GRID'">
								<mat-select
									placeholder="{{ 'pallets.wizard.order' | translate }}"
									[(ngModel)]="dataService.selectedPallet.order"
									formControlName="order"
									required
									(selectionChange)="dataService.selectedPallet.order = $event.value; onWindowResize()"
								>
									<mat-option *ngFor="let o of dataService.selectedPallet.orderList" value="{{ o }}">{{o}}</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div *ngIf="dataService.selectedPallet.type === 'GRID'">
							<h3>{{ 'pallets.wizard.num_of_items' | translate }}</h3>
							<div class="pallet-waizard-keyboard">
								<!-- <mat-form-field class="input-small">
									<input
										matInput
										min="1"
										placeholder="nX"
										[(ngModel)]="dataService.selectedPallet.itemsX"
										formControlName="itemsX"
										required
										(ngModelChange)="onWindowResize()"
										virtualKeyboard
										ktype="numeric_int_pos"
									/>
                </mat-form-field>
                <mat-form-field class="input-small">
									<input
										matInput
										placeholder="nY"
										min="1"
										[(ngModel)]="dataService.selectedPallet.itemsY"
										formControlName="itemsY"
										required
										(ngModelChange)="onWindowResize()"
										virtualKeyboard
										ktype="numeric_int_pos"
									/>
                </mat-form-field>
                <mat-form-field class="input-small">
									<input
										matInput
										placeholder="nZ"
										min="1"
										[(ngModel)]="dataService.selectedPallet.itemsZ"
										formControlName="itemsZ"
										required
										(ngModelChange)="onWindowResize()"
										virtualKeyboard
										ktype="numeric_int_pos"
									/>
                </mat-form-field> -->
                <custom-key-board type="int"
                    [isPositiveNum]="true"
                    [min]="1"
                    [max]="1000"
                    [emitInvalidValue]="true"
                    [placeHolder]="'nX'"
                    class="input-small"
                    [(value)]="dataService.selectedPallet.itemsX"
										[required]="true"
                    (valueChange)="onWindowResize()"
                    identificationTag="itemsX"
                    (isValidEvent)="onValidatorCheck($event,'itemsX',step1)"
                    (blurEvent)="setFormGroupItem($event,'itemsX',step1)"
                    (inputChange)="setFormGroupItem($event,'itemsX',step1)">
                </custom-key-board>
                <custom-key-board
                    type="int"
                    [isPositiveNum]="true"
                    [emitInvalidValue]="true"
                    [min]="1"
                    [max]="1000"
                    [placeHolder]="'nY'"
                    class="input-small"
                    identificationTag="itemsY"
                    [(value)]="dataService.selectedPallet.itemsY"
                    [required]="true"
                    (valueChange)="onWindowResize()"
                    (isValidEvent)="onValidatorCheck($event,'itemsY',step1)"
                    (blurEvent)="setFormGroupItem($event,'itemsY',step1)"
                    (inputChange)="setFormGroupItem($event,'itemsY',step1)">
              </custom-key-board>
                <custom-key-board
                    type="int"
                    [isPositiveNum]="true"
                    [emitInvalidValue]="true"
                    [min]="1"
                    [max]="1000"
                    [placeHolder]="'nZ'"
                    identificationTag="itemsZ"
                    class="input-small"
                    [(value)]="dataService.selectedPallet.itemsZ"
                    [required]="true"
                    (valueChange)="onWindowResize()"
                    (isValidEvent)="onValidatorCheck($event,'itemsZ',step1)"
                    (blurEvent)="setFormGroupItem($event,'itemsZ',step1)"
                    (inputChange)="setFormGroupItem($event,'itemsZ',step1)">
                </custom-key-board>
							</div>
						</div>
						<div style="display: flex; flex-direction: column;">
							<div>
								<h3>{{ 'pallets.wizard.dimensions_item' | translate }}</h3>
								<div class="pallet-waizard-keyboard">
									<!-- <mat-form-field class="input-small">
										<input
											matInput
											placeholder="X"
											[(ngModel)]="dataService.selectedPallet.itemSizeX"
											formControlName="itemSizeX"
											required
											(ngModelChange)="onWindowResize()"
											virtualKeyboard
											ktype="numeric_pos"
										/>
                  </mat-form-field>
                  <mat-form-field class="input-small">
										<input
											matInput
											placeholder="Y"
											[(ngModel)]="dataService.selectedPallet.itemSizeY"
											formControlName="itemSizeY"
											required
											(ngModelChange)="onWindowResize()"
											virtualKeyboard
											ktype="numeric_pos"
										/>
									</mat-form-field>
									<mat-form-field class="input-small">
										<input
											matInput
											placeholder="Z"
											[(ngModel)]="dataService.selectedPallet.itemSizeZ"
											formControlName="itemSizeZ"
											required
											(ngModelChange)="onWindowResize()"
											virtualKeyboard
											ktype="numeric_pos"
										/>
									</mat-form-field> -->
                  <custom-key-board
                      type="float"
                      [isPositiveNum]="true"
                      [emitInvalidValue]="true"
                      [min]="1"
                      [placeHolder]="'X'"
                      class="input-small"
                      [(value)]="dataService.selectedPallet.itemSizeX"
                      [required]="true"
                      identificationTag="itemSizeX"
                      (isValidEvent)="onValidatorCheck($event,'itemSizeX',step1)"
                      (blurEvent)="setFormGroupItem($event,'itemSizeX',step1, true)"
                      (inputChange)="setFormGroupItem($event,'itemSizeX',step1, true)">
                 </custom-key-board>
                 <custom-key-board
                      type="float"
                      [isPositiveNum]="true"
                      [emitInvalidValue]="true"
                      [min]="1"
                      [placeHolder]="'Y'"
                      class="input-small"
                      [(value)]="dataService.selectedPallet.itemSizeY"
                      [required]="true"
                      identificationTag="itemSizeY"
                      (isValidEvent)="onValidatorCheck($event,'itemSizeY',step1)"
                      (blurEvent)="setFormGroupItem($event,'itemSizeY',step1, true)"
                      (inputChange)="setFormGroupItem($event,'itemSizeY',step1, true)">
                </custom-key-board>
                <custom-key-board
                      type="float"
                      [isPositiveNum]="true"
                      [emitInvalidValue]="true"
                      [min]="1"
                      [placeHolder]="'Z'"
                      class="input-small"
                      [(value)]="dataService.selectedPallet.itemSizeZ"
                      [required]="true"
                      identificationTag="itemSizeZ"
                      (isValidEvent)="onValidatorCheck($event,'itemSizeZ',step1)"
                      (blurEvent)="setFormGroupItem($event,'itemSizeZ',step1, true)"
                      (inputChange)="setFormGroupItem($event,'itemSizeZ',step1, true)">
                </custom-key-board>
								</div>
							</div>
							<div style="margin-left: 0;">
								<h3>{{ 'pallets.wizard.dimensions_pallet' | translate }}</h3>
								<div class="pallet-waizard-keyboard">
									<!-- <mat-form-field class="input-small">
										<input
											matInput
											placeholder="X"
											[(ngModel)]="dataService.selectedPallet.palletSizeX"
											formControlName="palletSizeX"
											required
											(ngModelChange)="onWindowResize()"
											virtualKeyboard
											ktype="numeric_pos"
										/>
									</mat-form-field>
									<mat-form-field class="input-small">
										<input
											matInput
											placeholder="Y"
											[(ngModel)]="dataService.selectedPallet.palletSizeY"
											formControlName="palletSizeY"
											required
											(ngModelChange)="onWindowResize()"
											virtualKeyboard
											ktype="numeric_pos"
										/>
                  </mat-form-field> -->
                  <custom-key-board
                      type="float"
                      [isPositiveNum]="true"
                      [emitInvalidValue]="true"
                      [placeHolder]="'X'"
                      class="input-small"
                      [min]="1"
                      [(value)]="dataService.selectedPallet.palletSizeX"
                      [required]="true"
											identificationTag="palletSizeX"
                      (isValidEvent)="onValidatorCheck($event,'palletSizeX',step1)"
                      (blurEvent)="setFormGroupItem($event,'palletSizeX',step1, true)"
                      (inputChange) ="setFormGroupItem($event,'palletSizeX',step1, true)">
                  </custom-key-board>
                  <custom-key-board
                      type="float"
                      [isPositiveNum]="true"
                      [emitInvalidValue]="true"
                      [placeHolder]="'Y'"
                      class="input-small"
                      [min]="1"
                      [(value)]="dataService.selectedPallet.palletSizeY"
                      [required]="true"
											identificationTag="palletSizeY"
                      (isValidEvent)="onValidatorCheck($event,'palletSizeY',step1)"
                      (blurEvent)="setFormGroupItem($event,'palletSizeY',step1, true)"
                      (inputChange) ="setFormGroupItem($event,'palletSizeY',step1, true)">
                  </custom-key-board>
								</div>
							</div>
						</div>
						<div *ngIf="dataService.selectedPallet.type === 'CUSTOM'">
							<h3>{{ 'pallets.wizard.levels_in_pallet' | translate }}:</h3>
							<div style="align-items: center;width:120px" class="pallet-waizard-keyboard">
								<!-- <mat-form-field class="input-normal">
									<input
										matInput
										placeholder="{{ 'pallets.wizard.levels' | translate }}"
										[(ngModel)]="dataService.selectedPallet.levels"
										formControlName="levels"
										required
										virtualKeyboard
										ktype="numeric_int_pos"
									/>
                </mat-form-field> -->
                <custom-key-board
                    type="int"
                    [min]="1"
                    [isPositiveNum]="true"
                    [emitInvalidValue]="true"
                    [required]="true"
                    identificationTag="levels"
                    placeHolder="{{ 'pallets.wizard.levels' | translate }}"
                    [(value)]="dataService.selectedPallet.levels"
                    (isValidEvent)="onValidatorCheck($event,'levels',step1)"
                    (blurEvent) ="setFormGroupItem($event,'levels',step1)"
                    (inputChange) = "setFormGroupItem($event,'levels',step1)"
                ></custom-key-board>
								<mat-checkbox
									color="primary"
									[(ngModel)]="dataService.selectedPallet.diffOddEven"
									formControlName="diffOddEven"
									(change)="blurActive(); refreshDesigners()"
									>{{ 'pallets.wizard.odd_even' | translate }}</mat-checkbox>
							</div>
						</div>
						<div *ngIf="dataService.selectedPallet.type === 'GRID' || dataService.selectedPallet.dataFile">
							<h3>{{ 'pallets.wizard.curr_index' | translate }}:</h3>
							<mat-error *ngIf="step1.controls['index'].hasError('invalidIndex')">{{
								'pallets.wizard.invalid_val' | translate
							}}</mat-error>
							<mat-radio-group formControlName="index" (change)="blurActive()" class="form-index">
								<mat-radio-button value="full" color="primary" *ngIf="dataService.selectedPallet.type === 'GRID'">
									<span>{{ 'pallets.wizard.index_full' | translate }}</span>
									<span *ngIf="dataService.selectedPallet.itemsX && dataService.selectedPallet.itemsY && dataService.selectedPallet.itemsZ">({{
										dataService.selectedPallet.itemsX *
											dataService.selectedPallet.itemsY *
											dataService.selectedPallet.itemsZ
									}})</span>
								</mat-radio-button>
								<mat-radio-button value="empty" style="margin: 0 16px;" color="primary"
									>{{ 'pallets.wizard.index_empty' | translate }} (0)</mat-radio-button
								>
								<mat-radio-button value="custom" color="primary">
									{{ 'pallets.wizard.index_custom' | translate }}
								</mat-radio-button>
								<!-- <mat-form-field class="input-normal" appearance="outline" style="margin-left: 8px;">
									<input
										matInput
										[(ngModel)]="dataService.selectedPallet.index"
										[disabled]="step1.controls['index'].value !== 'custom'"
										[ngModelOptions]="{ standalone: true }"
										(change)="onIndexChange()"
										(onKeyboardClose)="onIndexChange()"
										virtualKeyboard
										ktype="numeric_int_pos"
									/>
                </mat-form-field> -->

                <div style="width: 90px;margin-left: 8px;">
                  <custom-key-board
                      class="input-normal"
                      appearance="outline"
                      type="int"
                      [isPositiveNum]="true"
                      [emitInvalidValue]="true"
                      identificationTag="index"
                      [(value)]="dataService.selectedPallet.index"
                      [disabled]="step1.controls['index'].value !== 'custom'"
                      (blurEvent)="onIndexChange()"
                      (inputChange)="onIndexChange()"
                  ></custom-key-board>
              </div>
							</mat-radio-group>

						</div>
					</div>
					<div
						#palletContainer1
						class="mat-elevation-z1 preview-container"
						*ngIf="dataService.selectedPallet.type === 'GRID'"
					>
						<img
							*ngIf="dataService.selectedPallet.order && !isPreview1Showing"
							src="assets/pics/pallet/{{ dataService.selectedPallet.order.toLowerCase() }}.png"
						/>
						<canvas #palletPreviewStep1 width="{{ previewWidth }}" height="{{ previewHeight }}"></canvas>
						<div *ngIf="abnormalItemCount" class="error-message">
							{{ 'pallets.wizard.3d_disable' | translate }}
						</div>
					</div>
				</div>
			</form>
		</mat-step>
		<mat-step *ngIf="dataService.selectedPallet.type === 'CUSTOM'" [stepControl]="stepCustom1">
			<form [formGroup]="stepCustom1">
				<ng-template matStepLabel>{{ 'pallets.wizard.level' | translate }} 1</ng-template>
				<div class="step-wrapper">
					<div class="step-content custom-level">
						<pallet-level-designer
							[level]="1"
							[pallet]="dataService.selectedPallet"
							[errors]="stepCustom1.get('levelExists').errors"
							#designer
							(change)="onLevelChange(1, $event)"
						></pallet-level-designer>
					</div>
					<input type="hidden" [value]="designer.items.length" formControlName="levelExists" />
				</div>
			</form>
		</mat-step>
		<mat-step
			*ngIf="dataService.selectedPallet.type === 'CUSTOM' && dataService.selectedPallet.diffOddEven"
			[stepControl]="stepCustom2"
		>
			<form [formGroup]="stepCustom2">
				<ng-template matStepLabel>{{ 'pallets.wizard.level' | translate }} 2</ng-template>
				<div class="step-wrapper">
					<div class="step-content custom-level">
						<pallet-level-designer
							[level]="2"
							[pallet]="dataService.selectedPallet"
							[errors]="stepCustom2.get('levelExists').errors"
							#designer2
							(change)="onLevelChange(2, $event)"
						></pallet-level-designer>
					</div>
					<input type="hidden" [value]="designer2.items.length" formControlName="levelExists" />
				</div>
			</form>
		</mat-step>
		<mat-step [stepControl]="step2">
			<form [formGroup]="step2">
				<ng-template matStepLabel>{{ 'pallets.wizard.origin' | translate }}</ng-template>
				<div class="step-wrapper">
					<div class="step-content">
						<div class="origin-status">
							<div>{{ 'pallets.wizard.origin_status' | translate }}:</div>
							<div class="red" [ngClass]="{green: this.dataService.selectedPallet.isFrameCalibrated}">
								{{
									(this.dataService.selectedPallet.isFrameCalibrated
										? 'pallets.wizard.calibrated'
										: 'pallets.wizard.calibrated_not') | translate
								}}
							</div>
							<button type="button" mat-raised-button color="primary" (click)="calibrate($event)" [disabled]="invalidOrigin">
								{{ 'button.calibrate' | translate }}
							</button>
						</div>
						<div *ngIf="originResult && dataService.selectedPallet.isFrameCalibrated">{{ 'pallets.wizard.calibrated_origin' | translate }}:&nbsp; {{ originResult }}</div>
						<img height="260" width="430" src="assets/pics/pallet/{{ originPicName }}" />
					</div>
					<div class="step-content" (mouseleave)="setOriginPic(0)">
						<div (mouseenter)="setOriginPic(1)">
							<div class="text-and-button">
								<h3>{{ 'pallets.wizard.origin' | translate }}:</h3>
								<span
									matTooltip="{{ 'pallets.wizard.err_incomp_robot' | translate }}"
									[matTooltipDisabled]="isCurrentRobotCompatible"
								>
									<button
										type="button"
										mat-raised-button
										color="primary"
										[disabled]="!isCurrentRobotCompatible"
										(click)="teachOrigin()"
									>
										{{ 'pallets.wizard.button.teach_origin' | translate }}
									</button>
								</span>
							</div>
							<div class="pallet-waizard-keyboard">
								<!-- <mat-form-field class="input-small"
									><input
										matInput
										placeholder="X"
										[(ngModel)]="dataService.selectedPallet.origin.x"
										formControlName="originX"
										required
										virtualKeyboard
										ktype="numeric"
								/></mat-form-field>
								<mat-form-field class="input-small"
									><input
										matInput
										placeholder="Y"
										[(ngModel)]="dataService.selectedPallet.origin.y"
										formControlName="originY"
										required
										virtualKeyboard
										ktype="numeric"
								/></mat-form-field>
								<mat-form-field class="input-small"
									><input
										matInput
										placeholder="Z"
										[(ngModel)]="dataService.selectedPallet.origin.z"
										formControlName="originZ"
										required
										virtualKeyboard
										ktype="numeric"
                /></mat-form-field> -->
                <custom-key-board
                    type="float"
                    [placeHolder]="'X'"
                    class="input-small"
                    [emitInvalidValue]="true"
                    [(value)]="dataService.selectedPallet.origin.x"
                    [required]="true"
                    identificationTag="originX"
                    (isValidEvent)="onValidatorCheck($event,'originX',step2)"
                    (blurEvent)="setFormGroupItem($event,'originX',step2)"
                    (inputChange)="setFormGroupItem($event,'originX',step2)">
                </custom-key-board>
                <custom-key-board
                    type="float"
                    [placeHolder]="'Y'"
                    class="input-small"
                    [emitInvalidValue]="true"
                    [(value)]="dataService.selectedPallet.origin.y"
                    [required]="true"
                    identificationTag="originY"
                    (isValidEvent)="onValidatorCheck($event,'originY',step2)"
                    (blurEvent)="setFormGroupItem($event,'originY',step2)"
                    (inputChange)="setFormGroupItem($event,'originY',step2)">
                </custom-key-board>
                <custom-key-board
                    type="float"
                    [placeHolder]="'Z'"
                    class="input-small"
                    [emitInvalidValue]="true"
                    [(value)]="dataService.selectedPallet.origin.z"
                    [required]="true"
                    identificationTag="originZ"
                    (isValidEvent)="onValidatorCheck($event,'originZ',step2)"
                    (blurEvent)="setFormGroupItem($event,'originZ',step2)"
                    (inputChange)="setFormGroupItem($event,'originZ',step2)">
                </custom-key-board>
							</div>
						</div>
						<div (mouseenter)="setOriginPic(2)">
							<div class="text-and-button">
								<h3>{{ 'pallets.wizard.posX' | translate }}:</h3>
								<span
									matTooltip="{{ 'pallets.wizard.err_incomp_robot' | translate }}"
									[matTooltipDisabled]="isCurrentRobotCompatible"
								>
									<button
										type="button"
										mat-raised-button
										color="primary"
										[disabled]="!isCurrentRobotCompatible"
										(click)="teachPosX()"
									>
										{{ 'pallets.wizard.button.teach_posX' | translate }}
									</button>
								</span>
							</div>
							<div class="pallet-waizard-keyboard">
								<!-- <mat-form-field class="input-small"
									><input
										matInput
										placeholder="X"
										[(ngModel)]="dataService.selectedPallet.posX.x"
										formControlName="posXX"
										required
										virtualKeyboard
										ktype="numeric"
								/></mat-form-field>
								<mat-form-field class="input-small"
									><input
										matInput
										placeholder="Y"
										[(ngModel)]="dataService.selectedPallet.posX.y"
										formControlName="posXY"
										required
										virtualKeyboard
										ktype="numeric"
								/></mat-form-field>
								<mat-form-field class="input-small"
									><input
										matInput
										placeholder="Z"
										[(ngModel)]="dataService.selectedPallet.posX.z"
										formControlName="posXZ"
										required
										virtualKeyboard
										ktype="numeric"
                /></mat-form-field> -->
                <custom-key-board
                    type="float"
                    [placeHolder]="'X'"
                    class="input-small"
                    [emitInvalidValue]="true"
                    [(value)]="dataService.selectedPallet.posX.x"
                    [required]="true"
                    identificationTag="posXX"
                    (isValidEvent)="onValidatorCheck($event,'posXX',step2)"
                    (blurEvent)="setFormGroupItem($event,'posXX',step2)"
                    (inputChange)="setFormGroupItem($event,'posXX',step2)">
                </custom-key-board>
                <custom-key-board
                    type="float"
                    [placeHolder]="'Y'"
                    class="input-small"
                    [emitInvalidValue]="true"
                    [(value)]="dataService.selectedPallet.posX.y"
                    [required]="true"
                    identificationTag="posXY"
                    (isValidEvent)="onValidatorCheck($event,'posXY',step2)"
                    (blurEvent)="setFormGroupItem($event,'posXY',step2)"
                    (inputChange)="setFormGroupItem($event,'posXY',step2)">
                </custom-key-board>
                <custom-key-board
                    type="float"
                    [placeHolder]="'Z'"
                    class="input-small"
                    [emitInvalidValue]="true"
                    [(value)]="dataService.selectedPallet.posX.z"
                    [required]="true"
                    identificationTag="posXZ"
                    (isValidEvent)="onValidatorCheck($event,'posXZ',step2)"
                    (blurEvent)="setFormGroupItem($event,'posXZ',step2)"
                    (inputChange)="setFormGroupItem($event,'posXZ',step2)">
                </custom-key-board>
							</div>
						</div>
						<div (mouseenter)="setOriginPic(3)">
							<div class="text-and-button">
								<h3>{{ 'pallets.wizard.posY' | translate }}:</h3>
								<span
									matTooltip="{{ 'pallets.wizard.err_incomp_robot' | translate }}"
									[matTooltipDisabled]="isCurrentRobotCompatible"
								>
									<button
										type="button"
										mat-raised-button
										color="primary"
										[disabled]="!isCurrentRobotCompatible"
										(click)="teachPosY()"
									>
										{{ 'pallets.wizard.button.teach_posXY' | translate }}
									</button>
								</span>
							</div>
							<div class="pallet-waizard-keyboard">
								<!-- <mat-form-field class="input-small"
									><input
										matInput
										placeholder="X"
										[(ngModel)]="dataService.selectedPallet.posY.x"
										formControlName="posYX"
										required
										virtualKeyboard
										ktype="numeric"
								/></mat-form-field>
								<mat-form-field class="input-small"
									><input
										matInput
										placeholder="Y"
										[(ngModel)]="dataService.selectedPallet.posY.y"
										formControlName="posYY"
										required
										virtualKeyboard
										ktype="numeric"
								/></mat-form-field>
								<mat-form-field class="input-small"
									><input
										matInput
										placeholder="Z"
										[(ngModel)]="dataService.selectedPallet.posY.z"
										formControlName="posYZ"
										required
										virtualKeyboard
										ktype="numeric"
                /></mat-form-field> -->
                <custom-key-board
                    type="float"
                    [placeHolder]="'X'"
                    class="input-small"
                    [emitInvalidValue]="true"
                    [(value)]="dataService.selectedPallet.posY.x"
                    [required]="true"
                    identificationTag="posYX"
                    (isValidEvent)="onValidatorCheck($event,'posYX',step2)"
                    (blurEvent)="setFormGroupItem($event,'posYX',step2)"
                    (inputChange)="setFormGroupItem($event,'posYX',step2)">
                </custom-key-board>
                <custom-key-board
                    type="float"
                    [placeHolder]="'Y'"
                    class="input-small"
                    [emitInvalidValue]="true"
                    [(value)]="dataService.selectedPallet.posY.y"
                    [required]="true"
                    identificationTag="posYY"
                    (isValidEvent)="onValidatorCheck($event,'posYY',step2)"
                    (blurEvent)="setFormGroupItem($event,'posYY',step2)"
                    (inputChange)="setFormGroupItem($event,'posYY',step2)">
                </custom-key-board>
                <custom-key-board
                    type="float"
                    [placeHolder]="'Z'"
                    class="input-small"
                    [emitInvalidValue]="true"
                    [(value)]="dataService.selectedPallet.posY.z"
                    [required]="true"
                    identificationTag="posYZ"
                    (isValidEvent)="onValidatorCheck($event,'posYZ',step2)"
                    (blurEvent)="setFormGroupItem($event,'posYZ',step2)"
                    (inputChange)="setFormGroupItem($event,'posYZ',step2)">
                </custom-key-board>
							</div>
						</div>
					</div>
				</div>
				<input
					type="checkbox"
					[(ngModel)]="dataService.selectedPallet.isFrameCalibrated"
					formControlName="calibrated"
					style="visibility: hidden!important;"
				/>
			</form>
		</mat-step>
		<mat-step [stepControl]="step3">
			<form [formGroup]="step3" (keydown.enter)="$event.preventDefault()">
				<ng-template matStepLabel>{{ 'pallets.wizard.entry' | translate }}</ng-template>
				<div class="step-wrapper">
					<div class="step-content">
						<div class="center-vertical">
							<h2 [class.title-disabled]="!dataService.selectedPallet.entryEnabled">{{ 'pallets.wizard.entry_pos' | translate }}</h2>
							<mat-slide-toggle
								[(ngModel)]="dataService.selectedPallet.entryEnabled"
								color="primary"
								formControlName="entryEnable"
								(change)="toggleEntryEnable($event)"
								>{{ 'enable' | translate }}</mat-slide-toggle
							>
						</div>
						<span
							matTooltip="{{ 'pallets.wizard.err_incomp_robot' | translate }}"
							[matTooltipDisabled]="isCurrentRobotCompatible"
						>
							<button
								mat-raised-button
								color="primary"
								[disabled]="!isCurrentRobotCompatible || !dataService.selectedPallet.entryEnabled"
								(click)="teachEntry()"
							>
								{{ 'pallets.wizard.button.teach_entry' | translate }}
							</button>
						</span>
						<table class="entry-table">
							<tr>
								<td>
									<h3 [class.title-disabled]="!dataService.selectedPallet.entryEnabled">{{ 'pallets.wizard.curr_pos' | translate }}:</h3>
									<div style="display: flex;" [class.showKeyboardError]="showStep3KeyboardError && dataService.selectedPallet.entryEnabled">
										<!-- <mat-form-field class="input-small"
											><input
												matInput
												placeholder="X"
												[(ngModel)]="dataService.selectedPallet.entry.x"
												formControlName="x"
												required
												virtualKeyboard
												ktype="numeric"
										/></mat-form-field>
										<mat-form-field class="input-small"
											><input
												matInput
												placeholder="Y"
												[(ngModel)]="dataService.selectedPallet.entry.y"
												formControlName="y"
												required
												virtualKeyboard
												ktype="numeric"
										/></mat-form-field>
										<mat-form-field class="input-small"
											><input
												matInput
												placeholder="Z"
												[(ngModel)]="dataService.selectedPallet.entry.z"
												formControlName="z"
												required
												virtualKeyboard
												ktype="numeric"
										/></mat-form-field>
										<mat-form-field class="input-small" *ngIf="dataService.robotType === 'PUMA'"
											><input
												matInput
												placeholder="Yaw"
												[(ngModel)]="dataService.selectedPallet.entry.yaw"
												formControlName="yaw"
												required
												virtualKeyboard
												ktype="numeric"
										/></mat-form-field>
										<mat-form-field class="input-small" *ngIf="dataService.robotType === 'PUMA'"
											><input
												matInput
												placeholder="Pitch"
												[(ngModel)]="dataService.selectedPallet.entry.pitch"
												formControlName="pitch"
												required
												virtualKeyboard
												ktype="numeric"
										/></mat-form-field>
										<mat-form-field class="input-small"
											><input
												matInput
												placeholder="Roll"
												[(ngModel)]="dataService.selectedPallet.entry.roll"
												formControlName="roll"
												required
												virtualKeyboard
												ktype="numeric"
                    /></mat-form-field> -->
                    <custom-key-board
                        type="float"
                        [placeHolder]="'X'"
                        class="input-small"
                        [emitInvalidValue]="true"
                        [(value)]="dataService.selectedPallet.entry.x"
                        [required]="true"
                        identificationTag="x"
                        [disabled]="!isCurrentRobotCompatible || !dataService.selectedPallet.entryEnabled"
                        (isValidEvent)="onValidatorCheck($event,'x',step3)"
                        (blurEvent)="setFormGroupItem($event,'x',step3)"
                        (inputChange)="setFormGroupItem($event,'x',step3)">
                    </custom-key-board>
                    <custom-key-board
                        type="float"
                        [placeHolder]="'Y'"
                        class="input-small"
                        [emitInvalidValue]="true"
                        [(value)]="dataService.selectedPallet.entry.y"
                        [required]="true"
                        identificationTag="y"
                        [disabled]="!isCurrentRobotCompatible || !dataService.selectedPallet.entryEnabled"
                        (isValidEvent)="onValidatorCheck($event,'y',step3)"
                        (blurEvent)="setFormGroupItem($event,'y',step3)"
                        (inputChange)="setFormGroupItem($event,'y',step3)">
                    </custom-key-board>
                    <custom-key-board
                        type="float"
                        [placeHolder]="'Z'"
                        class="input-small"
                        [emitInvalidValue]="true"
                        [(value)]="dataService.selectedPallet.entry.z"
                        [required]="true"
                        identificationTag="z"
                        [disabled]="!isCurrentRobotCompatible || !dataService.selectedPallet.entryEnabled"
                        (isValidEvent)="onValidatorCheck($event,'z',step3)"
                        (blurEvent)="setFormGroupItem($event,'z',step3)"
                        (inputChange)="setFormGroupItem($event,'z',step3)">
                    </custom-key-board>
                    <custom-key-board
                        *ngIf="dataService.robotType === 'PUMA'"
                        type="float"
                        [placeHolder]="'Yaw'"
                        class="input-small"
                        [emitInvalidValue]="true"
                        [(value)]="dataService.selectedPallet.entry.yaw"
                        [required]="true"
                        identificationTag="yaw"
                        [disabled]="!isCurrentRobotCompatible || !dataService.selectedPallet.entryEnabled"
                        (isValidEvent)="onValidatorCheck($event,'yaw',step3)"
                        (blurEvent)="setFormGroupItem($event,'yaw',step3)"
                        (inputChange)="setFormGroupItem($event,'yaw',step3)">
                    </custom-key-board>
                    <custom-key-board
                        *ngIf="dataService.robotType === 'PUMA'"
                        type="float"
                        [placeHolder]="'Pitch'"
                        [disabled]="!isCurrentRobotCompatible || !dataService.selectedPallet.entryEnabled"
                        class="input-small"
                        [emitInvalidValue]="true"
                        [(value)]="dataService.selectedPallet.entry.pitch"
                        [required]="true"
                        identificationTag="pitch"
                        (isValidEvent)="onValidatorCheck($event,'pitch',step3)"
                        (blurEvent)="setFormGroupItem($event,'pitch',step3)"
                        (inputChange)="setFormGroupItem($event,'pitch',step3)">
                    </custom-key-board>
                    <custom-key-board
                        type="float"
                        [placeHolder]="'Roll'"
                        [disabled]="!isCurrentRobotCompatible || !dataService.selectedPallet.entryEnabled"
                        class="input-small"
                        [emitInvalidValue]="true"
                        [(value)]="dataService.selectedPallet.entry.roll"
                        [required]="true"
                        identificationTag="roll"
                        (isValidEvent)="onValidatorCheck($event,'roll',step3)"
                        (blurEvent)="setFormGroupItem($event,'roll',step3)"
                        (inputChange)="setFormGroupItem($event,'roll',step3)">
                    </custom-key-board>
									</div>
								</td>
								<td class="flag-wrapper">
									<h3>{{ 'pallets.wizard.conf' | translate }}:</h3>
									<mat-form-field
										*ngFor="let f of dataService.robotCoordinateType.flags; let i = index"
										style="max-width:250px;"
									>
										<mat-label>{{ f }}</mat-label>
										<mat-select [formControlName]="'flag' + i" [(ngModel)]="dataService.selectedPallet.flags[i]">
											<div *ngIf="f === 'Arm'">
												<mat-option [value]="1">LEFTY</mat-option>
												<mat-option [value]="2">RIGHTY</mat-option>
											</div>
											<div *ngIf="f === 'Elbow'">
												<mat-option [value]="1">BELOW</mat-option>
												<mat-option [value]="2">ABOVE</mat-option>
											</div>
											<div *ngIf="f === 'Wrist'">
												<mat-option [value]="1">NOFLIP</mat-option>
												<mat-option [value]="2">FLIP</mat-option>
											</div>
										</mat-select>
										<mat-error *ngIf="step3.controls['flag' + i].invalid">{{ 'pallets.wizard.err_flag' | translate }}</mat-error>
									</mat-form-field>
								</td>
							</tr>
						</table>
					</div>
					<img src="assets/pics/pallet/entry.png" />
				</div>
			</form>
		</mat-step>
		<mat-step [stepControl]="step4">
			<form [formGroup]="step4">
				<ng-template matStepLabel>{{ 'pallets.wizard.step4' | translate }}</ng-template>
				<div class="step-wrapper">
					<div class="step-content">
						<div style="display: flex; align-items: center;">
							<h2>{{ 'pallets.wizard.app' | translate }}</h2>
							<mat-slide-toggle
								[(ngModel)]="dataService.selectedPallet.appEnabled"
								color="primary"
								formControlName="appEnable"
								(change)="toggleAppEnable($event)"
								>{{ 'enable' | translate }}</mat-slide-toggle
							>
						</div>
						<div class="pallet-waizard-keyboard">
							<!-- <mat-form-field class="input-medium"
								><input
									matInput
									placeholder="{{ 'pallets.wizard.offV' | translate }}"
									[(ngModel)]="dataService.selectedPallet.approachOffsetVertical"
									formControlName="app_off_v"
									virtualKeyboard
									ktype="numeric_pos"
							/></mat-form-field>
							<mat-form-field class="input-medium"
								><input
									matInput
									placeholder="{{ 'pallets.wizard.offH' | translate }}"
									[(ngModel)]="dataService.selectedPallet.approachOffsetHorizontal"
									formControlName="app_off_h"
									virtualKeyboard
									ktype="numeric_pos"
              /></mat-form-field> -->

              <custom-key-board
                  type="float"
                  placeHolder="{{ 'pallets.wizard.offV' | translate }}"
                  class="input-small"
                  [(value)]="dataService.selectedPallet.approachOffsetVertical"
                  [required]="true"
                  [emitInvalidValue]="true"
                  identificationTag="app_off_v"
                  (isValidEvent)="onValidatorCheck($event,'app_off_v',step4)"
                  (blurEvent)="setFormGroupItem($event,'app_off_v',step4)"
                  (inputChange)="setFormGroupItem($event,'app_off_v',step4)"
                  [isPositiveNum]="true"
                  [disabled]="!dataService.selectedPallet.appEnabled"
              ></custom-key-board>
             <custom-key-board
                  type="float"
                  placeHolder="{{ 'pallets.wizard.offH' | translate }}"
                  class="input-small"
                  [emitInvalidValue]="true"
                  identificationTag="app_off_h"
                  [(value)]="dataService.selectedPallet.approachOffsetHorizontal" [required]="true"
                  (isValidEvent)="onValidatorCheck($event,'app_off_h',step4)"
                  (blurEvent)="setFormGroupItem($event,'app_off_h',step4)"
                  (inputChange)="setFormGroupItem($event,'app_off_h',step4)"
                  [isPositiveNum]="true"
                  [disabled]="!dataService.selectedPallet.appEnabled"
            ></custom-key-board>
						</div>
						<mat-checkbox
							[(ngModel)]="dataService.selectedPallet.appExceed"
							color="primary"
							formControlName="appExceed"
							(change)="toggleAppExceed($event)"
							>{{ 'pallets.wizard.exceed' | translate }}</mat-checkbox
						>
						<h3>{{ 'pallets.wizard.app_dir' | translate }}:</h3>
						<div class="direction-picker">
							<mat-radio-group [(ngModel)]="dataService.selectedPallet.approachDirection" formControlName="app_dir" (change)="blurActive()">
								<mat-radio-button value="-X+Y+Z" style="left: 0; top: 0;" color="primary"></mat-radio-button>
								<mat-radio-button value="+Y+Z" style="left: 85px; top: 0;" color="primary"></mat-radio-button>
								<mat-radio-button value="+X+Y+Z" style="left: 180px; top: 0;" color="primary"></mat-radio-button>
								<mat-radio-button value="-X+Z" style="left: 0; top: 56px;" color="primary"></mat-radio-button>
								<mat-radio-button value="+Z" style="left: 85px; top: 56px;" color="primary"></mat-radio-button>
								<mat-radio-button value="+X+Z" style="left: 180px; top: 56px;" color="primary"></mat-radio-button>
								<mat-radio-button value="-X-Y+Z" style="left: 0; top: 120px;" color="primary"></mat-radio-button>
								<mat-radio-button value="-Y+Z" style="left: 85px; top: 120px;" color="primary"></mat-radio-button>
								<mat-radio-button value="+X-Y+Z" style="left: 180px; top: 120px;" color="primary"></mat-radio-button>
							</mat-radio-group>
						</div>
					</div>
					<div class="step-content">
						<div style="display: flex; align-items: center;">
							<h2>{{ 'pallets.wizard.ret' | translate }}</h2>
							<mat-slide-toggle
								[(ngModel)]="dataService.selectedPallet.retEnabled"
								color="primary"
								formControlName="retEnable"
								(change)="toggleRetEnable($event)"
								>{{ 'enable' | translate }}</mat-slide-toggle
							>
						</div>
						<div  class="pallet-waizard-keyboard">
							<!-- <mat-form-field class="input-medium"
								><input
									matInput
									placeholder="{{ 'pallets.wizard.offV' | translate }}"
									[(ngModel)]="dataService.selectedPallet.retractOffsetVertical"
									formControlName="ret_off_v"
									virtualKeyboard
									ktype="numeric_pos"
							/></mat-form-field>
							<mat-form-field class="input-medium"
								><input
									matInput
									placeholder="{{ 'pallets.wizard.offH' | translate }}"
									[(ngModel)]="dataService.selectedPallet.retractOffsetHorizontal"
									formControlName="ret_off_h"
									virtualKeyboard
									ktype="numeric_pos"
              /></mat-form-field> -->
              <custom-key-board
                  type="float"
                  placeHolder="{{ 'pallets.wizard.offV' | translate }}"
                  class="input-small"
                  [emitInvalidValue]="true"
                  identificationTag="ret_off_v"
                  [(value)]="dataService.selectedPallet.retractOffsetVertical" [required]="true"
                  (isValidEvent)="onValidatorCheck($event,'ret_off_v',step4)"
                  (blurEvent)="setFormGroupItem($event,'ret_off_v',step4)"
                  (inputChange)="setFormGroupItem($event,'ret_off_v',step4)"
                  [isPositiveNum]="true"
                  [disabled]="!dataService.selectedPallet.retEnabled"
              ></custom-key-board>
              <custom-key-board
                  type="float"
                  placeHolder="{{ 'pallets.wizard.offH' | translate }}"
                  class="input-small"
                  [emitInvalidValue]="true"
                  [(value)]="dataService.selectedPallet.retractOffsetHorizontal"
                  [required]="true"
                  identificationTag="ret_off_h"
                  (isValidEvent)="onValidatorCheck($event,'ret_off_h',step4)"
                  (blurEvent)="setFormGroupItem($event,'ret_off_h',step4)"
                  (inputChange)="setFormGroupItem($event,'ret_off_h',step4)"
                  [isPositiveNum]="true"
                  [disabled]="!dataService.selectedPallet.retEnabled"
          ></custom-key-board>
						</div>
						<mat-checkbox
							[(ngModel)]="dataService.selectedPallet.retExceed"
							color="primary"
							formControlName="retExceed"
							(change)="toggleRetExceed($event)"
							>{{ 'pallets.wizard.exceed' | translate }}</mat-checkbox
						>
						<h3>{{ 'pallets.wizard.ret_dir' | translate }}:</h3>
						<div class="direction-picker">
							<mat-radio-group [(ngModel)]="dataService.selectedPallet.retractDirection" formControlName="ret_dir" (change)="blurActive()">
								<mat-radio-button value="-X+Y+Z" style="left: 0; top: 0;" color="primary"></mat-radio-button>
								<mat-radio-button value="+Y+Z" style="left: 85px; top: 0;" color="primary"></mat-radio-button>
								<mat-radio-button value="+X+Y+Z" style="left: 180px; top: 0;" color="primary"></mat-radio-button>
								<mat-radio-button value="-X+Z" style="left: 0; top: 56px;" color="primary"></mat-radio-button>
								<mat-radio-button value="+Z" style="left: 85px; top: 56px;" color="primary"></mat-radio-button>
								<mat-radio-button value="+X+Z" style="left: 180px; top: 56px;" color="primary"></mat-radio-button>
								<mat-radio-button value="-X-Y+Z" style="left: 0; top: 120px;" color="primary"></mat-radio-button>
								<mat-radio-button value="-Y+Z" style="left: 85px; top: 120px;" color="primary"></mat-radio-button>
								<mat-radio-button value="+X-Y+Z" style="left: 180px; top: 120px;" color="primary"></mat-radio-button>
							</mat-radio-group>
						</div>
					</div>
					<img src="assets/pics/pallet/appret.png" />
				</div>
			</form>
		</mat-step>
		<mat-step>
			<ng-template matStepLabel>{{ 'done' | translate }}</ng-template>
			<img
				*ngIf="dataService.selectedPallet.order"
				src="assets/pics/pallet/{{ dataService.selectedPallet.order.toLowerCase() }}.png"
				class="mat-elevation-z1"
				style="border-radius: 2px; float: right;"
			/>
			<h2>{{ 'pallets.wizard.done_title' | translate }}</h2>
			<h3>
				{{ 'pallets.wizard.sum_of' | translate }}
				{{ dataService.selectedPallet.name }}:
			</h3>
			<table class="summary">
				<tr *ngIf="dataService.selectedPallet.type === 'GRID'">
					<td>{{ 'pallets.wizard.order' | translate }}:</td>
					<td>{{ dataService.selectedPallet.order }}</td>
				</tr>
				<tr *ngIf="dataService.selectedPallet.type === 'GRID'">
					<td>{{ 'pallets.wizard.num_of_items' | translate }}:</td>
					<td>
						X:{{ dataService.selectedPallet.itemsX }}&nbsp;&nbsp;Y:{{
							dataService.selectedPallet.itemsY
						}}&nbsp;&nbsp;Z:{{ dataService.selectedPallet.itemsZ }}
					</td>
				</tr>
				<tr>
					<td>{{ 'pallets.wizard.dimensions_item' | translate }}:</td>
					<td>
						X:{{ dataService.selectedPallet.itemSizeX }}mm.&nbsp;&nbsp;Y:{{
							dataService.selectedPallet.itemSizeY
						}}mm.&nbsp;&nbsp;Z:{{ dataService.selectedPallet.itemSizeZ }}mm.
					</td>
				</tr>
				<tr>
					<td>{{ 'pallets.wizard.origin' | translate }}:</td>
					<td>
						{{
							(this.dataService.selectedPallet.isFrameCalibrated
								? 'pallets.wizard.calibrated'
								: 'pallets.wizard.calibrated_not') | translate
						}}
            <span *ngIf="originResult && dataService.selectedPallet.isFrameCalibrated">{{ originResult }}</span>
					</td>
				</tr>
				<tr>
					<td>{{ 'pallets.wizard.entry_pos' | translate }}:</td>
					<td>
						{{
							dataService.selectedPallet.entryEnabled
								? locToString(dataService.selectedPallet.entry)
								: ('disabled' | translate)
						}}
					</td>
				</tr>
				<tr>
					<td>{{ 'pallets.wizard.app' | translate }}:</td>
					<td>
						{{
							dataService.selectedPallet.appEnabled
								? ('pallets.wizard.offV' | translate) +
								  ': ' +
								  dataService.selectedPallet.approachOffsetVertical +
								  ', ' +
								  ('pallets.wizard.offH' | translate) +
								  ': ' +
								  dataService.selectedPallet.approachOffsetHorizontal +
								  ', ' +
								  ('pallets.wizard.dir' | translate) +
								  ': ' +
								  dataService.selectedPallet.approachDirection
								: ('disabled' | translate)
						}}
					</td>
				</tr>
				<tr>
					<td>{{ 'pallets.wizard.ret' | translate }}:</td>
					<td>
						{{
							dataService.selectedPallet.retEnabled
								? ('pallets.wizard.offV' | translate) +
								  ': ' +
								  dataService.selectedPallet.retractOffsetVertical +
								  ', ' +
								  ('pallets.wizard.offH' | translate) +
								  ': ' +
								  dataService.selectedPallet.retractOffsetHorizontal +
								  ', ' +
								  ('pallets.wizard.dir' | translate) +
								  ': ' +
								  dataService.selectedPallet.retractDirection
								: ('disabled' | translate)
						}}
					</td>
				</tr>
			</table>

			<div style="display: flex; align-items: center;">
				<button mat-raised-button color="primary" (click)="finish()" style="margin-right: 16px;">
					{{ 'button.save' | translate }}
				</button>
				<div class="red" *ngIf="this.lastError">{{ this.lastError }}</div>
			</div>
		</mat-step>
	</mat-horizontal-stepper>
</div>
