

<form class="rich-select">
    <mat-form-field>
        <input matInput autocomplete="off"
            [readonly]="isTablet ? true : false"
            cdkOverlayOrigin 
            #trigger="cdkOverlayOrigin"
            [value]="value"
            [placeholder]="placeholder"
            (keyup.enter)="trigger.blur()"
            (blur)="onInputBlur()"
            (focus)="onInputFocus()"
            (input)="onInputChange($event.target.value)"
            [ngModelOptions]="{standalone: true}">
        <mat-select [disabled]="true"></mat-select>
    </mat-form-field>
    <mat-icon [ngStyle]="{ 
            'color': isFocused || options?.length === 0 ? 'lightgray' : 'black',
            'bottom': isTablet ? '25px' : '20px'
        }" 
        (click)="openSlection($event)">arrow_drop_down
    </mat-icon>
</form>
<ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="selectOptions?.length !== 0">
    <cdk-virtual-scroll-viewport itemSize="10" [style.height]="viewPortHeight(selectOptions)" class="rich-option-list">
        <mat-option *ngFor="let option of selectOptions"
            [value]="option"
            (click)="onSelectionChange(option)">
            <colorful-span [key]="value" [value]="option"></colorful-span>
        </mat-option>
    </cdk-virtual-scroll-viewport>
</ng-template>