<form class="rich-select">
    <mat-form-field>
        <input matInput autocomplete="off"
            #autoCompleteInput
            [(ngModel)]="value"
            [matAutocomplete]="richAuto"
            [placeholder]="placeholder"
            (keyup.enter)="autoCompleteInput.blur()"
            (blur)="onInputBlur()"
            (focus)="onInputFocus()"
            (input)="onInputChange($event.target.value)"
            [ngModelOptions]="{standalone: true}">
        <mat-autocomplete #richAuto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async"
                [value]="option"
                (click)="autoCompleteChange(option)">
                <colorful-span [key]="value" [value]="option"></colorful-span>
            </mat-option>
        </mat-autocomplete>
        <mat-select [disabled]="options?.length === 0"
            (selectionChange)="onSelectionChange($event.value)"
            (openedChange)="openedChange($event)"
            (click)="openSelect()"
            [disableOptionCentering]="true"
            [ngModelOptions]="{standalone: true}">
            <ng-container *ngIf="options?.length < 1000 else virtualScroll">
                <mat-option *ngFor="let option of options" [value]="option">{{option}}</mat-option>
            </ng-container>
            <ng-template #virtualScroll>
                <cdk-virtual-scroll-viewport itemSize="10" [style.height]="viewPortHeight(options)">
                    <mat-option *cdkVirtualFor="let option of options" [value]="option">{{option}}</mat-option>
                </cdk-virtual-scroll-viewport>
            </ng-template>
        </mat-select>
    </mat-form-field>
</form>
