<div class="main mat-typography">
	<div class="wrapper">
		<div class="title">{{ 'grippers.test' | translate }} {{ data.grp }}</div>
		<div class="content">
			<button mat-raised-button color="primary" (click)="open()" [disabled]="running">{{ 'button.open' | translate }} {{ data.grp }}</button>
			<button mat-raised-button color="primary" (click)="close()" [disabled]="running">
				{{ 'button.close' | translate }} {{ data.grp }}
			</button>
			<div style="margin: 8px 0;"></div>
			<!-- <mat-form-field class="time">
				<input
					matInput
					placeholder="{{ 'grippers.cycle_time' | translate }}"
					[(ngModel)]="time"
					(change)="onCycleChange()"
					virtualKeyboard
					ktype="numeric_int_pos"
					[disabled]="running"
				/>
				<span matSuffix>ms.</span>
      </mat-form-field> -->
      <div class="time">
        <custom-key-board
        placeHolder="{{ 'grippers.cycle_time' | translate }}"
        [(value)]="time"
        [disabled]="running"
        type="int"
        [isPositiveNum]="true"
        (blurEvent)="onCycleChange()"
        suffix="ms."></custom-key-board>
      </div>
			<button mat-raised-button color="primary" (click)="cycle()" [disabled]="running">
				{{ 'grippers.btnCycle' | translate }}
			</button>
			<div class="center-vertical">
				<span>{{ 'grippers.status1' | translate }}:</span>
				<div class="indicator" [class.green]="status"></div>
			</div>
			<div class="center-vertical">
				<span>{{ 'grippers.status2' | translate }}:</span>
				<div class="indicator" [class.green]="grpStatus"></div>
			</div>
		</div>
	</div>
	<div class="actions">
		<button mat-button color="primary" matDialogClose>
			{{ 'button.close' | translate }}
		</button>
	</div>
</div>
