<div class="main mat-typography">
	<div class="wrapper">
		<div class="title primary-bg">
			{{ 'dashboard.external.title' | translate }}
		</div>
		<div class="content">
      <mat-radio-group [(ngModel)]="mode" color="primary" class="mode" [disabled]="busy">
				<mat-radio-button value="mc">softMC</mat-radio-button>
        <mat-radio-button *ngIf="!utils.isTablet" value="pc">Upload file</mat-radio-button>
			</mat-radio-group>
			<mat-form-field *ngIf="mode==='mc'">
				<mat-label>{{ 'dashboard.external.name' | translate }}</mat-label>
				<mat-select [(ngModel)]="selectedFile">
					<mat-option disabled *ngIf="files.length === 0">
						{{ 'empty_list' | translate }}
					</mat-option>
					<mat-option *ngFor="let file of files" [value]="file">
						{{ file }}
					</mat-option>
				</mat-select>
			</mat-form-field>
			<button *ngIf="mode==='pc'" mat-raised-button (click)="fileUpload()" color="accent" [disabled]="busy">{{ 'button.select_file' | translate }}</button>
			<input type="file" accept=".REC" #upload (change)="onUploadFilesChange($event)" class="file-input" />
			<mat-spinner *ngIf="busy" color="primary" diameter="24"></mat-spinner>
			<div class="warn" *ngIf="err">{{err}}</div>
		</div>
	</div>
	<div class="actions">
		<button mat-button color="primary" mat-dialog-close>
			{{ 'button.cancel' | translate }}
		</button>
		<button mat-raised-button color="primary" (click)="show()" [disabled]="selectedFile === null || busy">
			{{ 'dashboard.external.btnShow' | translate }}
		</button>
	</div>
</div>
