<div class="main mat-typography">
	<div class="wrapper">
		<div class="title primary-bg">
			{{ 'dashboard.external.title' | translate }}
		</div>
		<div class="content">
			<mat-form-field>
				<mat-label>{{ 'dashboard.external.name' | translate }}</mat-label>
				<mat-select [(ngModel)]="selectedFile">
					<mat-option disabled *ngIf="files.length === 0">
						{{ 'empty_list' | translate }}
					</mat-option>
					<mat-option *ngFor="let file of files" [value]="file">
						{{ file }}
					</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-radio-group [(ngModel)]="graphType">
				<mat-radio-button value="2d">2D</mat-radio-button>
				<mat-radio-button value="2da">
					{{ 'dashboard.record.type.2d-a' | translate }}
				</mat-radio-button>
				<mat-radio-button value="3d">3D</mat-radio-button>
			</mat-radio-group>
		</div>
	</div>
	<div class="actions">
		<button mat-button color="primary" mat-dialog-close>
			{{ 'button.cancel' | translate }}
		</button>
		<button mat-button color="primary" (click)="show()" [disabled]="selectedFile === null">
			{{ 'dashboard.external.btnShow' | translate }}
		</button>
	</div>
</div>
