<form class="mat-typography" (ngSubmit)="create()" [formGroup]="dialogForm">
	<div class="title mat-elevation-z1">
		<mat-icon>add</mat-icon>&nbsp;&nbsp;{{ data.title | translate }}
	</div>
	<div class="name-wrapper">
		<!-- <mat-form-field>
			<input
				matInput
				placeholder="{{ data.placeholder | translate }}"
				(keyup.enter)="create()"
				formControlName="val"
				virtualKeyboard
				ktype="text"
				(onKeyboardClose)="create()"
			/>
			<mat-error *ngIf="dialogForm.invalid">{{ 'error.invalid_file_name' | translate }}</mat-error>
        </mat-form-field> -->
        <custom-key-board type="string" placeHolder="{{ data.placeholder | translate }}"
            [nameRules]="true" [maxLength]="32" [value]="dialogForm.controls.val.value"
            (valueChange)="change($event)" (pressEnterEvent)="create()"
        ></custom-key-board>
	</div>
	<div class="actions">
		<button mat-button mat-dialog-close>
			{{ 'button.cancel' | translate }}
		</button>
    <button
      mat-button
			mat-raised-button
			color="primary"
			type="submit"
			(click)="create()"
			[disabled]="dialogForm.invalid"
		>
			{{ 'button.create' | translate }}
		</button>
	</div>
</form>
