<div class="main mat-typography">
  <div class="wrapper">
    <div class="title">Create new Function</div>
    <div class="content">
      <mat-form-field>
        <input matInput placeholder="Function Name" [(ngModel)]="name" type="text">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Return Type" [(ngModel)]="retType">
          <mat-option value="long">Long</mat-option>
          <mat-option value="double">Double</mat-option>
          <mat-option value="string">String</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="actions">
    <button mat-button color="primary" mat-dialog-close>CANCEL</button>
    <button mat-button color="primary" (click)="insert()" [disabled]="name === null || name.length === 0 || retType === null">INSERT</button>
  </div>
</div>