<div class="wrapper">
  <mat-card>
    <h2>
      Selected Robot
       <button mat-raised-button color="primary" class="btn-change" (click)="openRobotSelectionDialog()" [disabled]="!robot.types">
          Change...
        </button>
    </h2>
    <div *ngIf="robot.selectedRobot" class="selected" @fade>
      <div>
        <span class="mat-subtitle-color">Name: </span>
        {{robot.selectedRobot.name}}
      </div>
      <div>
        <span class="mat-subtitle-color">Type </span>
        {{robot.selectedRobot.type}}
      </div>
      <div>
        <span class="mat-subtitle-color">Bus Type: </span>
        {{robot.selectedRobot.bus}}
      </div>
      <div>
        <span class="mat-subtitle-color">Max Payload: </span>
        {{robot.selectedRobot.payload}} [Kg.]
      </div>
      <div>
        <span class="mat-subtitle-color">Part Number: </span>
        {{robot.selectedRobot.part_number}}
      </div>
    </div>
    <div *ngIf="robot.selectedRobot === null">N/A</div>
  </mat-card>
  <mat-card *ngIf="robot.selectedRobot" @fade style="min-height: 200px;">
    <h2>Robot Parameters</h2>
    <mat-tab-group animationDuration="0ms" backgroundColor="primary" color="accent">
      <mat-tab label="Displacements">
        <div class="container">
          <div class="center-vertical" *ngFor="let d of disp; let i=index; trackBy:trackByFn">
            <mat-form-field appearance="outline" class="disp">
              <mat-label>J{{i+1}}</mat-label>
              <input matInput [(ngModel)]="disp[i]" (change)="onSettingsKeyboardClose()" placeholder="value in mm">
              <span matSuffix>[mm]</span>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="setHome(i+1)" class="btn-home center-vertical-horizontal">
              <mat-icon>gps_fixed</mat-icon><span style="margin-left: 8px;">SET CURRENT</span>
            </button>

          </div>
        </div>
      </mat-tab>
      <mat-tab label="DH">
        <div class="container">
          <div class="images">
            <img *ngIf="dh_img_path_1" src="assets/pics/dh/{{dh_img_path_1}}">
            <img *ngIf="dh_img_path_2" src="assets/pics/dh/{{dh_img_path_2}}" style="align-self:flex-end;">
          </div>
          <mat-form-field appearance="outline" *ngFor="let d of dh; let i=index; trackBy:trackByFn" class="dh">
            <mat-label>{{d.name}}</mat-label>
            <input matInput [(ngModel)]="d.value" (change)="onSettingsKeyboardClose(i)" placeholder="value in mm">
            <span matSuffix>[mm]</span>
          </mat-form-field>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>