<div class="mat-typography">
	<div class="title primary-bg mat-elevation-z1">
		{{ 'apps.restore.title' | translate }}
	</div>
	<div class="content">
		<div class="robot center-vertical">
			<div>
				<div>
					<span style="font-weight: bold;">{{ 'robots.selected' | translate }}:&nbsp;</span>
					<span>{{ selectedRobot.name }} ({{ selectedRobot.bus }})</span>
				</div>
				<div>
					<span style="font-weight: bold;">{{ 'robots.part' | translate }}:&nbsp;</span>
					<span>{{ selectedRobot.part_number }}</span>
				</div>
			</div>
			<button mat-raised-button color="primary" style="margin-left: 24px;" (click)="changeRobot()">
				{{ 'robots.btnChange' | translate }}...
			</button>
		</div>
		<div class="warn warn-msg">
			{{ 'apps.restore.msg' | translate }}
		</div>
		<!-- <mat-form-field appearance="fill" class="confirm">
			<mat-label>{{ 'password_confirm' | translate }} ({{ username }})</mat-label>
			<input
				matInput
				placeholder="{{ 'password' | translate }}"
				type="password"
				[(ngModel)]="password"
				virtualKeyboard
				ktype="text"
			/>
			<mat-icon matSuffix>security</mat-icon>
        </mat-form-field> -->
        <custom-key-board type="string" appearance="fill" class="confirm" matLabel="{{ 'password_confirm' | translate }} ({{ username }})"
            placeHolder="{{ 'password' | translate }}" [password]="true" [(value)]="password" [iconSuffix]="true" [suffix]="'security'"
            [required]="true"
        ></custom-key-board>
		<div class="warn" *ngIf="wrongPass">{{ 'password_err' | translate }}</div>
	</div>
	<div class="buttons">
		<button mat-button mat-dialog-close>
			{{ 'button.cancel' | translate }}
		</button>
		<button mat-raised-button color="warn" [disabled]="busy || password.length === 0" (click)="restore()">
			{{ 'button.restore' | translate }}
		</button>
	</div>
</div>
