<div class="main mat-typography">
  <div class="wrapper">
    <div class="title">Insert Dim Command</div>
    <div class="content">
      <mat-form-field>
        <input matInput placeholder="Variable Name" [(ngModel)]="varName" type="text">
      </mat-form-field>
      <mat-select placeholder="Variable Type" [(ngModel)]="varType">
        <mat-option value="long">Long</mat-option>
        <mat-option value="double">Double</mat-option>
        <mat-option value="string">String</mat-option>
      </mat-select>
    </div>
  </div>
  <div class="actions">
    <button mat-button color="primary" (click)="cancel()">CANCEL</button>
    <button mat-button color="primary" (click)="insert()" [disabled]="this.varName == null || this.varType == null">INSERT</button>
  </div>
</div>