<form class="mat-typography" [formGroup]="dialogForm" (ngSubmit)="create()">
	<div class="title mat-elevation-z1">
		<mat-icon>{{ data.icon }}</mat-icon
		>&nbsp;&nbsp;{{ data.title }}
	</div>
	<div class="name-wrapper">
		<mat-form-field>
			<input
				matInput
				placeholder="{{ data.placeholder }}"
				formControlName="val"
				virtualKeyboard
				[errorStateMatcher]="matcher"
				[type]="data.type || 'text'"
				[ktype]="data.type === 'number' ? 'numeric' : 'text'"
			/>
			<span matSuffix *ngIf="data.suffix">{{ data.suffix }}</span>
			<mat-error *ngIf="dialogForm.controls['val'].invalid">
				{{ (data.error || 'error.invalid_file_name') | translate }}
			</mat-error>
		</mat-form-field>
	</div>
	<div class="actions">
		<button mat-button color="primary" mat-dialog-close>
			{{ 'button.cancel' | translate }}
		</button>
		<button mat-raised-button color="primary" type="submit" [disabled]="dialogForm.invalid">
			{{ data.accept }}
		</button>
	</div>
</form>
