<div class="mat-typography wrapper">
	<h1>{{ 'payloads.ident.title' | translate }}</h1>
  <div>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
	<h3>{{ 'payloads.ident.subtitle' | translate }}</h3>
  <div class="time">
    <div *ngIf="!started">{{ 'payloads.ident.moving' | translate }}</div>
    <div *ngIf="started && !finished">{{ timeLeft }}</div>
    <div *ngIf="finished">{{ 'payloads.ident.finish' | translate }}</div>
  </div>
	<div class="content">
		<button mat-fab color="warn" class="huge" (click)="stop()">
			<mat-icon>power_settings_new</mat-icon>
		</button>
    <div class="sim-wrapper">
      <coordinates></coordinates>
      <lib-app-simulator
      *ngIf="robot.selectedRobot"
      [debug]="false"
      [backgroundColor]="sim.bgColor"
      [traceColor]="sim.traceColor"
      #simulator
      [trace]="false"
      [roboturl]="robot.get3DModelPath(robot.selectedRobot.part_number)"
      [jntValues]="cooService.jointsAsArr"
      ></lib-app-simulator>
    </div>
	</div>
</div>
