<div class="wrapper">
  <div class="title">{{'apps.title'|translate}}</div>
  <input type="file" accept=".ipk, .rpm, .IPK, .RPM, .zip, .ZIP" #upload (change)="onUploadFilesChange($event)" class="file-input" />
  <mat-card class="main">
    <a *ngIf="!utils.IsKuka" href="/modbus/" target="_blank">
      <mat-icon>perm_data_setting</mat-icon>
      <div>{{'apps.modbus'|translate}}</div>
    </a>
    <a (click)="uploadIPK()" *ngIf="login.permission === 'Administrator'">
      <mat-icon>system_update</mat-icon>
      <div>{{'apps.firmware'|translate}}...</div>
    </a>
    <a (click)="reboot()" *ngIf="login.permission === 'Administrator'">
      <mat-icon>power_settings_new</mat-icon>
      <div>{{'apps.reboot'|translate}}</div>
    </a>
  </mat-card>
</div>