<div class="wrapper">
	<div class="title">{{ 'apps.title' | translate }}</div>
	<input
		*ngIf="!utils.IsKuka && !cmn.isCloud"
		type="file"
		accept=".ipk, .rpm, .IPK, .RPM, .zip, .ZIP, .tar.gz, .TAR.GZ"
		#upload
		(change)="onUploadFilesChange($event)"
		class="file-input"
	/>
	<input
		*ngIf="utils.IsKuka && !cmn.isCloud"
		type="file"
		accept=".zip, .ZIP"
		#upload
		(change)="onUploadFilesChange($event)"
		class="file-input"
	/>
	<mat-card class="main">
		<a *ngIf="!utils.IsKuka" href="/modbus/" target="_blank">
			<mat-icon>perm_data_setting</mat-icon>
			<div>{{ 'apps.modbus' | translate }}</div>
		</a>
		<a (click)="uploadIPK()" *ngIf="login.isSuper"
				[class.disabled]="cmn.isCloud " matTooltip="{{'cloud.na' | translate}}" [matTooltipDisabled]="!cmn.isCloud">
			<mat-icon>system_update</mat-icon>
			<div>{{ 'apps.firmware' | translate }}...</div>
		</a>
		<a (click)="cabinetUpdate()" *ngIf="login.isAdmin&& !utils.isTablet"
				[class.disabled]="cmn.isCloud" matTooltip="{{'cloud.na' | translate}}" [matTooltipDisabled]="!cmn.isCloud">
			<mat-icon>system_update</mat-icon>
			<div>{{ 'apps.cabinet_update' | translate }}...</div>
		</a>
		<a (click)="reboot()"
				[class.disabled]="cmn.isCloud" matTooltip="{{'cloud.na' | translate}}" [matTooltipDisabled]="!cmn.isCloud">
			<mat-icon>power_settings_new</mat-icon>
			<div>{{ 'apps.reboot' | translate }}...</div>
		</a>
		<a (click)="restore()" *ngIf="login.isAdmin && factoryAvailable"
				[class.disabled]="cmn.isCloud" matTooltip="{{'cloud.na' | translate}}" [matTooltipDisabled]="!cmn.isCloud">
			<mat-icon>restore</mat-icon>
			<div>{{ 'apps.restore.desc' | translate }}...</div>
		</a>
		<a *ngIf="!utils.isTablet">
			<cs-diagnosis></cs-diagnosis>
		</a>
		<a (click)="loadPluginFiles()" *ngIf="login.isAdmin && !utils.isTablet" [class.disabled]="cmn.isCloud  || pluginDisabled" matTooltip="{{'cloud.na' | translate}}" [matTooltipDisabled]="!cmn.isCloud">
			   <!-- <mat-icon>system_update</mat-icon> -->
			   <mat-icon>extension</mat-icon>
			  <div>{{ 'pluginInstall.name' | translate }}...</div>
		 </a>
		 <input
		 *ngIf="login.isAdmin && !cmn.isCloud"
		 type="file"
		 accept=".zip,.ZIP"
		 #uploadPlugin
		 [(ngModel)]="pluginFiles"
		 (change)="onUploadFilesChangePlugin($event)"
		 class="file-input"
	 />
	</mat-card>
</div>
