<div class="mat-typography">
  <div class="title mat-elevation-z1">
    <mat-icon>add</mat-icon>&nbsp;&nbsp;Add Variable
  </div>
  <div class="name-wrapper">
    <mat-form-field>
      <input matInput placeholder="Variable Name" [(ngModel)]="name" maxlength="32">
    </mat-form-field>
    <mat-form-field *ngIf="!data.domainIsFrame">
      <mat-select placeholder="Variable Type" [(ngModel)]="varType" (selectionChange)="onTypeChange()">
        <mat-option value="JOINT" *ngIf="data.isRobotType">Joint</mat-option>
        <mat-option value="LOCATION" *ngIf="data.isRobotType">Location</mat-option>
        <mat-option value="LONG">Long</mat-option>
        <mat-option value="DOUBLE">Double</mat-option>
        <mat-option value="STRING">String</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox color="primary" [(ngModel)]="isArray">Array</mat-checkbox>
    <mat-form-field *ngIf="isArray" style="margin-top: 8px;">
      <input matInput placeholder="Array Size" [(ngModel)]="arrSize">
    </mat-form-field>
    <div *ngIf="!isArray && varType" style="margin-top: 8px;">
      <div class="label">Values</div>
      <div *ngIf="varType === 'JOINT'" class="values">
        <mat-form-field *ngFor="let joint of coos.joints; let i = index" floatLabel="never">
          <span matPrefix style='font-weight: bold;'>J{{i+1}}:&nbsp;&nbsp;</span>
          <input
            matInput
            [placeholder]="'J' + (i+1)"
            [(ngModel)]="this.values[i]"
          >
        </mat-form-field>
      </div>
      <div *ngIf="varType === 'LOCATION'" class="values">
        <mat-form-field *ngFor="let joint of coos.joints; let i = index" floatLabel="never">
          <span matPrefix style='font-weight: bold;'>{{coos.joints.length === 4 ? FOUR_AXES[i] : SIX_AXES[i]}}:&nbsp;&nbsp;</span>
          <input
            matInput
            [placeholder]="coos.joints.length === 4 ? FOUR_AXES[i] : SIX_AXES[i]"
            [(ngModel)]="this.values[i]"
          >
        </mat-form-field>
      </div>
      <div *ngIf="varType && varType !== 'LOCATION' && varType !== 'JOINT'" class="values">
        <mat-form-field floatLabel="never" style="width: inherit;">
          <span matPrefix style='font-weight: bold;'>Value:&nbsp;&nbsp;</span>
          <input *ngIf="varType !== 'STRING'"
            matInput
            [placeholder]="Value"
            [(ngModel)]="this.values[0]"
          >
          <input *ngIf="varType === 'STRING'"
            matInput
            [placeholder]="Value"
            [(ngModel)]="this.values[0]"
          >
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="actions">
    <button mat-button mat-dialog-close>CANCEL</button>
    <button mat-button color="primary" (click)="add()" [disabled]="!name || !varType">CREATE VARIABLE</button>
  </div>
</div>