.add-var-container {
  min-width: 400px;
}
.title {
  display: flex;
  align-items: center;
  margin: -24px -24px 16px -24px;
  padding: 16px;
  background-color: #00897b;
  color: #fff;
  font-size: 18px;
}
.actions {
  display: flex;
  padding: 8px 8px 8px 24px;
  justify-content: flex-end;
  margin: 0 -24px -24px 0;
  border-top: 1px solid #ccc;
}
.name-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.name-wrapper .customKeyBoard {
    width: 471px;
}
.name-wrapper mat-form-field {
  width: 100%;
}
.name-wrapper .variableName{
    margin-bottom: 10px;
}
.value-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.values {
  width: 320px;
  margin-right: 10px;
}
.values mat-form-field:not(.flag-select) {
  width: 80px;
}
.values mat-form-field.flag-select {
  width: 160px;
}

.label {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.btnCreate {
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}