.fixed-top-right {
  position: absolute;
  z-index: 5;
  top: 8px;
  right: 8px;
}
.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.current { font-weight: bold; }
.data-table {
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 0 1em;
}
.data-table .mat-cell, .data-table .mat-header-cell { padding: 0.5em; }
.data-table .mat-column-select { overflow: initial; }
.data-table mat-row { cursor: pointer; }
.buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.buttons button {
  margin-right: 24px;
  margin-bottom: 16px;
}
.var-actions {
  flex: 1;
  text-align: right;
  align-items: center;
  text-align: center;
  align-self: center;
}
.var-details {
  margin-right: 1em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.var-details mat-form-field {
  width: 112px;
  margin-right: 8px;
  margin-top: 12px;
  margin-bottom: -24px;
}
.var-name {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 8px;
}
.table-wrapper {
  display: flex;
  flex: 1;
  padding-bottom: 16px;
}
.data-card {
  flex:1;
  height: auto;
}
.dont-flex {
  flex-grow: 0;
}
