.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.filter-menu {
  display: flex;
  flex-direction: row;
  padding: 16px;
  align-items: center;
}
.filter-menu > *:not(:last-child) {
  margin-right: 48px;
}
.btn-add-wrapper {
  display: flex;
  justify-content: center;
  margin: 24px;
}
.btn-add {
  border-radius: 36px;
  padding-right: 36px;
}
.btn-add mat-icon {
  font-size: 36px;
  width: 36px;
  height: 36px;
  align-self: flex-start;
  margin-right: 16px;
}
.data-table {
  width: 100%;
  table-layout: fixed;
  min-width: 970px;
}
.data-table.busy {
  background-color: #ccc;
}
::ng-deep .data-table thead tr {
  cursor: inherit !important;
  background: inherit !important;
}
.table-wrapper {
  overflow: auto;
  flex: 1;
}
.index-field {
  max-width: 50px;
  margin-bottom: -16px;
}
.value-field {
  max-width: 90px;
  margin-bottom: -16px;
}
.text-field {
  max-width: 170px !important;
}
.current {
  font-weight: bold;
}
.refreshing {
  background-color: #ebebeb;
}
.fixed-top-right {
  position: absolute;
  z-index: 5;
  top: 8px;
  right: 8px;
}
.real-device {
  bottom: 24px;
  right: 24px;
}
.behind {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.behind img {
  height: 200px;
}
.arrow {
  position: absolute;
  width: 48px;
  top: 64px;
  left: 80px;
  z-index: 1;
  transform: rotate(90deg) scale(-1, 1);
}
:host-context(.tablet-ui) .filter-menu > *:not(:last-child) {
  margin-right: 16px;
}
.name-wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.hidden {
  display: none;
}
