<div class='background wrapper'>
  <button mat-fab color="primary" class="fixed-top-right mat-elevation-z5" [ngClass]="{'real-device':!data.isEmulator}" (click)="showAddDialog()"><mat-icon>add</mat-icon></button>
  <mat-card class="data-filter mat-elevation-z3">
    <mat-checkbox color="primary" [(ngModel)]="showJoints" [disabled]="!data.isRobotType">Joints</mat-checkbox>
    <mat-checkbox color="primary" [(ngModel)]="showLocations" [disabled]="!data.isRobotType">Locations</mat-checkbox>
    <mat-checkbox color="primary" [(ngModel)]="showLongs">Longs</mat-checkbox>
    <mat-checkbox color="primary" [(ngModel)]="showDoubles">Doubles</mat-checkbox>
    <mat-checkbox color="primary" [(ngModel)]="showStrings">Strings</mat-checkbox>
  </mat-card>
  <mat-table #table [dataSource]="dataSource" matSort class="data-table mat-elevation-z3" [style.background-color]="data.varRefreshInProgress ? '#ebebeb' : '#fff'">
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox color="primary"
                      (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox color="primary"
                      (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header="name">Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.name}}<span *ngIf="element.isArr"> [...]</span></mat-cell>
    </ng-container>
    <ng-container matColumnDef="typeStr">
      <mat-header-cell *matHeaderCellDef mat-sort-header="typeStr">Type</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.typeStr}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="arrIndex">
      <mat-header-cell *matHeaderCellDef>Index</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-form-field *ngIf="element.isArr">
          <mat-select placeholder="Index" [(ngModel)]="element.selectedIndex" (selectionChange)="rowClick(element,true)">
            <mat-option *ngFor="let data of element.value; let i=index" [value]="i+1">{{i+1}}</mat-option>
          </mat-select>
        </mat-form-field>
        <span *ngIf="!element.isArr">-</span>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="['select','name', 'typeStr', 'arrIndex']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['select','name', 'typeStr', 'arrIndex']; let element;" (click)="rowClick(element)" [class.highlighted]="selectedVar && element.name === selectedVar.name"></mat-row>
  </mat-table>
  <mat-card class="mat-elevation-z3" style="height: auto;" *ngIf="selectedVar || selection.selected.length > 0" [class.refreshing]="this._varRefreshing">
    <div class="var-name-and-actions">
      <div class="var-name" *ngIf="selectedVar">
        {{selectedVar.name}}{{selectedVar.isArr ? '['+selectedVar.selectedIndex+']':''}}
      </div>
      <button *ngIf="selectedVar && selectedVar.isPosition" mat-raised-button color="primary" style="margin-right: 24px;" (click)="teach()">TEACH</button>
      <button *ngIf="selectedVar" mat-raised-button color="warn" style="margin-right: 24px;" (click)="deleteSelected()">{{'DELETE ' + selectedVar.name}}</button>
      <button *ngIf="selection.selected.length > 0" mat-raised-button color="warn" (click)="deleteChecked()">DELETE SELECTED</button>
      <div style="flex: 1; text-align: right;">
        <button mat-mini-fab (click)="selectedVar=null" color="primary"><mat-icon>expand_more</mat-icon></button>
      </div>
    </div>
    <div class="var-details" *ngIf="selectedVar">
      <mat-form-field *ngFor="let val of this._value; let i = index" floatLabel="never">
        <span matPrefix style='font-weight: bold;'>{{this._legend[i]}}:&nbsp;&nbsp;</span>
        <input *ngIf="selectedVar.typeStr !== 'STRING'"
          matInput
          [placeholder]="this._legend[i]" 
          [(ngModel)]="this._value[i].value"
        >
        <input *ngIf="selectedVar.typeStr === 'STRING'"
          matInput
          [placeholder]="this._legend[i]" 
          [(ngModel)]="this._value[i].value"
        >
      </mat-form-field>
    </div>
  </mat-card>
</div>