.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.filter-menu {
  display: flex;
  flex-direction: row;
  padding: 16px;
  align-items: center;
}
.filter-menu > *:not(:last-child) {
  margin-right: 48px;
}
.btn-add-wrapper {
  display: flex;
  justify-content: center;
  margin: 24px;
}
.btn-add {
  border-radius: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.btn-add mat-icon {
  font-size: 36px;
  width: 36px;
  height: 36px;
  align-self: flex-start;
  margin-right: 16px;
}
.data-table {
  width: 100%;
  table-layout: fixed;
}
.data-table.busy {
  background-color: #ccc;
}
::ng-deep .data-table thead tr {
  cursor: inherit !important;
  background: inherit !important;
}
.table-wrapper {
  overflow: auto;
  flex: 1;
}
.index-field {
  max-width: 50px;
  margin-bottom: -16px;
}
.value-field {
  max-width: 90px;
  margin-bottom: -16px;
}
.text-field {
  max-width: 250px !important;
}
.current {
  font-weight: bold;
}
.refreshing {
  background-color: #ebebeb;
}
.fixed-top-right {
  position: absolute;
  z-index: 5;
  top: 8px;
  right: 8px;
}
.real-device {
  bottom: 24px;
  right: 24px;
}
