<form class="mat-typography" [formGroup]="control" (ngSubmit)="emitCmd()">
	<h1 class="title">{{ 'projectCommands.goHome.title' | translate }}</h1>
	<div mat-dialog-content>
		<mat-form-field>
			<input
				matInput
				placeholder="{{ 'projectCommands.goHome.vCruisePh' | translate }}"
				formControlName="velocity"
				virtualKeyboard
				ktype="numeric"
			/>
			<span matSuffix>deg/s</span>
			<mat-error *ngIf="control.invalid"> {{ errorMessage }} </mat-error>
		</mat-form-field>
	</div>
	<div mat-dialog-actions class="actions">
		<button mat-button color="primary" mat-dialog-close>
			{{ 'button.cancel' | translate }}
		</button>
		<button mat-button color="primary" [disabled]="cannotInsert" type="submit">
			{{ 'button.insert' | translate }}
		</button>
	</div>
</form>
