<form class="mat-typography" [formGroup]="control" (ngSubmit)="emitCmd()">
	<h1 class="title">{{ 'projectCommands.goHome.title' | translate }}</h1>
	<div mat-dialog-content>
		<!-- <mat-form-field>
			<input
				matInput
				placeholder="{{ 'projectCommands.goHome.vCruisePh' | translate }}"
				formControlName="velocity"
				virtualKeyboard
				ktype="numeric_int_pos"
			/>
			<mat-error *ngIf="control.invalid"> {{ errorMessage }} </mat-error>
        </mat-form-field> -->
        <div class="customKeyBoard">
            <custom-key-board type="int" [leftClosedInterval]="false" [min]="0" [max]="100" placeHolder="{{ 'projectCommands.goHome.vCruisePh' | translate }}" [value]="control.controls.velocity.value"
                [isPositiveNum]="true" (valueChange)="vscaleChange($event)"  (blurEvent)="vscaleChange($event)"
            ></custom-key-board>
        </div>
	</div>
	<div mat-dialog-actions class="actions">
		<button mat-button [mat-dialog-close]="null" cdkFocusInitial>
			{{ 'button.cancel' | translate }}
		</button>
		<button mat-raised-button color="primary" [disabled]="cannotInsert" type="submit">
			{{ 'button.insert' | translate }}
		</button>
	</div>
</form>
