<div class="main mat-typography">
	<div class="wrapper">
		<div class="title primary-bg">
			{{ 'dashboard.new.title' | translate }}
		</div>
		<div class="content">
			{{ 'dashboard.new.subtitle' | translate }}
			<div style="margin-top: 16px;">
				{{ 'dashboard.new.select' | translate }}:
				<mat-form-field>
					<mat-select placeholder="{{ 'motion_elements' | translate }}" [(ngModel)]="selectedElement">
						<mat-option *ngIf="!motionElements || motionElements.length === 0" disabled>{{
							'motion_elements_empty' | translate
						}}</mat-option>
						<mat-option *ngFor="let element of motionElements" [value]="element">{{ element.name }}</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>
	</div>
	<div class="actions">
		<button mat-button mat-dialog-close>
			{{ 'button.cancel' | translate }}
		</button>
		<button mat-raised-button color="primary" (click)="add()" [disabled]="selectedElement === null">
			{{ 'button.add' | translate }}
		</button>
	</div>
</div>