<div class="wrapper mat-typography">
	<ul class="menu menu-big mat-elevation-z1" *ngIf="prgService.modeToggle === 'prj'" (click)="toggleFocus($event)">
		<li
			(mouseenter)="currMenu = 1"
			[class.selected]="onFocus && currMenu === 1"
			[class.disabled]="this.prj.currProject.value === null || prj.activeProject || login.isOperator"
		>
			{{ 'projectTree.prj' | translate }}
		</li>
		<li
			(mouseenter)="currMenu = 2"
			[class.selected]="onFocus && currMenu === 2"
			[class.disabled]="this.prj.currProject.value === null || prj.activeProject || login.isOperator"
		>
			{{ 'projects.toolbar.create' | translate }}
		</li>
		<li
			(mouseenter)="currMenu = 3"
			[class.selected]="onFocus && currMenu === 3 && prgService.mode === 'editor'"
			[class.disabled]="prgService.mode !== 'editor' || prj.activeProject || login.isOperator"
		>
			{{ 'projects.toolbar.edit' | translate }}
		</li>
		<li
			(mouseenter)="currMenu = 4"
			[class.selected]="onFocus && currMenu === 4"
			*ngIf="!cmn.isTablet"
			[class.disabled]="this.prj.currProject.value === null"
		>
			{{ 'projects.toolbar.run' | translate }}
		</li>
	</ul>
	<ul class="menu mat-elevation-z1" *ngIf="prgService.modeToggle === 'mc'" (click)="toggleFocus($event)">
		<li (mouseenter)="currMenu = 5" [class.selected]="onFocus && currMenu === 5" [class.disabled]="false">
			{{ 'projects.toolbar.file' | translate }}
		</li>
		<li (mouseenter)="currMenu = 6" [class.selected]="onFocus && currMenu === 6" [class.disabled]="false">
			{{ 'projects.toolbar.controller' | translate }}
		</li>
	</ul>
	<ul class="mat-elevation-z1 prj-buttons" *ngIf="cmn.isTablet && prj.currProject.value && prgService.modeToggle === 'prj'">
    <button (click)="toggleDependencies()" mat-raised-button color="accent" style="margin-right: 24px;">
			<mat-icon>public</mat-icon>
      <mat-icon class="secondary-icon">
        {{ prj.currProject.value.dependenciesLoaded ? 'stop' : 'play_arrow' }}
      </mat-icon>
		</button>
		<button
			(click)="stop()"
			mat-raised-button
			color="primary"
			style="margin-right: 24px;"
			matTooltip="{{ 'projects.toolbar.stop_prj' | translate }}"
		>
			<mat-icon>stop</mat-icon>
		</button>
		<button (click)="run()" mat-raised-button color="primary" matTooltip="{{ 'projects.toolbar.run_prj' | translate }}">
			<mat-icon>play_arrow</mat-icon>
		</button>
	</ul>
	<ul class="mat-elevation-z1 v-slider-container" *ngIf="prj.currProject.value && prgService.modeToggle !== 'mc'">
		<span class="title">{{ 'projects.toolbar.vrate' | translate }}</span>
		<button mat-raised-button color="primary" (click)="changeVrate(false)">
			-
		</button>
		<mat-slider
			class="v-slider"
			color="primary"
			thumbLabel
			max="100"
			min="1"
			tickInterval="auto"
			[value]="prj.currProject.value.settings.vrate"
			(change)="onVrateChange($event)"
		>
		</mat-slider>
		<button mat-raised-button color="primary" (click)="changeVrate(true)">
			+
		</button>
	</ul>
	<ul class="mat-elevation-z1" *ngIf="login.isAdmin">
		<mat-button-toggle-group [(ngModel)]="prgService.modeToggle" (change)="currMenu = 0; onFocus = false">
			<mat-button-toggle value="prj">{{ 'projectTree.prj' | translate }}</mat-button-toggle>
			<mat-button-toggle value="mc">{{ 'projectTree.cnt' | translate }}</mat-button-toggle>
		</mat-button-toggle-group>
	</ul>
</div>
<div
	class="dropdown-container mat-title-color"
	*ngIf="onFocus && (prgService.modeToggle === 'mc' || this.prj.currProject.value)"
	(click)="onFocus = false"
	[class.dropdown-controller]="prgService.modeToggle === 'mc'"
>
	<ul class="dropdown-menu menu1" *ngIf="currMenu === 1 && !prj.activeProject && !login.isOperator">
		<li (click)="new()"><mat-icon>note_add</mat-icon>{{ 'projects.toolbar.new' | translate }}...</li>
		<li (click)="open()"><mat-icon>create_new_folder</mat-icon>{{ 'projects.toolbar.open' | translate }}...</li>
		<div class="seperator"></div>
		<li (click)="export()"><mat-icon>cloud_download</mat-icon>{{ 'projects.toolbar.export' | translate }}...</li>
		<li (click)="doImport(false)"><mat-icon>cloud_upload</mat-icon>{{ 'projects.toolbar.import' | translate }}...</li>
		<div class="seperator"></div>
		<li (click)="saveAs()"><mat-icon>save</mat-icon>{{ 'projects.toolbar.save_as' | translate }}...</li>
		<li (click)="rename()"><mat-icon>edit</mat-icon>{{ 'projects.toolbar.rename' | translate }}...</li>
		<li (click)="delete()" class="warn"><mat-icon>delete</mat-icon>{{ 'projects.toolbar.del_prj' | translate }}...</li>
		<div class="seperator"></div>
		<li (click)="deleteOthers()" class="warn">
			<mat-icon>delete</mat-icon>{{ 'projects.toolbar.del_prj_other' | translate }}...
		</li>
	</ul>
	<ul
		class="dropdown-menu menu2"
		*ngIf="currMenu === 2 && this.prj.currProject.value && !prj.activeProject && !login.isOperator"
	>
		<li (click)="newApp()"><mat-icon>add</mat-icon>{{ 'projects.toolbar.app' | translate }}...</li>
		<li (click)="newLib()"><mat-icon>add</mat-icon>{{ 'projects.toolbar.lib' | translate }}...</li>
		<li (click)="newDep()"><mat-icon>add</mat-icon>{{ 'projects.toolbar.dep' | translate }}...</li>
	</ul>
	<ul
		class="dropdown-menu menu3"
		*ngIf="currMenu === 3 && prgService.mode === 'editor' && !prj.activeProject && !login.isOperator"
	>
		<li (click)="undo()"><mat-icon>undo</mat-icon>{{ 'projects.toolbar.undo' | translate }}</li>
		<li (click)="redo()"><mat-icon>redo</mat-icon>{{ 'projects.toolbar.redo' | translate }}</li>
		<div class="seperator"></div>
		<li (click)="find()"><mat-icon>find_in_page</mat-icon>{{ 'projects.toolbar.find' | translate }}...</li>
		<li (click)="replace()"><mat-icon>find_replace</mat-icon>{{ 'projects.toolbar.replace' | translate }}...</li>
	</ul>
	<ul class="dropdown-menu menu4" *ngIf="currMenu === 4 && this.prj.currProject.value">
		<li (click)="$event.stopImmediatePropagation(); prj.toggleAutoStart()">
			<mat-icon>{{ prj.currProject.value.settings.autoStart ? 'check_box' : 'check_box_outline_blank' }}</mat-icon>
			{{ 'projects.toolbar.autostart' | translate }}
		</li>
		<mat-divider></mat-divider>
		<li (click)="run()"><mat-icon>play_arrow</mat-icon>{{ 'projects.toolbar.run_prj' | translate }}</li>
		<li (click)="stop()"><mat-icon>stop</mat-icon>{{ 'projects.toolbar.stop_prj' | translate }}</li>
    <li (click)="toggleDependencies()">
      <mat-icon>public</mat-icon>
      <mat-icon class="secondary-icon">
        {{ prj.currProject.value.dependenciesLoaded ? 'stop' : 'play_arrow' }}
      </mat-icon>
      {{ (prj.currProject.value.dependenciesLoaded ? 'projects.toolbar.dep_unload' : 'projects.toolbar.dep_load') | translate }}</li>
		<mat-divider></mat-divider>
		<li (click)="runAllBGTasks()">
			<mat-icon>play_arrow</mat-icon>{{ 'projects.toolbar.run_all_bg_tasks' | translate }}
		</li>
		<li (click)="stopAllBGTasks()"><mat-icon>stop</mat-icon>{{ 'projects.toolbar.stop_all_bg_tasks' | translate }}</li>
		<mat-divider></mat-divider>
		<li (click)="toggleRemote()">
			<mat-icon>open_in_new</mat-icon
			>{{ (stat.mode === 'R' ? 'projects.toolbar.remote_disable' : 'projects.toolbar.remote_enable') | translate }}
		</li>
	</ul>
	<ul class="dropdown-menu menu5" *ngIf="currMenu === 5">
		<li (click)="newFile()"><mat-icon>note_add</mat-icon>{{ 'projects.toolbar.new_file' | translate }}...</li>
		<li (click)="newFolder()">
			<mat-icon>create_new_folder</mat-icon>{{ 'projects.toolbar.new_folder' | translate }}...
		</li>
		<div class="seperator"></div>
		<li (click)="showUploadDialog()">
			<mat-icon>cloud_upload</mat-icon>{{ 'projects.toolbar.upload' | translate }}...
		</li>
		<li (click)="downloadFiles(true)" [class.item-disabled]="prj.checklistSelection.selected.length === 0">
			<mat-icon>cloud_download</mat-icon>{{ 'projects.toolbar.menu_download_files' | translate }}...
		</li>
		<div class="seperator"></div>
		<li (click)="deleteFiles()" [class.item-disabled]="prj.checklistSelection.selected.length === 0">
			<mat-icon>delete</mat-icon>{{ 'projects.toolbar.menu_delete_files' | translate }}...
		</li>
	</ul>
	<ul class="dropdown-menu menu6" *ngIf="currMenu === 6">
		<li (click)="downloadFiles(false)"><mat-icon>backup</mat-icon>{{ 'projects.toolbar.backup' | translate }}...</li>
		<li (click)="doImport(true)"><mat-icon>restore</mat-icon>{{ 'projects.toolbar.restore' | translate }}...</li>
	</ul>
</div>
<input type="file" accept=".zip, .ZIP" #upload (change)="onUploadProjectFile($event)" class="file-input" />
<input
	type="file"
	accept=".UPG, .PRG, .ULB, .LIB, .DAT, .TXT, .VAR, .DEF, .BLK, .TPS, .OBJ, .LOG"
	#uploadFiles
	(change)="onUploadFilesChange($event)"
	multiple
	class="file-input"
/>
