.wrapper {
  display: flex;
  flex-direction: row;
}
.menu {
  display: flex;
  align-items: center;
  padding-left: 16px;
  flex: 1;
}
.menu li {
  margin: 2px;
  outline: none;
  padding: 4px 8px 6px 8px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
}
.menu-big li {
  min-height: 50px;
  height: auto;
  box-sizing: content-box;
}
.menu li:not(.disabled):hover,
.dropdown-menu li:hover {
  background: #e0e0e0;
}
.menu li.selected:not(.disabled) {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  background: #fff !important;
}
.secondary-icon {
  position: absolute;
  width: 12px;
  height: 12px;
  font-size: 12px;
  left: 17px;
  bottom:0;
}
button .secondary-icon {
  bottom: 0;
  right: 4px;
  width: 24px;
  height: 24px;
  font-size: 24px;
  left: auto;
}
.dropdown-container {
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;
  height: calc(100% - 64px);
  z-index: 10;
}
.dropdown-controller {
  top: 40px;
  height: calc(100% - 40px);
}
.dropdown-menu {
  position: absolute;
  border: 0;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  z-index: 10;
  top: 0;
  font-size: 13px;
}
.disabled,
.item-disabled {
  color: #ccc;
}
.item-disabled {
  cursor: not-allowed !important;
}
.dropdown-menu li {
  padding: 4px 8px;
  margin: 4px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.dropdown-menu mat-icon,
.dropdown-menu img {
  font-size: 16px;
  margin-right: 8px;
  width: 16px;
  height: 16px;
}
.seperator {
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.file-input {
  visibility: hidden;
  position: absolute;
  right: 0;
  bottom: 0;
}
.prj-buttons {
  display: flex;
  padding: 8px;
}
.v-slider-container {
  flex: 1;
  padding: 0 16px;
  display: flex;
  max-width: 500px;
}
.v-slider-container button {
  margin: 8px 0;
  font-size: 24px;
}
.v-slider-container .title {
  margin-right: 16px;
  align-self: center;
  max-width: 60px;
}
.v-slider {
  flex: 1;
  margin: 0 16px;
  align-self: flex-end;
}

mat-button-toggle-group {
  height: 100%;
  align-items: center;
}
mat-button-toggle {
  height: 100%;
  display: flex;
}
.menu1,
.menu5 {
  left: 18px;
}
.menu2 {
  left: 84px;
}
.menu3 {
  left: 147px;
}
.menu4 {
  left: 192px;
}
.menu6 {
  left: 62px;
}

::ng-deep {
  .tablet-ui program-toolbar {
    .dropdown-menu {
      font-size: 16px;
    }
    .dropdown-menu li {
      padding: 16px !important;
    }
    .menu2 {
      left: 90px;
    }
    .menu3 {
      left: 158px;
    }
    .menu4 {
      left: 207px;
    }
  }

  /* MAKE SLIDER THUMB ALWAYS VISIBLE */
  .mat-slider-thumb-label {
    transform: rotate(45deg) !important;
    border-radius: 50% 50% 0 !important;
  }

  .mat-slider-thumb {
    transform: scale(0) !important;
  }

  .mat-slider-thumb-label-text {
    opacity: 1 !important;
  }
}

:host-context(.cs-dark) {
  .menu li:not(.disabled):hover,
  .dropdown-menu li:hover {
    background: rgba(0,0,0,0.2);
  }
  .menu li.selected:not(.disabled), .dropdown-menu {
    background: #222!important;
  }
  .seperator {
    border-bottom: 1px solid #666;
  }
}