.menu { 
  display: flex;
  background: #fff;
  font-size: 14px;
  align-items: center;
  padding-left: 16px;
}
.menu li {
  margin: 2px;
  outline: none;
  padding: 4px 8px 6px 8px;
  border: 1px solid transparent;
}
.menu li:not(.disabled):hover, .dropdown-menu li:hover { background: #e0e0e0; }
.menu li.selected:not(.disabled) {
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  background: #fff!important;
}
.dropdown-container {
  position: absolute;
  top: 38px;
  left: 0;
  width: 100%;
  height: calc(100% - 38px);
  z-index: 10;
}
.dropdown-menu {
  position: absolute;
  border: 0;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  z-index: 10;
  top: -6px;
  font-size: 13px;
}
.disabled {
  color: #ccc;
}
.dropdown-menu li {
  padding: 4px 8px;
  margin: 4px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.dropdown-menu mat-icon, .dropdown-menu img {
  font-size: 16px;
  margin-right: 8px;
  width: 16px;
  height: 16px;
}
.seperator {
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.menu1 { left: 18px; }
.menu2 { left: 84px; }
.menu3 { left: 147px; }
.menu4 { left: 192px; }