.content {
  white-space: pre;
  overflow: auto;
  flex: 1;
  background: #fff;
  padding: 16px;
  box-sizing: border-box;
}
.content div,
.content span {
  user-select: text;
}
.context-menu {
  position: absolute;
  background: #fff;
  z-index: 6;
}
.context-menu mat-icon,
.context-menu img {
  font-size: 18px;
  width: 18px;
  height: 18px;
  margin-right: 8px;
}
.context-menu .button-text {
  font-size: 13px;
  font-weight: 400;
}
.context-menu button {
  padding: 0 32px 0 8px;
  display: block;
  width: 100%;
}
::ng-deep .context-menu .mat-button-wrapper {
  display: flex;
  align-items: center;
}
.link {
  color: blue;
  text-decoration: underline;
  font-weight: 500;
  cursor: pointer;
}
