.title { 
  display: flex;
  align-items: center;
  font-size: 24px;
  padding: 16px;
  margin: -24px;
  cursor: move;
}
.title span { flex: 1; }
mat-card {
  position: fixed;
  top: 50%;
  left: 100px;
  width: 50%;
  height: 30%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.content {
  white-space: pre;
  overflow: auto;
  flex: 1;
  margin-top: 40px;
}
mwlResizable {
  box-sizing: border-box;
}
.wrapper {
  height: 100%;
  width: 100%;
}
.context-menu { 
  position: absolute;
  width: 200px;
  background: #fff;
  z-index: 2;
}
.context-menu button {
  width: 100%;
}
::ng-deep .context-menu .mat-button-wrapper {
  display: flex;
  align-items: center;
}