.wrapper {
  height: 100%;
  background: #fff;
  overflow: hidden;
}
.project-tree {
  overflow: auto;
}
.mode-toggle {
  width: 100%;
  flex: 0 0 48px;
}
.file-tree-wrapper, mc-file-tree, .wrapper {
  display: flex;
  flex-direction: column;
}
.file-tree-wrapper, mc-file-tree {
  overflow: hidden;
}
.title {
  font-weight: 500;
  padding: 16px;
  font-size: 18px;
  padding-bottom: 0;
}
mat-tree {
  flex: 1;
  margin: 0 16px;
}
mat-nested-tree-node, mat-tree-node { min-height: auto; }
mat-nested-tree-node.disabled *, mat-tree-node.disabled * {
  color: #9E9E9E;
  cursor: not-allowed;
}
.invisible { display: none; }
ul,li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  flex: 1;
}
li.cdk-drag-preview {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: rgba(255,255,255,0.5);
}
ul, .leaf { padding-left: 16px; }
li > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
li > div:hover, .file-list > div:hover { background: #eee; }
.allow-add {
  flex: 1;
  width: auto;
  text-align: left;
}
mat-icon { margin-right: 4px;}
.file-list {
  background: #fff;
  padding-left: 24px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.file-list button {
  width: auto;
  display: flex;
  align-items: center;
}
.library { color: #4527A0;}
.settings { color: #1565C0; }
.errors { color: #827717; }
.macros { color: #6D4C41; }

.menu {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 11;
  background: #fff;
  font-size: 16px;
}
.menu .mat-button { text-align: left; }
::ng-deep .tablet-ui .menu .mat-button { padding: 16px; }
.menu > div {
  flex-direction: column;
  display: flex;
}
.menu-backdrop {
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.menu-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.status {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 6px;
}
.status-running { color: #43A047; }
.enabledApp {
  font-weight: bold;
}
.center-block {
  display: block;
  text-align: center;
  padding-top: 8px;
}
