.card {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  padding: 8px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  margin-right: 8px;
  pointer-events: none;
}
.row {
  display: flex;
  min-width: 80px;
}
.row > div {
  flex: 1;
}
