.wrapper {
    margin: -24px;
    background: #eee;
}
.content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.release-note {
    min-width: 500px;
    min-height: 300px;
    max-height: 500px;
    overflow: auto;
    margin-bottom: 16px;
    font-family: monospace;
    font-size: 16px;
    padding: 24px;
    box-sizing: border-box;
    background: #fff;
    white-space: pre-wrap;
}
button {
    margin-right: 16px;
}
::ng-deep .release-note .center {
    text-align: center;
}
::ng-deep .release-note .bold {
    font-weight: bold;
    font-size: 18px;
}
  