<div class="wrapper">
	<div class="loader mat-elevation-z6" *ngIf="!loaded">
		<h2>{{ 'simulator_screen.loading' | translate }}</h2>
		<img src="assets/pics/{{ env.platform.spinner }}" />
	</div>
	<div class="toolbar primary-bg mat-elevation-z3">
		<button mat-button [matMenuTriggerFor]="menu" [disabled]="!loaded || !sim.shouldShowSimulator">
			<mat-icon>menu</mat-icon>
			{{ 'simulator_screen.simulation' | translate }}
		</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item (click)="save()">{{ 'projects.toolbar.save' | translate }}...</button>
			<button mat-menu-item (click)="open()">{{ 'projects.toolbar.open' | translate }}...</button>
		</mat-menu>
		<div class="separator"></div>
		<button
			mat-raised-button
			color="accent"
			matTooltip="{{ 'simulator_screen.cube' | translate }}"
			(click)="sim.addObject('Cube')"
			[disabled]="!loaded || !sim.shouldShowSimulator"
		>
			<img src="assets/pics/icons/cube.png" />
			<mat-icon class="badge primary-bg mat-elevation-z3">add</mat-icon>
		</button>
		<button
			mat-raised-button
			color="accent"
			matTooltip="{{ 'simulator_screen.sphere' | translate }}"
			(click)="sim.addObject('Sphere')"
			[disabled]="!loaded || !sim.shouldShowSimulator"
		>
			<img src="assets/pics/icons/sphere.png" />
			<mat-icon class="badge primary-bg mat-elevation-z3">add</mat-icon>
		</button>
		<button
			mat-raised-button
			color="accent"
			matTooltip="{{ 'simulator_screen.cylinder' | translate }}"
			(click)="sim.addObject('Cylinder')"
			[disabled]="!loaded || !sim.shouldShowSimulator"
		>
			<img src="assets/pics/icons/cylinder.png" />
			<mat-icon class="badge primary-bg mat-elevation-z3">add</mat-icon>
		</button>
		<!--<button
			mat-raised-button
			color="accent"
			matTooltip="{{ 'simulator_screen.custom' | translate }}"
			(click)="sim.addObject('Custom')"
		>
			<img src="assets/pics/icons/custom.png" />
			<mat-icon class="badge primary-bg mat-elevation-z3 disabled">add</mat-icon>
		</button>-->
		<div class="separator"></div>
		<mat-slide-toggle color="accent" [(ngModel)]="sim.showTrace" [disabled]="!loaded || !sim.shouldShowSimulator">{{'simulator_screen.trace' | translate}}</mat-slide-toggle>
		<div class="separator"></div>
		<button mat-raised-button color="accent" (click)="openRecording()" [disabled]="!loaded || !sim.shouldShowSimulator">
			{{ (liveMode ? 'simulator_screen.load_rec' : 'simulator_screen.rec_close') | translate }}
		</button>
		<div class="separator"></div>
		<div 
    class="color-select center-vertical mat-elevation-z3"
    [(colorPicker)]="sim.bgColor"
    [style.background]="sim.bgColor"
    [cpPosition]="'bottom'"
   >
			<mat-icon>colorize</mat-icon>&nbsp;&nbsp; {{'simulator_screen.background' | translate}}
		</div>
		<div
			class="color-select center-vertical mat-elevation-z3"
			[(colorPicker)]="sim.traceColor"
			[style.background]="sim.traceColor"
    [cpPosition]="'bottom'"
		>
			<mat-icon>colorize</mat-icon>&nbsp;&nbsp; {{'simulator_screen.trace' | translate}}
		</div>
		<!--<div class="separator"></div>
    <button mat-mini-fab color="accent" (click)="snapshot()">
      <mat-icon>photo_camera</mat-icon>
    </button>-->
	</div>
	<as-split direction="horizontal" class="main">
		<as-split-area size="15" class="side-panel">
			<as-split direction="vertical">
				<as-split-area size="35">
					<objects-list></objects-list>
				</as-split-area>
				<as-split-area size="65">
					<object-properties [lastSelectedNode]="sim.selected"></object-properties>
				</as-split-area>
			</as-split>
		</as-split-area>
		<as-split-area size="85" class="gradient-stx">
      <div class="sim-wrapper">
        <lib-player *ngIf="sim.shouldShowSimulator"></lib-player>
        <lib-app-simulator
          id="sim-v2"
          *ngIf="sim.shouldShowSimulator"
          [debug]="false"
          [backgroundColor]="sim.bgColor"
          [traceColor]="sim.traceColor"
          #simulator
          [trace]="sim.showTrace"
          [roboturl]="robots.get3DModelPath(robots.selectedRobot.part_number)"
          [jntValues]="jointsAsArr"
          (onload)="loaded = true"
        ></lib-app-simulator>
        <div class="warn-bg center-vertical-horizontal warn" *ngIf="!sim.shouldShowSimulator">
          {{ 'simulator_screen.disabled' | translate }}
        </div>
      </div>
		</as-split-area>
	</as-split>
</div>
