<div class="main mat-typography">
    <div class="wrapper">
        <div class="title">{{ this.data.title | translate }}</div>
    </div>
    <div class="actions">
        <header>
            <!-- <mat-form-field>
                <mat-label>{{ "projectCommands.functions.name" | translate }}</mat-label>
                <input autocomplete="off" maxlength="32" matInput
                    placeholder="{{  'projectCommands.functions.name' | translate}}" [formControl]="functionName"
                    (input)="changeInput($event)" />
                <mat-error *ngIf="functionName.hasError('required')">
                    {{ 'projectCommands.functions.required' | translate }}
                </mat-error>
                <mat-error *ngIf="functionName.hasError('letter') && !functionName.hasError('required')">
                    {{ 'projectCommands.functions.beginWithLetter' | translate }}</mat-error>
            </mat-form-field> -->
            <custom-key-board type="string" matLabel='{{ "projectCommands.functions.name" | translate }}'
                placeHolder="{{  'projectCommands.functions.name' | translate}}"
                [nameRules]="true" [maxLength]="32" [value]="functionName.value"
                (valueChange)="change($event)" (blurEvent)="change($event)"
            ></custom-key-board>
        </header>
        <mat-dialog-content>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" #parameterTable>
                <ng-container matColumnDef="VariableName">
                    <th mat-header-cell *matHeaderCellDef class="VariableNameHeader">
                        {{ "projectCommands.functions.para_name" | translate }}</th>
                    <td mat-cell *matCellDef="let element;let i=index">
                        <!-- <mat-form-field>
                            <input matInput autocomplete="off" (input)="changeParameter($event,i)"
                                class="inputElementParameter" maxlength="32" (blur)="blurParameter(i)"
                                [formControl]="element.VariableName">
                            <mat-error *ngIf="element.VariableName.hasError('required')">
                                {{ 'projectCommands.functions.required' | translate }}</mat-error>
                            <mat-error
                                *ngIf="element.VariableName.hasError('letter') && !element.VariableName.hasError('required') && !element.VariableName.hasError('exist')">
                                {{ 'projectCommands.functions.beginWithLetter' | translate }}</mat-error>
                            <mat-error
                                *ngIf="element.VariableName.hasError('exist') && !element.VariableName.hasError('required') && !element.VariableName.hasError('letter')">
                                {{ 'projectCommands.functions.nameExist' | translate }}</mat-error>
                        </mat-form-field> -->
                        <div class="customKeyBoard">
                            <custom-key-board type="string"  [existNameList]="existParameter" class="inputElementParameter"
                                [nameRules]="true" [maxLength]="32" [value]="element.VariableName.value" [required]="true"
                                (valueChange)="changeParameter({target:{value:$event}},i)" (blurEvent)="blurParameter(i)"
                            ></custom-key-board>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="VariableType">
                    <th mat-header-cell *matHeaderCellDef class="VariableTypeHeader">
                        {{ "projectCommands.functions.para_type" | translate }} </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-form-field>
                            <mat-select [(value)]="element.VariableType">
                                <mat-option *ngFor="let item of dataType" [value]="item.value">
                                    {{item.text}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </ng-container>
                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef>
                        <button mat-icon-button color="primary" (click)="addParameter()"
                            [disabled]="dataSource.length >= 20">
                            <mat-icon>add</mat-icon>
                        </button> </th>
                    <td mat-cell *matCellDef="let element;let i=index">
                        <button mat-icon-button color="primary" (click)="deleteParameter(i)">
                            <mat-icon>remove</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-dialog-content>
        <section>
            <mat-form-field class="returnType">
                <mat-select [(value)]="returnType"
                    placeholder="{{ 'projectCommands.functions.returnType' | translate }}">
                    <mat-option *ngFor="let item of dataType" [value]="item.value">
                        {{item.text}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </section>
        <div class="tip">{{  'projectCommands.functions.tip' | translate}}</div>
        <footer>
            <button mat-button (click)="cancel()">
                {{ 'button.cancel' | translate }}
            </button>
            <button mat-button color="primary" (click)="insert()"
                [disabled]="!functionName.value || !functionName.valid || !parameterValid || isParameterEmpty">
                {{ 'button.insert' | translate }}
            </button>
        </footer>
    </div>
</div>