header {
    margin: 20px 0;
}
table {
    width: 100%;
    .dataHeader {
        width: 50%;
    }
    .dataType {
        width: 40%;
    }
    th.bottomLine {
        position: relative;
        div.headerBottom {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        }
    }
    td {
        .nameShowAll {
            width: 60%;
        }
    }
}

div.template {
    div.list {
        width: 50%;
    }
    div.data {
        div.table-container {
            max-height: 270px;
            overflow: auto;
            th.mat-header-cell {
                border-bottom-width: 0 !important;
            }
        }
    }
}
