<div class="wrapper">
	<div class="header">
		<div class="header-box primary-bg-dark center-vertical">
			<mat-icon>access_time</mat-icon>
			<span>{{ date }}&nbsp;&nbsp;{{ time }}</span>
		</div>
		<div class="header-box primary-bg-dark center-vertical">
			<mat-icon>devices</mat-icon>
			<span *ngIf="stat.systemErrorCode === 1000 || stat.systemErrorCode < 0">
        {{ 'system_state.state' | translate }}: {{ 'system_state.' + stat.systemErrorCode | translate }}
      </span>
      <span *ngIf="stat.systemErrorCode !== 1000 && stat.systemErrorCode >= 0">
        {{ 'system_state.state' | translate }}: {{ 'system_state.loading' | translate }}({{stat.systemErrorCode}})
      </span>
		</div>
		<div class="header-box primary-bg-dark center-vertical" *ngIf="utils.isDebug">
			{{ stat.mode }}  
		</div>
		<div class="header-box primary-bg-dark center-vertical">
			<mat-icon>comment</mat-icon>
			<span style="flex:1;"
				>{{ 'projectTree.prj' | translate }}:
				{{ (prj.currProject.value ? prj.currProject.value.name : 'na') | translate }}</span
			>
		</div>
		<div class="header-box primary-bg-dark center-vertical">
			<mat-icon>group_work</mat-icon>
			<span
				>{{ 'robot' | translate }}:
				{{
					(robot.selectedRobot ? robot.selectedRobot.name + ' (' + robot.selectedRobot.bus + ')' : 'na') | translate
				}}</span
			>
		</div>
	</div>
	<mat-grid-list cols="12" rowHeight="fit">
		<mat-grid-tile colspan="3" rowspan="1">
			<mat-card>
				<mat-card-header style="margin-bottom: 8px;" class="center-vertical">
					<div
						mat-card-avatar
						style="background-size: cover;"
						[style.background-image]="'url(' + profileSrc + ')'"
					></div>
          <div style="height: 48px;">
            <mat-card-title
              ><b>{{ 'home.welcome' | translate }}, {{ login.fName }}!</b></mat-card-title
            >
            <mat-card-subtitle>{{ login.permission | translate }}</mat-card-subtitle>
          </div>
				</mat-card-header>
				<div
					mat-card-image
					*ngIf="mcImage !== '' && viewInit"
					class="center-vertical-horizontal"
					[style.background-image]="'url(' + mcImage + ')'"
					@fade
				>
					<div *ngIf="simulated" class="primary-bg mat-elevation-z3 simulated">
						{{ 'home.virtual_controller' | translate }}
					</div>
				</div>
				<p>
					{{ 'home.port' | translate }} <b>{{ ws.port }}</b
					>.
				</p>
			</mat-card>
		</mat-grid-tile>
		<mat-grid-tile colspan="9" rowspan="1">
			<mat-card>
				<terminal tourAnchor="terminal"></terminal>
			</mat-card>
		</mat-grid-tile>
		<mat-grid-tile colspan="3" rowspan="2">
			<mat-card class="info-card" *ngIf="groupManager.sysInfo" @fade>
				<div class="center-vertical title primary-bg-dark">
					<mat-icon>perm_device_information</mat-icon>{{ 'home.system' | translate }}
				</div>
				<div class="center-vertical" style="margin-bottom: 8px;">
					<mat-icon style="margin-right: 8px;">memory</mat-icon>
					<span>{{ groupManager.sysInfo.cpu }}</span>
				</div>
				<div class="graphs">
					<div #graphDisk></div>
					<div #graphMemory></div>
				</div>
			</mat-card>
		</mat-grid-tile>
		<mat-grid-tile colspan="9" rowspan="1">
			<mat-card style="white-space: pre-wrap;" tourAnchor="message-log">
				{{ 'message_log' | translate }}
				<message-log></message-log>
			</mat-card>
		</mat-grid-tile>
		<mat-grid-tile colspan="3" rowspan="1" tourAnchor="sys-info">
			<mat-card class="info-card" *ngIf="groupManager.sysInfo" @fade>
				<div class="center-vertical title primary-bg-dark">
					<mat-icon>info</mat-icon>{{ 'home.software' | translate }}
				</div>
				<mat-card-content>
					<div *ngIf="!utils.IsKuka" class="info-line">
						<div class="mat-subtitle-color">{{ 'home.ver' | translate }}</div>
						<div class="mat-title-color">{{ groupManager.sysInfo.ver }}</div>
					</div>
					<div *ngIf="utils.IsKuka" class="info-line">
						<div class="mat-subtitle-color">{{ 'home.ver' | translate }}</div>
						<div>
							<span>{{ appNameKuka }} &nbsp;{{ mainVer[0] }}</span>
							<div>
								<span class="dot-span"></span>
								<span>SoftMC &nbsp;{{ data.MCVersion }}</span>
							</div>
							<div>
								<span class="dot-span"></span>
								<span>Web Server &nbsp;{{ data.JavaVersion }}</span>
							</div>
							<div>
								<span class="dot-span"></span>
								<span>GUI &nbsp;{{ guiVer }}</span>
							</div>
							<div>
								<span class="dot-span"></span>
								<span>Library &nbsp;{{ data.cabinetVer }}&nbsp;{{ libVer }}</span>
							</div>
						</div>
					</div>
					<div class="info-line">
						<div class="mat-subtitle-color">
							{{ 'home.platform' | translate }}
						</div>
						<div class="mat-title-color">
							{{ groupManager.sysInfo.platform }}
						</div>
					</div>
					<div class="info-line">
						<div class="mat-subtitle-color">
							{{ 'home.axes_max' | translate }}
						</div>
						<div class="mat-title-color">
							{{ groupManager.sysInfo.maxAxes }}
						</div>
					</div>
					<div class="info-line">
						<div class="mat-subtitle-color">
							{{ 'home.axes_real' | translate }}
						</div>
						<div class="mat-title-color">
							{{ groupManager.sysInfo.realAxes }}
						</div>
					</div>
				</mat-card-content>
			</mat-card>
		</mat-grid-tile>
		<mat-grid-tile colspan="3" rowspan="1">
			<mat-card class="info-card" *ngIf="groupManager.sysInfo">
				<div class="center-vertical title primary-bg-dark">
					<mat-icon>check_circle</mat-icon>
					<span style="flex:1;">{{ 'home.features' | translate }}</span>
					<button mat-icon-button class="feature-add" *ngIf="login.isAdmin" (click)="addFeature()">
						<mat-icon>add</mat-icon>
					</button>
				</div>
				<mat-card-content class="mat-subtitle-color">
					<div class="feature-line center-vertical" *ngFor="let f of groupManager.sysInfo.features">
						<mat-icon>check_circle</mat-icon>
						<div>{{ f }}</div>
					</div>
				</mat-card-content>
			</mat-card>
		</mat-grid-tile>
		<mat-grid-tile colspan="3" rowspan="1">
			<mat-card class="info-card">
				<div class="center-vertical title primary-bg-dark">
					<mat-icon>group_work</mat-icon>{{ 'home.groups' | translate }}
				</div>
				<mat-card-content class="mat-subtitle-color">
					<div class="feature-line center-vertical" *ngFor="let g of groupManager.groups">
						<div>
							<div class="mat-title-color group">{{ g.name }}:</div>
							<span *ngFor="let a of g.axes; let i = index">
								{{ a }}
								<span *ngIf="i < g.axes.length - 1">,</span>
							</span>
						</div>
					</div>
				</mat-card-content>
			</mat-card>
		</mat-grid-tile>
	</mat-grid-list>
</div>
