<div class="main mat-typography">
  <div class="wrapper">
    <div class="title">{{'projectCommands.delay.title'|translate}}</div>
    <div class="content">
      <mat-form-field>
        <input matInput placeholder="{{'projectCommands.delay.time'|translate}} [ms.]" [(ngModel)]="delay" type="number" virtualKeyboard ktype="numeric">
      </mat-form-field>
      <mat-slide-toggle [(ngModel)]="advancedMode" style="margin-bottom: 8px;" color="primary">{{'advanced'|translate}}</mat-slide-toggle>
      <mat-form-field *ngIf="advancedMode">
        <mat-select placeholder="{{'motion_element'|translate}}" [(ngModel)]="motionElement">
          <mat-option *ngFor="let e of dataService.robots" [value]="e + ' '">{{e}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="actions">
    <button mat-button (click)="cancel()">{{'button.cancel'|translate}}</button>
    <button mat-button color="primary" (click)="insert()" [disabled]="delay <= 0">{{'button.insert'|translate}}</button>
  </div>
</div>