<div class="mat-typography">
	<div class="wrapper">
		<div class="title">{{ 'projectCommands.jump.title' | translate }}</div>
		<div class="content">
			<mat-form-field>
				<mat-select
					placeholder="{{ 'projectCommands.jump.motionPh' | translate }}"
					[(ngModel)]="motionRobot"
					[formControl]="requiredFormControls[jumpParameterReference.MotionElement]"
					[errorStateMatcher]="errorMatcher"
					(selectionChange)="onMotionElementChanged()"
				>
					<mat-option *ngFor="let robot of motionRobots" [value]="robot">{{ robot }}</mat-option>
				</mat-select>
				<mat-error>
					{{ getErrors(requiredFormControls[jumpParameterReference.MotionElement]) }}
				</mat-error>
			</mat-form-field>

			<mat-form-field>
				<mat-select
					placeholder="{{ 'projectCommands.jump.destPh' | translate }}"
					[(ngModel)]="location"
					[formControl]="requiredFormControls[jumpParameterReference.DestinationFrame]"
					[errorStateMatcher]="errorMatcher"
					(selectionChange)="reset()"
				>
					<mat-optgroup label="Locations">
						<!-- <mat-option *ngFor="let data of (this.dataService.locations | dataNotArray)" [value]="data"> -->
						<mat-option *ngFor="let data of locations" [value]="data">
							{{ data.name }}
						</mat-option>
						<mat-option class="create-point-option" (click)="createPoint()">
							+ {{ 'projectCommands.createVar' | translate }}
						</mat-option>
					</mat-optgroup>
				</mat-select>
				<mat-error>
					{{ getErrors(requiredFormControls[jumpParameterReference.DestinationFrame]) }}
				</mat-error>
			</mat-form-field>

			<mat-slide-toggle
				[(ngModel)]="advancedMode"
				style="margin-bottom: 8px;"
				color="primary"
				[disabled]="isAdancedModeDisable()"
				(change)="onAdvancedModeChanged()"
				>{{ 'projectCommands.jump.advanced' | translate }}</mat-slide-toggle
			>

			<div *ngIf="advancedMode">
				<mat-form-field>
					<input
						matInput
						placeholder="{{ 'projectCommands.jump.archPh' | translate }}"
						name="arcNumber"
						[(ngModel)]="arcNumber"
						[formControl]="advancedFormControls[jumpParameterReference.ArcNumber]"
						[errorStateMatcher]="errorMatcher"
						virtualKeyboard
						ktype="numeric"
					/>
					<mat-error>
						{{ getErrors(advancedFormControls[jumpParameterReference.ArcNumber]) }}
					</mat-error>
				</mat-form-field>

				<mat-form-field>
					<input
						matInput
						placeholder="{{ 'projectCommands.jump.limitZPh' | translate }}"
						name="limitZ"
						[(ngModel)]="limitZ"
						[formControl]="advancedFormControls[jumpParameterReference.LimitZ]"
						[errorStateMatcher]="errorMatcher"
						virtualKeyboard
						ktype="numeric"
					/>
					<mat-error>
						{{ getErrors(advancedFormControls[jumpParameterReference.LimitZ]) }}
					</mat-error>
				</mat-form-field>

				<mat-form-field>
					<input
						matInput
						placeholder="{{ 'projectCommands.jump.blendingPh' | translate }}"
						name="blending"
						[(ngModel)]="blending"
						[formControl]="advancedFormControls[jumpParameterReference.Blending]"
						[errorStateMatcher]="errorMatcher"
						virtualKeyboard
						ktype="numeric"
					/>
					<span matSuffix>%</span>
					<mat-error>
						{{ getErrors(advancedFormControls[jumpParameterReference.Blending]) }}
					</mat-error>
				</mat-form-field>

				<mat-form-field>
					<input
						matInput
						placeholder="{{ 'projectCommands.jump.speedPh' | translate }}"
						name="speed"
						[(ngModel)]="speed"
						[formControl]="advancedFormControls[jumpParameterReference.Speed]"
						[errorStateMatcher]="errorMatcher"
						virtualKeyboard
						ktype="numeric"
					/>
					<span matSuffix>deg/s</span>
					<mat-error>
						{{ getErrors(advancedFormControls[jumpParameterReference.Speed]) }}
					</mat-error>
				</mat-form-field>

				<mat-form-field>
					<input
						matInput
						placeholder="{{ 'projectCommands.jump.accelerationPh' | translate }}"
						name="acceleration"
						[(ngModel)]="acceleration"
						[formControl]="advancedFormControls[jumpParameterReference.Acceleration]"
						[errorStateMatcher]="errorMatcher"
						virtualKeyboard
						ktype="numeric"
					/>
					<span matSuffix>deg/s<sup>2</sup></span>
					<mat-error>
						{{ getErrors(advancedFormControls[jumpParameterReference.Acceleration]) }}
					</mat-error>
				</mat-form-field>
			</div>
		</div>
	</div>
	<div class="actions">
		<button mat-button color="primary" (click)="cancel()">
			{{ 'button.cancel' | translate }}
		</button>
		<button mat-button color="primary" [disabled]="hasInvalidRequire || hasInvalidOptional" (click)="insert()">
			{{ 'button.insert' | translate }}
		</button>
	</div>
</div>
