<div class="main mat-typography">
  <div class="wrapper">
    <div class="title">{{this.data.title}}</div>
    <div class="content">
      <mat-form-field>
        <mat-select placeholder="Select..." [(ngModel)]="io">
          <mat-optgroup *ngIf="this.data.inputs" label="Inputs">
            <mat-option *ngFor="let io of this.inputs" [value]="io">{{ io.id }}</mat-option>
          </mat-optgroup>
          <mat-optgroup *ngIf="this.data.outputs" label="Outputs">
            <mat-option *ngFor="let io of this.outputs" [value]="io">{{ io.id }}</mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="actions">
    <button mat-button color="primary" (click)="cancel()">CANCEL</button>
    <button mat-button color="primary" (click)="insert()" [disabled]="this.io == null">INSERT</button>
  </div>
</div>