<div class="main mat-typography">
  <div class="wrapper">
    <div class="title">{{this.data.title}}</div>
    <div class="content">
      <mat-form-field>
        <mat-select placeholder="Select..." [(ngModel)]="io">
          <mat-option *ngFor="let io of this.list" [value]="io">{{io}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="actions">
    <button mat-button color="primary" (click)="cancel()">CANCEL</button>
    <button mat-button color="primary" (click)="insert()" [disabled]="this.io == null">INSERT</button>
  </div>
</div>