.cover {
  height: 100%;
}
.tit {
  font-size: 20px;
  font-weight: 500;
}
.msg {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.56);
  line-height: 1.5;
}
.actions {
  display: flex;
  padding: 8px 8px 8px 24px;
  justify-content: flex-end;
  /* margin: 0 -24px -24px 0; */
}
.ok {
  font-size: 72px;
  width: 72px;
  height: 72px;
  margin-right: 24px;
}

.version-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
