<div class="mat-typography cover">
	<div class="center-vertical">
		<mat-icon color="primary" class="ok">check_circle</mat-icon>
		<div>
			<div class="tit primary">{{ data.title }}</div>
			<div class="msg">
				{{ data.msg }}
				<div class="version-list">
					<div>
						<mat-list>
							<mat-list-item>
								<mat-icon mat-list-icon>create</mat-icon>
								<h4 mat-line>GUI</h4>
								<p mat-line>{{ data.guiVersion }}</p>
							</mat-list-item>
							<mat-list-item>
								<mat-icon mat-list-icon>web</mat-icon>
								<h4 mat-line>Web Server</h4>
								<p mat-line>{{ data.webServerVersion }}</p>
							</mat-list-item>
						</mat-list>
					</div>
					<div>
						<mat-list>
							<mat-list-item>
								<mat-icon mat-list-icon>dashboard</mat-icon>
								<h4 mat-line>softMC</h4>
								<p mat-line>{{ data.softMCVersion }}</p>
							</mat-list-item>
							<mat-list-item>
								<mat-icon mat-list-icon>subtitles</mat-icon>
								<h4 mat-line>Library</h4>
								<p mat-line>{{ data.libraryVersion }}</p>
							</mat-list-item>
						</mat-list>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="actions">
		<button mat-raised-button color="primary" mat-dialog-close>
			{{ 'button.ok' | translate }}
		</button>
	</div>
</div>
