
<div class="center-vertical buttons">
    <button mat-raised-button color="primary" (click)="treeControl.expandAll()">
        <mat-icon>expand_more</mat-icon>
        {{'topology.exTip'|translate}}
    </button>
    <button mat-raised-button color="primary" (click)="treeControl.collapseAll()">
        <mat-icon>expand_less</mat-icon>
        {{'topology.colTip'|translate}}
    </button>
</div>
<mat-divider></mat-divider>
<span *ngIf="hasErr && (systemBusType && systemBusType === 2)" class="warn-tip warn-bg">{{'topology.errTip'|translate}}</span>
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding class="leaf">
        <div class="center-vertical node status-{{node.status}}">
            <ng-container [ngSwitch]="true">
                <ng-container *ngSwitchCase="node.type === 'Controller' || node.type === 'Bus' || node.type === 'Coupler'">
                    <mat-icon class="mat-icon">devices</mat-icon>&nbsp;
                </ng-container>
                <ng-container *ngSwitchCase="node.type === 'Terminal'">
                    <mat-icon class="mat-icon">label</mat-icon>&nbsp;
                </ng-container>
                <ng-container *ngSwitchDefault>
                    <mat-icon class="mat-icon">label</mat-icon>&nbsp;
                </ng-container>
            </ng-container>
            <div [ngSwitch]="node.name" class="status-{{node.status}}">
                <span *ngSwitchCase="'Drive Bus'">{{'topology.driveBus'|translate}}</span>
                <span *ngSwitchCase="'Extension Bus'">{{'topology.extensionBus'|translate}}</span>
                <span *ngSwitchDefault>{{node.name}}</span>
            </div>
        </div>
    </mat-tree-node>
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
        <div class="node center-vertical status-{{node.status}}">
            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
                <mat-icon class="mat-primary mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
            </button>
            <ng-container [ngSwitch]="true">
                <ng-container *ngSwitchCase="node.type === 'Controller' || node.type === 'Bus' || node.type === 'Coupler'">
                    <mat-icon matRipple matTreeNodeToggle class="clickable">devices</mat-icon>&nbsp;
                </ng-container>
                <ng-container *ngSwitchCase="node.type === 'Terminal'">
                    <mat-icon matRipple matTreeNodeToggle class="clickable">label</mat-icon>&nbsp;
                </ng-container>
                <ng-container *ngSwitchDefault>
                    <mat-icon matRipple matTreeNodeToggle class="clickable">devices</mat-icon>&nbsp;
                </ng-container>
            </ng-container>
            <div [ngSwitch]="node.name" matRipple class="clickable status-{{node.status}}" matTreeNodeToggle>
                <span *ngSwitchCase="'Controller'">{{'topology.controller'|translate}}</span>
                <span *ngSwitchCase="'Drive Bus'">{{'topology.driveBus'|translate}}</span>
                <span *ngSwitchCase="'Extension Bus'">{{'topology.extensionBus'|translate}}</span>
                <span *ngSwitchDefault>{{node.name}}</span>
            </div>
        </div>
    </mat-tree-node>
</mat-tree>