:host ::ng-deep .mat-card-header-text {
  margin: 0;
}
.mastering {
  max-width: 950px;
  .stepper-head-cover {
    z-index: 1;
    width: 100%;
    height: 75px;
    background: white;
    position: absolute;
  }
  mat-card-actions {
    text-align: left;
    margin-left: 0px;
  }
  form {
    margin-top: 10px;
  }
  .mastering-table {
    margin-top: 10px;
  }
  .mastering-setting {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    .mastering-setting-buttons button:first-child {
      margin-right: 10px;
    }
    mat-form-field {
      width: 200px;
    }
  }
  .zero-radio-group {
    display: flex;
    flex-direction: column;
  }
  .zero-radio-button {
    margin: 10px;
  }
  .mastering-setting-card {
    margin-top: 40px;
  }
  .command-span {
    display: inline-block;
    background: rgba(0, 0, 0, 0.12);
    height: 36px;
    text-align: center;
    line-height: 36px;
    margin-right: 20px;
    padding: 0 10px;
    min-width: 300px;
  }
  .roughly-images-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    .joint-container {
      width: 35%;
      min-width: 400px;
      height: 180px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      border: 1px solid rgba(0, 0, 0, 0.12);
      padding: 5px;
      border-radius: 5px;
      box-sizing: border-box;
      margin: 5px;
      .joint-desc {
        width: 45%;
        align-self: flex-start;
        h2 {
          margin-bottom: 0;
        }
        p {
          max-width: 100%;
          display: inline-block;
          overflow-wrap: break-word;
          margin-left: 10px;
        }
      }
      img {
        height: 150px;
        width: 150px;
      }
    }
  }
  .jog-point-img {
    width: 300px;
    height: 150px;
    text-align: center;
    img {
      width: 150px;
      height: 150px;
    }
  }
  .advanced-command-jog {
    display: flex;
    flex-direction: column;
    img {
      width: 150px;
      margin-left: 60px;
    }
    button {
      width: 150px;
      margin-left: 60px;
      margin-top: 10px;
    }
  }
}
