<div class="main mat-typography">
  <div class="wrapper">
    <div class="title">{{this.data.title}}</div>
    <div class="content">
      <mat-form-field *ngIf="this.data.pickRobot">
        <mat-select placeholder="Motion Element" [(ngModel)]="robot">
          <mat-option *ngFor="let r of robots" [value]="r">{{r}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Pallet" [(ngModel)]="pallet">
          <mat-option *ngFor="let p of dataService.pallets" [value]="p">{{ p.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="actions">
    <button mat-button color="primary" mat-dialog-close>CANCEL</button>
    <button mat-button color="primary" (click)="insert()" [disabled]="(this.data.pickRobot && robot === null) || pallet === null">INSERT</button>
  </div>
</div>