<div class="wrapper mat-typography">
	<mat-toolbar color="warn">
		{{ (current ? 'projects.delete-dialog.title2' : 'projects.delete-dialog.title1') | translate }}
	</mat-toolbar>
	<div class="content">
		{{ (current ? 'projects.delete-dialog.message2' : 'projects.delete-dialog.message1') | translate }}
		<mat-form-field class="chip-field" *ngIf="current">
			<mat-select placeholder="{{ 'projects.select' | translate }}" [formControl]="openProjectCtrl">
				<mat-option *ngFor="let p of projects" [value]="p">
					{{ p }}
				</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field class="chip-field" *ngIf="!current">
			<!-- <mat-chip-list #chipList>
				<mat-chip *ngFor="let project of selected" selectable="false" removable="true" (removed)="remove(project)">
					{{ project }}
					<mat-icon matChipRemove>cancel</mat-icon>
				</mat-chip>
                <input
                    class="projectDeleteDialog"
					placeholder="{{ 'projects.delete-dialog.input' | translate }}"
					#prjInput
					[formControl]="prjCtrl"
					[matAutocomplete]="auto"
					[matChipInputFor]="chipList"
					[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
					matChipInputAddOnBlur="true"
                    [disabled]="projects.length === 0"
                    [readonly]="isTablet"
				/>
			</mat-chip-list>
			<mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelected($event)">
				<mat-option *ngFor="let project of projects" [value]="project">
					{{ project }}
				</mat-option>
			</mat-autocomplete> -->
			
			<mat-select multiple
				placeholder="{{ 'projects.delete-dialog.input' | translate }}"
				[formControl]="prjCtrl">
				<mat-option *ngFor="let item of projects" [value]="item" (click)="onSelected(item)">
					{{item}}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<div class="footer">
		<button mat-button mat-dialog-close>
			{{ 'button.cancel' | translate }}
		</button>
		<button mat-raised-button color="warn" (click)="delete()" [disabled]="current ? openProjectCtrl.invalid : selected.length === 0">
			{{ (current ? 'projects.delete-dialog.btn-delete2' : 'projects.delete-dialog.btn-delete1') | translate }}
		</button>
	</div>
</div>
