<div class="wrapper mat-typography">
	<mat-toolbar color="primary">
		{{ 'projects.delete-dialog.title' | translate }}
	</mat-toolbar>
	<div class="content">
		{{ 'projects.delete-dialog.message' | translate }}
		<mat-form-field class="chip-field">
			<mat-chip-list #chipList>
				<mat-chip *ngFor="let project of selected" selectable="false" removable="true" (removed)="remove(project)">
					{{ project }}
					<mat-icon matChipRemove>cancel</mat-icon>
				</mat-chip>
				<input
					placeholder="{{ 'projects.delete-dialog.input' | translate }}"
					#prjInput
					[formControl]="prjCtrl"
					[matAutocomplete]="auto"
					[matChipInputFor]="chipList"
					[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
					matChipInputAddOnBlur="true"
					[disabled]="projects.length === 0"
				/>
			</mat-chip-list>
			<mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelected($event)">
				<mat-option *ngFor="let project of projects" [value]="project">
					{{ project }}
				</mat-option>
			</mat-autocomplete>
		</mat-form-field>
	</div>
	<div class="footer">
		<button mat-button mat-dialog-close>
			{{ 'button.cancel' | translate }}
		</button>
		<button mat-button color="warn" (click)="delete()" [disabled]="selected.length === 0">
			{{ 'projects.delete-dialog.btn-delete' | translate }}
		</button>
	</div>
</div>
