<div class="wrapper">
  <div class="header">
    <div class="center-vertical">
      <div class="profile-pic" (click)="showUploadWindow()" [class.clickable]="login.getCurrentUser().user.username!=='admin'">
        <img [src]="profileSrc">
      </div>
      <div class="user-info">
        <div class="name primary">Hello, {{login.fName}}!</div>
        <div class="mat-body-1">{{login.permission}}</div>
      </div>
    </div>
  </div>
  <ul class="mat-subtitle-color">
    <li 
      *ngFor="let s of mgr.screens"
      [tourAnchor]="'screen-'+s.name"
      (click)="onClick(s)"
      [ngClass]="{
        'selected':mgr.screen === s,
        'disabled':s.requiresTpLib && !tpOnline
      }">
      <mat-icon>{{s.icon}}</mat-icon>
      <span>{{s.name}}</span>
    </li>
  </ul>
</div>
<input type="file" name="file" accept="image/*" #upload (change)="onUploadImage($event)" style="visibility: hidden; width:0;">