<div class="wrapper" *ngIf="login.getCurrentUser().user">
	<div class="header" *ngIf="mgr.menuExpanded">
		<div class="center-vertical">
			<div
				class="profile-pic"
				(click)="showUploadWindow()"
				[class.clickable]="login.getCurrentUser().user.username !== 'admin'"
			>
				<img [src]="profileSrc" />
			</div>
			<div class="user-info">
				<div class="name primary">{{ 'hello' | translate }}, {{ login.fName }}!</div>
				<div class="mat-body-1 permission">{{ login.permission }}</div>
			</div>
		</div>
	</div>
	<ul class="list mat-subtitle-color mobile-scrollbar" [class.short-menu]="!mgr.menuExpanded">
		<li class="screen" *ngIf="!mgr.menuExpanded"></li>
		<li
			class="screen"
			*ngFor="let s of mgr.screens"
			[tourAnchor]="'screen-' + s.name"
			(click)="onClick(s)"
			matTooltip="{{ 'tabs.' + s.name | translate }}"
			[matTooltipDisabled]="mgr.menuExpanded"
			[ngClass]="{
				primary: mgr.screen === s,
				selected: mgr.screen === s,
				disabled: (s.requiresTpLib && !tpOnline) || (s.autoModeOnly && stat.mode !== 'A')
			}"
		>
			<mat-icon>{{ s.icon }}</mat-icon>
			<span *ngIf="mgr.menuExpanded">{{ 'tabs.' + s.name | translate }}</span>
		</li>
	</ul>
</div>
<input
	type="file"
	name="file"
	accept="image/*"
	#upload
	(change)="onUploadImage($event)"
	style="visibility: hidden; width:0;"
/>
