mat-panel-title {
    width: 100%;
 }

.title-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.cause-title {
    font-size: 16px;
}
.title-span {
    color: gray;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
}
.cause-item-container {
    max-height: 13vh;
    overflow-y: auto;
    span {
        color: gray;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-size: 15px;
        font-weight: 400;
    }
    span:nth-child(n+3) {
        margin: 5px 0;
        display: block;
    }
}
.cause-item {
    color: black;
    font-size: 15px;
}