<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
	<!-- Arch Column -->
	<ng-container matColumnDef="{{ displayedColumns[0] }}">
		<mat-header-cell *matHeaderCellDef>
			{{ 'projectSettings.arch.archCol' | translate }}
		</mat-header-cell>
		<mat-cell *matCellDef="let element"> {{ element.index }} </mat-cell>
	</ng-container>
	<!-- DepartZ Column -->
	<ng-container matColumnDef="{{ displayedColumns[1] }}">
		<mat-header-cell *matHeaderCellDef>
			{{ 'projectSettings.arch.departZCol' | translate }}
		</mat-header-cell>
		<mat-cell *matCellDef="let element">
			<!-- <mat-form-field>
				<input
					matInput
					
					[(ngModel)]="element.depart"
					(focus)="onFocus($event)"
					(blur)="onBlur($event, element.index, element.depart, 1)"
					(keyup)="onKeyup($event)"
					virtualKeyboard
					ktype="numeric"
                    (onKeyboardClose)="onBlur($event, element.index, element.depart, 1)"
				/>
            </mat-form-field>  -->
            <custom-key-board 
                type="float" 
                [required]="true"
				[min]="0"
				[isPositiveNum]="true"
				[leftClosedInterval]="true" 
				[(value)]="element.depart"
                (pressEnterEvent)="onBlur({target:{value:$event}}, element.index, element.depart, 1)"
				(blurEvent)="onBlur({target:{value:$event}}, element.index, element.depart, 1)">
            </custom-key-board>
		</mat-cell>
	</ng-container>
	<!-- Approach Column -->
	<ng-container matColumnDef="{{ displayedColumns[2] }}">
		<mat-header-cell *matHeaderCellDef>
			{{ 'projectSettings.arch.approachZCol' | translate }}
		</mat-header-cell>
		<mat-cell *matCellDef="let element">
			<!-- <mat-form-field>
				<input
					matInput
					
					[(ngModel)]="element.approach"
					(focus)="onFocus($event)"
					(blur)="onBlur($event, element.index, element.approach, 2)"
					(keyup)="onKeyup($event)"
					virtualKeyboard
					ktype="numeric"
					(onKeyboardClose)="onBlur($event, element.index, element.approach, 2)"
				/>
            </mat-form-field> -->
            <custom-key-board 
                type="float" 
                [required]="true"
                [min]="0"
				[isPositiveNum]="true"
                [leftClosedInterval]=true 
                [value]="element.approach"  
                (valueChange)="element.approach = $event" 
                (pressEnterEvent)="onBlur({target:{value:$event}}, element.index, element.approach, 2)"
                (blurEvent)="onBlur({target:{value:$event}}, element.index, element.approach, 2)" >
            </custom-key-board>
		</mat-cell>
	</ng-container>

	<ng-container matColumnDef="footerColumn">
		<mat-footer-cell *matFooterCellDef class="arch-setting-footer">
			<button mat-raised-button (click)="onReset($event)" class="mat-primary">
				{{ 'button.reset' | translate }}
			</button>
		</mat-footer-cell>
	</ng-container>

	<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
	<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
	<mat-footer-row *matFooterRowDef="['footerColumn']"></mat-footer-row>
</mat-table>
