<pallet-wizard *ngIf="wizardMode" (closed)="onWizardClose()"></pallet-wizard>
<div class="wrapper" *ngIf="!wizardMode">
	<div class="side-menu mat-elevation-z3">
		<button mat-raised-button color="primary" (click)="addPallet()" class="btn-add">
			<mat-icon>add</mat-icon>
			<span>{{ 'button.create' | translate }}</span>
		</button>
		<mat-form-field>
			<mat-select
				placeholder="{{ 'pallets.selected' | translate }}"
				[(ngModel)]="data.selectedPallet"
				(selectionChange)="onPalletChange()"
			>
				<mat-option disabled *ngIf="data.pallets.length === 0">{{ 'empty_list' | translate }}</mat-option>
				<mat-option *ngFor="let p of data.pallets" [value]="p">{{ p.name }}</mat-option>
			</mat-select>
		</mat-form-field>
		<button mat-raised-button color="primary" [disabled]="data.selectedPallet === null" (click)="editPallet()">
			{{ 'button.edit' | translate }}
		</button>
		<button mat-raised-button color="warn" [disabled]="data.selectedPallet === null" (click)="deletePallet()">
			{{ 'button.delete' | translate }}
		</button>
		<div class="zoom-box">
			<button
				mat-fab
				color="accent"
				[disabled]="data.selectedPallet === null"
				(click)="scale(0.05)"
				style="margin-right: 16px;"
			>
				<mat-icon>zoom_in</mat-icon>
			</button>
			<button mat-fab color="accent" [disabled]="data.selectedPallet === null" (click)="scale(-0.05)">
				<mat-icon>zoom_out</mat-icon>
			</button>
		</div>
	</div>
	<div
		class="canvas-wrapper"
		#palletContainer
		[style.background-image]="data.selectedPallet ? 'none' : 'url(' + palletBgImgUrl + ')'"
	>
		<canvas #palletPreview width="{{ 800 }}" height="{{ 800 }}"></canvas>
		<div *ngIf="abnormalItemCount" class="error-message">
			{{ 'pallets.err_item_count' | translate }}
		</div>
	</div>
</div>
