:host {
  overflow: hidden;
}
.wrapper {
  display: flex;
  flex: 1;
  overflow: hidden;
}
.side-menu {
  display: flex;
  flex-direction: column;
  padding: 16px;
  z-index: 1;
}
.canvas-wrapper {
  flex: 1;
  overflow: hidden;
  position: relative;
  /* background: url('../../../../../assets/pics/pallet/servotronix_pallet.jpg'); */
  background-size: cover;
}
button {
  margin-top: 8px;
}
.btn-add {
  border-radius: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 24px;
}
.btn-add mat-icon {
  font-size: 36px;
  width: 36px;
  height: 36px;
  align-self: flex-start;
  margin-right: 16px;
}
.zoom-box {
  position: absolute;
  bottom: 16px;
  right: 16px;
  display: flex;
  z-index: 1;
}
.error-message {
  background: #b71c1c;
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
pallet-wizard {
  overflow: auto;
  flex: 1;
}
