.full {
  border-collapse: collapse;
}
.full thead {
  font-weight: 500;
}
.full input {
  border: 0;
  outline: 0;
  border-bottom: 1px solid #ccc;
  max-width: 75px;
}
.full tr td:first-child {
  padding-right: 8px;
}
.title {
  font-size: 18px;
  font-weight: bold;
}
.title span {
  flex: 1;
}
.name {
  font-size: 14px;
  width: calc(100% - 48px);
  margin: 0 8px -16px 0;
}
:host-context(.cs-dark) .full input {
  background-color: #424242;
  color: #fff;
}
