.wrapper {
  height: 100%;
}
mat-tree { flex: 1; }
mat-nested-tree-node, mat-tree-node {
  min-height: auto;
  font-size: 14px;
  font-weight: 500;
}
.selected { background: #E0F2F1; }
ul,li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  flex: 1;
}
ul, .leaf { padding-left: 16px; }
li > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.allow-add {
  flex: 1;
  width: auto;
  text-align: left;
}
mat-icon { margin-right: 4px;}