.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  padding: 24px;
  box-sizing: border-box;
}
h1 {
  font-weight: bold;
  font-size: 36px;
}
mat-progress-bar {
  margin-bottom: 8px;
}
h3 {
  font-size: 24px;
  margin-bottom: 8px;
}
.info {
  flex: 1;
  display: flex;
  flex-direction: row;
  border-radius: 6px;
}
.info-main {
  padding: 24px;
  box-sizing: border-box;
  flex: 1;
  min-width: 200px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}
.info-main h3 {
  flex: 1;
  padding: 16px;
  -webkit-box-shadow: inset 2px 2px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 2px 2px 4px 0px rgba(0,0,0,0.75);
  box-shadow: inset 2px 2px 4px 0px rgba(0,0,0,0.75);
  background: #fff;
  color: #222;
  font-size: 24px;
  line-height: 1.5;
}
.info-main img {
  width: 100%;
}
.image-container {
  width: 100%;
  align-self: flex-end;
  flex: 1;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: background-image 1s ease-in-out;
  background-color: #fff;
  border-width: 16px 16px 16px 0;
  border-style: solid;
  box-sizing: border-box;
}
.image-container div {
  width: 100%;
  align-self: flex-end;
  flex: 1;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: background-image 1s ease-in-out;
  -webkit-box-shadow: inset 2px 2px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 2px 2px 4px 0px rgba(0,0,0,0.75);
  box-shadow: inset 2px 2px 4px 0px rgba(0,0,0,0.75);
}
.title {
  font-size: 24px;
  line-height: 2;
  font-weight: bold;
}
.title mat-icon {
  margin-right: 8px;
}