<form class="main mat-typography" (ngSubmit)="insert()" [formGroup]="dialogForm">
	<div class="wrapper">
		<div class="title">{{ 'projectCommands.while.title' | translate }}</div>
		<div class="content">
			<!-- <mat-form-field>
				<input
					matInput
					placeholder="{{ 'projectCommands.while.condition' | translate }}"
					formControlName="expression"
					type="text"
					virtualKeyboard
					ktype="text"
				/>
            </mat-form-field> -->
            <custom-key-board type="string" placeHolder="{{ 'projectCommands.while.condition' | translate }}"
                 [value]="dialogForm.controls.expression.value"
                (valueChange)="change($event)" (blurEvent)="change($event)"
            ></custom-key-board>
		</div>
	</div>
	<div class="actions">
		<button mat-button mat-dialog-close>
			{{ 'button.cancel' | translate }}
		</button>
		<button mat-raised-button color="primary" type="submit" [disabled]="dialogForm.invalid">
			{{ 'button.insert' | translate }}
		</button>
	</div>
</form>
