<div class="wrapper">
  <h1>I/O Mapping</h1>
  <split direction="horizontal">
    <split-area size="15">
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node">
          <li class="mat-tree-node child-node" (click)="selectNode(node)">
            {{node.name}}
          </li>
        </mat-tree-node>
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasNestedChild">
          <li>
            <div class="mat-tree-node module-node" matTreeNodeToggle>
              <mat-icon>
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
              {{node.name}}
            </div>
            <ul [class.invisible]="!treeControl.isExpanded(node)">
              <ng-container matTreeNodeOutlet></ng-container>
            </ul>
          </li>
        </mat-nested-tree-node>
      </mat-tree>
    </split-area>
    <split-area size="85" style="display: flex;">
      <div *ngIf="activeModule" class="io-table-wrapper">
        <h2>{{activeModule.io.name + ' > ' + (activeModule.showInputs ? 'Inputs' : 'Outputs')}}</h2>
        <div class="io-table mat-elevation-z3">
          <table>
            <thead class="mat-subtitle-color">
              <tr>
                <td>Id</td>
                <td>Value</td>
                <td>Name</td>
                <td>Description</td>
                <td>Simulated</td>
              </tr>
            </thead>
            <tbody *ngIf="activeModule.showInputs">
              <tr *ngFor="let io of activeModule.io.inputs" [class.invalid]="!io.valid">
                <td>{{io.id}}</td>
                <td>
                  <mat-slide-toggle color="primary" [checked]="io.value" [disabled]="!io.simulated" (change)="toggleValue($event,io)"></mat-slide-toggle>
                </td>
                <td>
                  <mat-form-field>
                    <input type="text" matInput [value]="io.name" (change)="updateName($event,io)" maxlength="32" [disabled]="prj.activeProject">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <input type="text" matInput [value]="io.description" (change)="updateDescription($event,io)" maxlength="80" [disabled]="prj.activeProject">
                  </mat-form-field>
                </td>
                <td style="text-align: center;">
                  <mat-checkbox color="accent" [checked]="io.simulated" [disabled]="io.id<24" (change)="toggleSimulated($event,io)" matTooltip="System IOs are always simulated" [matTooltipDisabled]="io.id>23"></mat-checkbox>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="!activeModule.showInputs">
              <tr *ngFor="let io of activeModule.io.outputs">
                <td>{{io.id}}</td>
                <td>
                  <mat-slide-toggle color="primary" [checked]="io.value" (change)="toggleValue($event,io)"></mat-slide-toggle>
                </td>
                <td>
                  <mat-form-field>
                    <input type="text" matInput [value]="io.name" (change)="updateName($event,io)" maxlength="32" [disabled]="prj.activeProject">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <input type="text" matInput [value]="io.description" (change)="updateDescription($event,io)" maxlength="80" [disabled]="prj.activeProject">
                  </mat-form-field>
                </td>
                <td style="text-align: center;">
                  <mat-checkbox color="accent" [checked]="io.simulated" [disabled]="io.id<24" (change)="toggleSimulated($event,io)" matTooltip="System IOs are always simulated" [matTooltipDisabled]="io.id>23"></mat-checkbox>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </split-area>
  </split>
</div>