table {
  font-size: 20px;
  width: 100%;
  height: 100%;
}

table tr td:nth-child(odd) {
  font-weight: bold;
}

table tr td:nth-child(n+3) {
  text-align: right;
}

.wrapper {
  padding: 1em;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}