<div class="mat-typography">
	<div class="title mat-elevation-z1">
		<mat-icon>create_new_folder</mat-icon>&nbsp;&nbsp;{{ 'projects.open' | translate }}
	</div>
	<div class="name-wrapper">
		<mat-form-field>
			<mat-select placeholder="{{ 'projects.select' | translate }}" [(ngModel)]="project">
				<mat-option *ngFor="let p of projects" [value]="p">
					{{ p }}
				</mat-option>
			</mat-select>
		</mat-form-field>
		<div class="center-vertical" style="color:red;">
			<mat-icon>warning</mat-icon>
			{{ 'projects.warning' | translate }}
		</div>
	</div>
	<div class="actions">
		<button mat-button mat-dialog-close>
			{{ 'button.cancel' | translate }}
		</button>
		<button mat-raised-button color="primary" (click)="open()" [disabled]="!project">
			{{ 'button.open' | translate }}
		</button>
	</div>
</div>
