<div #editor style="width: 100%; height: 100%;"></div>
<div class="overlay" *ngIf="service.activeFile === null || (service.status && service.status.statusCode !== -1)"></div>
<xml #toolbox style="display: none">
  <category name="Logic">
    <category name="Program">
      <block type="block_program"></block>
      <block type="block_sub"></block>
      <block type="block_call"></block>
      <block type="block_print"></block>
    </category>
    <category name="Variables">
      <button text="Create Variable..." callbackKey="createVar"></button>
      <block type="block_newvar"></block>
      <block type="block_var_val"></block>
      <label text="Value Types:"></label>
      <block type="block_val_joint"></block>
      <block type="block_val_location"></block>
      <block type="block_val_custom"></block>
    </category>
    <category name="If">
      <block type="block_if"></block>
    </category>
    <category name="Loops">
      <block type="block_for"></block>
      <block type="block_while"></block>
    </category>
    <category name="Wait">
      <block type="block_sleep"></block>
    </category>
  </category>
  <category name="Motion">
    <category name="Commands">
      <block type="block_enable"></block>
      <block type="block_disable"></block>
      <block type="block_move_var"></block>
      <block type="block_move"></block>
      <block type="block_circle_around"></block>
    </category>
    <category name="Optional">
      <label text="Move Options"></label>
      <block type="block_move_Velocity"></block>
      <block type="block_move_Acceleration"></block>
      <block type="block_move_Deceleration"></block>
      <label text="Circle Options"></label>
      <block type="block_circle_Vtran"></block>
      <block type="block_circle_Vrot"></block>
      <block type="block_circle_Atran"></block>
      <block type="block_circle_Dtran"></block>
      <block type="block_circle_Arot"></block>
      <block type="block_circle_Drot"></block>
    </category>
  </category>
</xml>