<div class="wrapper mat-typography" #container id="container" [class.tablet-ui]="cmn.isTablet">
	<div [class.hidden]="!isRouterLoading" class="spinner mat-elevation-z6">
		<img src="assets/pics/{{ env.platform.spinner }}" />
	</div>
	<button id="btnToggleToolbar" mat-mini-fab color="primary" (click)="toggleToolbar()" class="toolbar-fab" *ngIf="!toolbarShown && !cmn.isTablet" @fadeSimple matTooltip="{{'app_bar.toolbar_expand' | translate}}">
		<mat-icon>expand_more</mat-icon>
	</button>
	<mat-toolbar [class.contracted]="!toolbarShown" class="mat-elevation-z3" [color]="(stat.systemErrorCode < 0 || screenManager.debugMode) ? 'warn' : 'primary'"
		[class.primary-bg-dark]="stat.systemErrorCode >= 0">
    <div class="hidden-menu" *ngIf="allowHiddenMenu && !screenManager.debugMode" [class.visible]="hiddenMenuVisible" (click)="closeHiddenMenu()">
			<button
				id="btnToggleRecording"
        mat-mini-fab
        class="rec-button"
        [disabled]="login.isViewer || !data.dataLoaded.value"
        [class.recording]="rec.recording"
        color="accent"
        (click)="rec.toggle()"
        matTooltip="{{ (rec.recording ? 'simulator_screen.stop' : 'simulator_screen.record') | translate }}"
      >
        <mat-icon>{{ rec.recording ? 'stop' : 'fiber_manual_record' }}</mat-icon>
      </button>
      <button id="btnToggleWatch" mat-mini-fab matTooltip="{{ 'watch.title' | translate }}" (click)="watch.toggleWindow(); onWatchToggle();" tourAnchor="watch">
        <mat-icon>update</mat-icon>
      </button>
			<button
        mat-mini-fab
        matTooltip="{{ 'simulator' | translate }}"
        (click)="toggleSimulator()"
        [disabled]="!cooService.coosLoaded.value || !sim.shouldShowSimulator || (screenManager.screen && screenManager.screen.url === 'simulator')"
      >
        <mat-icon>3d_rotation</mat-icon>
      </button>
    </div>
    <div class="toolbar-wrapper">
      <button mat-icon-button class="btn-big" (click)="toggleMenu()" tourAnchor="menuToggle" matTooltip="{{'app_bar.menu_toggle' | translate}}">
        <mat-icon>menu</mat-icon>
			</button>
			<button mat-icon-button class="btn-big" (click)="toggleToolbar()" *ngIf="!cmn.isTablet" matTooltip="{{'app_bar.toolbar_contract' | translate}}">
        <mat-icon>expand_less</mat-icon>
      </button>
      <div class="center-vertical main-header">
        <img src="assets/pics/{{ env.platform.logo }}" class="stx-logo" />
      </div>
      <mat-icon *ngIf="stat.systemErrorCode < 0" [matTooltip]="'Error ' + stat.systemErrorCode">warning</mat-icon>
      <div class="remote" *ngIf="!cmn.isTablet && stat.mode === 'R'">
        <mat-icon>settings_remote</mat-icon>
        {{ 'mode_remote' | translate }}
      </div>
      <div class="remote" *ngIf="screenManager.debugMode">
        <mat-icon>bug_report</mat-icon>
        {{ 'mode_debug' | translate }}
        <button mat-button (click)="quitDebugMode()"><mat-icon>close</mat-icon></button>
      </div>
		<mat-icon color="accent" *ngIf="ws.otherClients > 0" [matTooltip]="ws.otherClients + ' Other connections are active'">warning</mat-icon>
		<button mat-raised-button *ngIf="tpOnline && stat.mode && cmn.isTablet" class="mode-selector" [disabled]="login.isViewer" (click)="utils.changeMode()">
			{{ stat.mode === 'None' ? '--' : stat.modeCorrected }}
		</button>
		<mat-slide-toggle *ngIf="!login.isViewer && data.dataLoaded.value && !data.simulatedSystem" color="accent"
			[checked]="data.simulated" (change)="data.toggleSimulated($event)">{{ 'simulative' | translate }}
		</mat-slide-toggle>
		<div matTooltip="{{'safety.en_tooltip' | translate}}" [matTooltipDisabled]="!stat.wack">
			<button
				id="main-power-btn"
				mat-mini-fab
				[disabled]="login.isViewer || !stat.onlineStatus.value || stat.wack"
				color="warn"
				[class.indicator-on]="stat.enabled"
				[class.wack]="stat.wack"
				(click)="stat.toggleEnabled()"
				*ngIf="!screenManager.debugMode"
				matTooltip="{{ 'enable' | translate }}/{{ 'disable' | translate }} {{ data.selectedRobot }}">
				<mat-icon>power_settings_new</mat-icon>
			</button>
		</div>
      <button
        *ngIf="!allowHiddenMenu && !screenManager.debugMode"
        mat-mini-fab
        class="rec-button"
        [disabled]="login.isViewer || !data.dataLoaded.value"
        [class.recording]="rec.recording"
        color="accent"
        (click)="rec.toggle()"
        matTooltip="{{ (rec.recording ? 'simulator_screen.stop' : 'simulator_screen.record') | translate }}"
      >
        <mat-icon>{{ rec.recording ? 'stop' : 'fiber_manual_record' }}</mat-icon>
      </button>
      <div [matTooltip]="jogTooltip" *ngIf="!screenManager.debugMode">
        <button
        mat-mini-fab
        *ngIf="!login.isViewer"
          (click)="screenManager.toggleControls()"
          [disabled]="
            !tpOnline ||
            prj.activeProject ||
            !cooService.coosLoaded.value ||
            (cmn.isTablet && stat.mode !== 'T1' && stat.mode !== 'T2')
				" tourAnchor="jog-controls">
          <mat-icon>touch_app</mat-icon>
        </button>
      </div>
      <button mat-mini-fab matTooltip="{{ 'watch.title' | translate }}" (click)="watch.toggleWindow(); onWatchToggle();" tourAnchor="watch" *ngIf="!allowHiddenMenu && !screenManager.debugMode">
        <mat-icon>update</mat-icon>
      </button>
			<button
				id="btnToggleSimulator"
				tourAnchor="btnToggleSimulator"
        mat-mini-fab
        matTooltip="{{ 'simulator' | translate }}"
        (click)="toggleSimulator()"
        [disabled]="!cooService.coosLoaded.value || !sim.shouldShowSimulator || (screenManager.screen && screenManager.screen.url === 'simulator')"
        *ngIf="!allowHiddenMenu && !screenManager.debugMode"
      >
        <mat-icon>3d_rotation</mat-icon>
      </button>
			<button mat-mini-fab matTooltip="{{ 'message_log' | translate }}" (click)="notification.toggleWindow(); onNotificationToggle();"
				[matBadge]="notification.count | async" matBadgePosition="below after" matBadgeColor="warn"
				tourAnchor="message-log-button" [disabled]="!notification.windowOpen && notification.messagesShowing">
					<mat-icon>notifications</mat-icon>
      </button>
      <button *ngIf="login.isAdmin" mat-mini-fab matTooltip="{{ 'terminal' | translate }}" (click)="toggleTerminal()">
        <mat-icon>featured_play_list</mat-icon>
      </button>
      <button *ngIf="allowHiddenMenu && !screenManager.debugMode" mat-mini-fab (click)="toggleHiddenMenu()" [class.button-dark]="hiddenMenuVisible">
        <mat-icon>{{ hiddenMenuVisible ? 'close' : 'more_vert' }}</mat-icon>
      </button>
      <button mat-mini-fab color="warn" (click)="login.logout()" matTooltip="{{ 'button.logout' | translate }}" id="btnLogout">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>
	</mat-toolbar>
	<mat-progress-bar color="accent" mode="indeterminate"
		*ngIf="stat.systemErrorCode >= 0 && stat.systemErrorCode !== 1000"></mat-progress-bar>
	<mat-sidenav-container autosize class="mat-typography">
		<mat-sidenav
			#drawer
			[mode]="!cmn.isTablet ? 'side' : 'over'"
			[opened]="!cmn.isTablet"
			class="mat-elevation-z1"
			[class.contracted]="!toolbarShown"
		>
			<main-menu [drawer]="drawer" [class.menu-small]="!screenManager.menuExpanded"></main-menu>
		</mat-sidenav>
		<mat-sidenav-content>
			<div style="flex: 1; display: flex; width: 100%;">
				<div style="flex:1; overflow-x: hidden;" tourAnchor="main-content">
					<router-outlet></router-outlet>
				</div>
				<mat-card class="emulator-settings" [class.open]="screenManager.openedControls | async" style="flex:1;">
					<div class="center-vertical" style="margin-bottom: 8px;">
						<button
							*ngIf="!login.isViewer"
							mat-mini-fab
							color="primary"
							(click)="openJogSettings()"
							matTooltip="{{ 'dialogs.jogSettings' | translate }}">
							<mat-icon>settings</mat-icon>
						</button>
						<h2>{{ 'main.jogControls' | translate }}</h2>
						<button mat-icon-button (click)="closeJog()" color="primary">
							<mat-icon>close</mat-icon>
						</button>
					</div>
					<div class="center-vertical" *ngIf="data.selectedRobot">
						<div matTooltip="{{'safety.en_tooltip' | translate}}" [matTooltipDisabled]="!stat.wack">
							<button
								mat-mini-fab
								color="warn"
								[class.wack] = "stat.wack"
								[class.indicator-on]="stat.enabled"
								(click)="stat.toggleEnabled()"
								matTooltip="{{ 'enable' | translate }}/{{ 'disable' | translate }} {{ data.selectedRobot }}"
								style="margin-right: 16px;"
								[disabled]="login.isViewer || !stat.onlineStatus.value || stat.wack"
							>
								<mat-icon>power_settings_new</mat-icon>
							</button>
						</div>
						{{ data.selectedRobot }}
					</div>
					<div *ngIf="data.selectedRobot === null">
						{{ 'main.no_robot' | translate }}
					</div>
					<mat-card-content style="margin-top: 8px;" *ngIf="stat.enabled" @fadeSimple>
						<div class="jog-table-container mat-elevation-z5" id="jog-container">
							<table
								class="jog-table"
								*ngIf="(cooService.axisCoordinate === null && cooService.jointKeys) || cooService.locationKeys"
							>
								<tr
									*ngFor="
										let legend of data.selectedFrame === 'JOINT'
											? cooService.jointKeys.split(',')
											: cooService.locationKeys.split(',');
										let i = index
									">
									<td (mouseout)="mouseUp($event)" (mouseup)="mouseUp($event)">
										<button mat-fab color="primary" (mousedown)="mouseDown(-(i + 1), $event)"
											(mouseup)="mouseUp($event)" (touchstart)="mouseDown(-(i + 1), $event)"
											(touchend)="mouseUp($event)">
											<mat-icon>remove</mat-icon>
										</button>
									</td>
									<td>
										<div>{{ legend }}</div>
										<div class="{{ cmn.isTablet ? 'coordinate-tab' : 'coordinate' }}">
											J{{ i + 1 }}: {{ cooService.joints[i].value }}
										</div>
										<div class="{{ cmn.isTablet ? 'coordinate-tab' : 'coordinate' }}">
											{{ cooService.locations[i].key }}:<br *ngIf="cooService.locations[i].key.length > 1">
											{{ cooService.locations[i].value }}
										</div>
									</td>
									<td (mouseout)="mouseUp($event)" (mouseup)="mouseUp($event)">
										<button mat-fab color="primary" (mousedown)="mouseDown(i + 1, $event)"
											(mouseup)="mouseUp($event)" (touchstart)="mouseDown(i + 1, $event)"
											(touchend)="mouseUp($event)">
											<mat-icon>add</mat-icon>
										</button>
									</td>
								</tr>
							</table>

							<table class="jog-table" *ngIf="cooService.axisCoordinate">
								<tr>
									<td (mouseout)="mouseUp($event)">
										<button mat-fab color="primary" (mousedown)="mouseDown(-1, $event)"
											(mouseup)="mouseUp($event)" (touchstart)="mouseDown(-1, $event)"
											(touchend)="mouseUp($event)">
											<mat-icon>remove</mat-icon>
										</button>
									</td>
                  <td>
                    <div>{{ data.selectedRobot }}</div>
										<div class="{{ cmn.isTablet ? 'coordinate-tab' : 'coordinate' }}">
											{{ cooService.axisCoordinate.value }}
										</div>
                  </td>
									<td (mouseout)="mouseUp($event)">
										<button mat-fab color="primary" (mousedown)="mouseDown(1, $event)"
											(mouseup)="mouseUp($event)" (touchstart)="mouseDown(1, $event)"
											(touchend)="mouseUp($event)">
											<mat-icon>add</mat-icon>
										</button>
									</td>
								</tr>
							</table>
						</div>
					</mat-card-content>
				</mat-card>
			</div>
		</mat-sidenav-content>
	</mat-sidenav-container>
  <div class="footer center-vertical-horizontal warn-bg" *ngIf="stat.estop">
    <mat-icon>warning</mat-icon> {{ 'error.estop' | translate }}
  </div>
	<div
		#notificationWindow
		*ngIf="notification.windowOpen"
		class="window window-large mat-elevation-z6"
		ngDraggable
		ngResizable
		rzMinWidth="240"
		rzMinHeight="160"
		rzContainment="#container"
		[bounds]="container"
		inBounds="true"
		[handle]="handleNotifications"
		(started)="onWindowMoving(notificationWindow)"
		(stopped)="saveFloatingWindowsConfiguration()"
		(rzStop)="saveFloatingWindowsConfiguration()"
	>
		<div class="title primary-bg" #handleNotifications>
			<span>{{ 'message_log' | translate }}</span>
			<button mat-icon-button color="accent" (click)="notification.toggleWindow(); onNotificationToggle();">
				<mat-icon>close</mat-icon>
			</button>
		</div>
		<message-log></message-log>
	</div>
	<div 
			#watchWindow
			(started)="onWindowMoving(watchWindow)"
			(stopped)="saveFloatingWindowsConfiguration()"
			(rzStop)="saveFloatingWindowsConfiguration()"
			*ngIf="watch.windowOpen"
			class="window mat-elevation-z6"
			ngDraggable
			ngResizable
			rzMinWidth="500"
			rzMinHeight="180"
			[bounds]="container"
			inBounds="true"
			[handle]="handleWatch">
		<div class="title primary-bg" #handleWatch>
			<span>{{ 'watch.title' | translate }}</span>
			<button mat-icon-button style="color: #fff;" (click)="watch.toggleWindow(); onWatchToggle();">
				<mat-icon>close</mat-icon>
			</button>
		</div>
		<watch-window></watch-window>
	</div>
	<div 
			#terminalWindow
			(started)="onWindowMoving(terminalWindow)"
			(stopped)="saveFloatingWindowsConfiguration()"
			*ngIf="terminalOpen"
			class="window window-large mat-elevation-z6"
			style="left: 20%; top: 20%"
			ngDraggable
			ngResizable
			rzContainment="#container"
			rzMinWidth="240"
			rzMinHeight="200"
			[bounds]="container"
			inBounds="true"
			(rzStop)="terminal.resizeRequired.emit(); saveFloatingWindowsConfiguration();"
			[handle]="handleTerminal">
		<div class="title primary-bg" #handleTerminal>
			<span>{{ 'terminal' | translate }}</span>
			<button mat-icon-button color="accent" (click)="terminalOpen = false">
				<mat-icon>close</mat-icon>
			</button>
		</div>
		<terminal-window></terminal-window>
	</div>
	<div
		#simWindow
		tourAnchor="simWindow"
		(started)="onWindowMoving(simWindow)"
		(stopped)="saveFloatingWindowsConfiguration()"
		*ngIf="simOpen && screenManager.screen && screenManager.screen.url !== 'simulator' && data.isRobotType"
		class="window window-sim mat-elevation-z6"
		style="left: 20%; top: 20%"
		ngDraggable
		ngResizable
		rzMinWidth="370"
		rzMinHeight="150"
		rzContainment="#container"
		[bounds]="container"
		inBounds="true"
		[handle]="handleSim"
		(rzStart)="resizing=true"
		(rzStop)="resizing=false; saveFloatingWindowsConfiguration()"
		[class.demoSim]="tour.getStatus() !== 0"
		[style.background] = "resizing ? sim.bgColor : auto"
	>
		<div class="sim-wrapper">
			<div class="title primary-bg" #handleSim>
				<span>{{ 'simulator' | translate }}</span>
				<mat-slide-toggle color="accent" style="margin-right: 16px;" [(ngModel)]="sim.showTrace" [disabled]="!simLoaded || !sim.shouldShowSimulator">{{'simulator_screen.trace' | translate}}</mat-slide-toggle>
				<button mat-icon-button color="accent" (click)="toggleSimulator()">
					<mat-icon>close</mat-icon>
				</button>
			</div>
			<lib-app-simulator
				*ngIf="robot.selectedRobot"
				[debug]="false"
				[backgroundColor]="sim.bgColor"
				[traceColor]="sim.traceColor"
				#simulator
				[trace]="sim.showTrace"
				[roboturl]="robot.get3DModelPath(robot.selectedRobot.part_number)"
				[jntValues]="cooService.jointsAsArr"
				(onload)="simLoaded = true"
				[class.simResize] = "resizing"
			></lib-app-simulator>
			<div [class.hidden]="simLoaded" class="spinner mat-elevation-z6">
				<img src="assets/pics/{{ env.platform.spinner }}" />
			</div>
		</div>
	</div>
</div>
