.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.spinner {
  position: absolute;
  z-index: 9999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 48px;
  background: #fff;
  border-radius: 6px;
}
mat-toolbar { z-index: 2; }
mat-toolbar span { flex: 1; }
mat-toolbar button, mat-toolbar > mat-icon { margin-right: 16px; }
mat-sidenav-container {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
mat-sidenav-content {
  display: flex;
  flex-direction: row;
}
mat-sidenav { background-color: #eee; }
login-screen { flex: 1; }
.badge {
  border-radius: 50%;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 0;
  bottom: -10px;
  font-size: 12px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.window .title { 
  display: flex;
  align-items: center;
  font-size: 24px;
  padding: 16px;
  cursor: move;
  box-sizing: border-box;
  min-height: 60px;
}
.window .title span { flex: 1; }
watch-window, notification-window, terminal-window {
  flex: 1;
  display: flex;
}
watch-window {
  max-width: 450px;
  min-height: 0;
  width: auto;
}
.window {
  position: absolute;
  z-index: 5;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  top: 25%;
  left: 25%;
  background: #fff;
  min-height: 100px;
}
.window-large {
  width: 50%;
  height: 250px;
}
.hidden { visibility: hidden; }
.emulator-settings { 
  box-sizing: border-box;
  transition: max-width 200ms ease-in;
  max-width: 0;
  padding: 0;
  overflow: hidden;
  z-index: 11;
}
.emulator-settings.open {
  padding: 16px 24px;
  max-width: 250px;
}
.emulator-settings h2 { 
  margin: 0 0 0 16px;
  font-size: 18px;
}
.emulator-settings mat-form-field { width: 100%; margin-top: 1em;}
.jog-table-container { 
  background: #111;
  border-radius: 6px;
  height: 470px;
}
.jog-table { 
  font-size: 2em;
  font-weight: bold;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  margin-top: 0.5em;
  table-layout: fixed;
}
.jog-table button.active {
  -webkit-box-shadow: 0px 0px 128px 16px rgba(0,255,0,1);
  -moz-box-shadow: 0px 0px 128px 16px rgba(0,255,0,1);
  box-shadow: 0px 0px 128px 16px rgba(0,255,0,1);
}
.indicator-on { color: lime; }
coordinates {
  position: absolute;
  bottom: 8px;
  left: 8px;
  z-index: 1;
}