<div class="wrapper mat-typography" #container>
  <div [class.hidden]="!isRouterLoading" class="spinner mat-elevation-z6">
    <img src="assets/pics/logo_only.gif">
  </div>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()" tourAnchor="menu"><mat-icon>menu</mat-icon></button>
    <span class='center-vertical'>
      {{appName}}
    </span>
    <button mat-mini-fab matTooltip="Toggle Jog Controls" (click)="screenManager.toggleControls()" [disabled]="!tpOnline || prj.activeProject" tourAnchor="jog-controls"><mat-icon>touch_app</mat-icon></button>
    <button mat-mini-fab matTooltip="Watch" (click)="watch.toggleWindow()" tourAnchor="watch"><mat-icon>update</mat-icon></button>
    <button mat-mini-fab matTooltip="Message Log" (click)="notification.toggleWindow()" tourAnchor="message-log-button">
      <mat-icon>notifications</mat-icon>
      <div class="badge warn-bg mat-elevation-z3" *ngIf="notification.count > 0">{{notification.count}}</div>
    </button>
    <button mat-mini-fab matTooltip="Terminal" (click)="toggleTerminal()"><mat-icon>featured_play_list</mat-icon></button>
    <button mat-raised-button color="warn" (click)="login.logout()">LOGOUT</button>
  </mat-toolbar>
  <mat-sidenav-container class="mat-typography">
    <mat-sidenav #drawer [mode]="screenWidth >= 1024 ? 'side' : 'over'" [opened]="screenWidth >= 1024" class="mat-elevation-z6">
      <main-menu></main-menu>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="flex: 1; display: flex; width: 100%;">
        <div style="flex:1; overflow-x: hidden;">
          <router-outlet></router-outlet>
        </div>
        <mat-card class='emulator-settings' [class.open]="screenManager.openedControls" style="flex:1;">
          <div class="center-vertical" style="margin-bottom: 8px;">
            <button mat-mini-fab color="primary" (click)="openJogSettings()" matTooltip="Jog Settings">
              <mat-icon>settings</mat-icon>
            </button>
            <h2>Jog Controls</h2>
            <button mat-icon-button (click)="screenManager.toggleControls()" color="primary">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <div class="center-vertical" *ngIf="data.selectedRobot">
            <button mat-mini-fab color="primary" (click)="stat.toggleEnabled()" style="margin-right: 16px;">
              <mat-icon [ngClass]="{'indicator-on' : stat.enabled }">power_settings_new</mat-icon>
            </button>
            {{data.selectedRobot}}
          </div>
          <div *ngIf="data.selectedRobot === null">No robot is selected</div>
          <mat-card-content style="margin-top: 8px;">
            <mat-slide-toggle color="primary" [checked]="stat.jogEnabled" (change)="onJogEnableChange($event)">Enable Jogging</mat-slide-toggle>
            <div class="jog-table-container mat-elevation-z5">
              <table class="jog-table" *ngIf="cooService.axisCoordinate === null && cooService.jointKeys || cooService.locationKeys">
                <tr *ngFor="let legend of (data.selectedFrame === 'JOINT') ? cooService.jointKeys.split(',') : cooService.locationKeys.split(','); let i = index">
                  <td><button mat-fab color="primary" [class.active]="mouseDownIndex===-(i+1)" (mousedown)="mouseDown(-(i+1),$event)" (mouseup)="mouseUp($event)" (touchstart)="mouseDown(-(i+1),$event)" (touchend)="mouseUp($event)" (mouseout)="mouseUp($event)"><mat-icon>remove</mat-icon></button></td>
                  <td>{{legend}}</td>
                  <td><button mat-fab color="primary" [class.active]="mouseDownIndex===i+1" (mousedown)="mouseDown(i+1,$event)" (mouseup)="mouseUp($event)" (touchstart)="mouseDown(i+1,$event)" (touchend)="mouseUp($event)" (mouseout)="mouseUp($event)"><mat-icon>add</mat-icon></button></td>
                </tr>
              </table>
              <table class="jog-table" *ngIf="cooService.axisCoordinate">
                <tr>
                  <td><button mat-fab color="primary" [class.active]="mouseDownIndex===-1" (mousedown)="mouseDown(-1,$event)" (mouseup)="mouseUp($event)" (touchstart)="mouseDown(-1,$event)" (touchend)="mouseUp($event)" (mouseout)="mouseUp($event)"><mat-icon>remove</mat-icon></button></td>
                  <td>{{data.selectedRobot}}</td>
                  <td><button mat-fab color="primary" [class.active]="mouseDownIndex===1" (mousedown)="mouseDown(1,$event)" (mouseup)="mouseUp($event)" (touchstart)="mouseDown(1,$event)" (touchend)="mouseUp($event)" (mouseout)="mouseUp($event)"><mat-icon>add</mat-icon></button></td>
                </tr>
              </table>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <notification-window
    *ngIf="notification.windowOpen"
  ></notification-window>
  <watch-window
    *ngIf="watch.windowOpen"
    ngDraggable
    [bounds]="container"
    inBounds="true"></watch-window>
   <terminal-window
    *ngIf="terminalOpen"
    ngDraggable
    (onClose)="terminalOpen = false"
    [bounds]="container"
    inBounds="true"></terminal-window>
</div>