<div class="wrapper">
  <graphic-editor-side-menu class="mat-elevation-z1"></graphic-editor-side-menu>
  <div class="right-side">
    <div class="program-name center-vertical">
      <span>{{service.activeFile ? service.activeFile.fileName : 'No File Selected'}}</span>
      <button mat-button color="warn" (click)="service.close()" *ngIf="service.activeFile"><mat-icon>close</mat-icon></button>
    </div>
    <div class="toolbar center-vertical" [class.disabled]="service.activeFile===null">
      <mat-icon (click)="service.save()" matTooltip="Save" [matTooltipDisabled]="service.activeFile===null">save</mat-icon>
      <mat-icon (click)="service.download()" matTooltip="Download" [matTooltipDisabled]="service.activeFile===null">file_download</mat-icon>
      <div class="separator"></div>
      <img src="assets/pics/icons/load.png"  (click)="service.load()" matTooltip="Save and Load" [matTooltipDisabled]="service.activeFile===null">
      <img src="assets/pics/icons/unload.png" (click)="service.unload()" matTooltip="Unload" [matTooltipDisabled]="service.activeFile===null">
      <mat-icon (click)="service.kill()" matTooltip="Kill" [matTooltipDisabled]="service.activeFile===null">stop</mat-icon>
      <mat-icon (click)="service.run()" matTooltip="Run" [matTooltipDisabled]="service.activeFile===null">play_arrow</mat-icon>
      <mat-icon (click)="service.idle()" matTooltip="Idle" [matTooltipDisabled]="service.activeFile===null">pause</mat-icon>
      <div class="separator"></div>
      <img src="assets/pics/icons/step_over.png" (click)="service.stepOver()" matTooltip="Step Over" [matTooltipDisabled]="service.activeFile===null">
      <img src="assets/pics/icons/step_into.png" (click)="service.stepInto()" matTooltip="Step Into" [matTooltipDisabled]="service.activeFile===null">
      <img src="assets/pics/icons/step_out.png" (click)="service.stepOut()" matTooltip="Step Out" [matTooltipDisabled]="service.activeFile===null">
      <div class="separator"></div>
      <div class="status" *ngIf="service.status">Status: <span [class.primary]="service.status.statusCode === taskStates[1]" [class.warn]="service.status.statusCode === taskStates[0] || service.status.statusCode === taskStates[3]">{{service.status.name}}</span></div>
    </div>
    <blockly></blockly>
    <div class="notifications">{{service.errors || 'No Notifications'}}</div>
  </div>
</div>