.vords {
  display: grid;
  grid-template-columns: 50px 150px 250px;
  place-items: baseline;
}
.vord { width: 100%; }
.title { font-weight: bold; }
.original.disabled {
  text-decoration: line-through;
}