<div
  class="wrapper virtual-keyboard tablet-ui mat-typography"
  cdkDrag
  cdkDragRootElement=".cdk-overlay-pane"
  cdkDragBoundary="body"
>
  <h2 mat-dialog-title class="mat-toolbar  mat-elevation-z3" cdkDragHandle>
    <mat-icon class="openWith">open_with</mat-icon>
    <mat-icon (click)="close()" class="close">close</mat-icon>
  </h2>
  <mat-dialog-content>
    <custom-key-board
      class="customKeyBoard"
      #customKeyBoard
      [(value)]="dialogData.value"
      [type]="dialogData.type"
      [min]="dialogData.min"
      [max]="dialogData.max"
      [leftClosedInterval]="dialogData.leftClosedInterval"
      [rightClosedInterval]="dialogData.rightClosedInterval"
      [required]="dialogData.required"
      [requiredErrMsg]="dialogData.requiredErrMsg"
      [disabled]="dialogData.disabled"
      [label]="dialogData.label"
      [matLabel]="dialogData.matLabel"
      [placeHolder]="dialogData.placeHolder"
      [minLength]="dialogData.minLength"
      [maxLength]="dialogData.maxLength"
      [firstLetter]="dialogData.firstLetter"
      [nameRules]="dialogData.nameRules"
      [existNameList]="dialogData.existNameList"
      [password]="dialogData.password"
      [isCommand]="dialogData.isCommand"
      [reserved]="dialogData.reserved"
      [fullName]="dialogData.fullName"
      [confirmPassword]="dialogData.confirmPassword"
      [letterAndNumber]="dialogData.letterAndNumber"
      [precision]="dialogData.precision"
      [isProgram]="dialogData.isProgram"
      [outSideValidators]="dialogData.outSideValidators"
      [isUserName]="dialogData.isUserName"
      [showPlaceHolderOnlyDialog]="dialogData.showPlaceHolderOnlyDialog"
      keyBoardDialog="true"
      (onLineDelete)="onLineDelete()"
    >
    </custom-key-board>
    <div class="btnBox" *ngIf="keyBoardType === 'int' || keyBoardType === 'float'">
      <div *ngFor="let keyboard of layout" class="key-row">
        <button
          mat-raised-button
          *ngFor="let item of keyboard"
          [value]="item"
          (touchstart)="touchstart($event, item)"
          (touchend)="touchend()"
          [ngClass]="{
            darkBtn:
              item == '.' ||
              item == '-' ||
              item == InputTypes.Delete ||
              item == InputTypes.Left ||
              item == InputTypes.Right,
            enter: item === InputTypes.Enter,
            btnSmall:
              item == '.' ||
              item == '-' ||
              item == InputTypes.Left ||
              item == InputTypes.Right ||
              item == InputTypes.Delete ||
              item === InputTypes.Enter,
            pointerDisable:
              (dialogData.isPositiveNum && item === '-') ||
              ((dialogData.type === 'int' ||
                (customKeyBoard &&
                  customKeyBoard.getValue &&
                  customKeyBoard.getValue().indexOf('.') > -1)) &&
                dialogData.type !== 'string' &&
                item === '.') ||
              (customKeyBoard &&
                customKeyBoard.getValid &&
                !customKeyBoard.getValid() &&
                item === InputTypes.Enter) ||
                (customKeyBoard && customKeyBoard.getValue && (customKeyBoard.getValue() == '-') && item === InputTypes.Enter) ||
                (getNegativeDisabled &&  item === '-')
          }"
          [disabled]="
            (dialogData.isPositiveNum && item === '-') ||
            ((dialogData.type === 'int' ||
              (customKeyBoard &&
                customKeyBoard.getValue &&
                customKeyBoard.getValue().indexOf('.') > -1)) &&
              dialogData.type !== 'string' &&
              item === '.') ||
            (customKeyBoard &&
              customKeyBoard.getValid &&
              !customKeyBoard.getValid() &&
              item === InputTypes.Enter) ||
            (customKeyBoard && customKeyBoard.getValue && (customKeyBoard.getValue() == '-') && item === InputTypes.Enter) ||
            (getNegativeDisabled &&  item === '-')
          "
        >
          <span *ngIf="item.length <= 1 || item == InputTypes.Enter">{{
            item
          }}</span>
          <mat-icon *ngIf="item.length > 1 && item !== InputTypes.Enter">{{
            item
          }}</mat-icon>
        </button>
      </div>
    </div>
    <div class="btnBox" *ngIf="keyBoardType === 'string'">
        <div *ngFor="let keyboard of layout;" class="key-row">
            <button
                mat-raised-button
                *ngFor="let item of keyboard;"
                [value]="item"
                (touchstart)="touchstart($event, item)"
                (touchend)="touchend()"
                [ngClass]="{
                stringWidth: dialogData.type === 'string',
                darkBtn:
                    item == InputTypes.Delete ||
                    item == InputTypes.Left ||
                    item == InputTypes.Right ||
                    item == InputTypes.Top ||
                    item == InputTypes.Bottom ||
                    item == InputTypes.Symbol,
                enterString: item === InputTypes.Enter,
                caseConversion: item === InputTypes.Forward && caseConversion,
                marginLeft2: item === 'A' || item === 'a' || item === '~',
                space: item === ' ',
                heightHalf: item === InputTypes.Top || item === InputTypes.Bottom,
                marginInputTypesTop: item === InputTypes.Top,
                marginInputTypesBottom: item === InputTypes.Bottom,
                pointerDisable:
                    (customKeyBoard && customKeyBoard.getValid && !customKeyBoard.getValid() && item === InputTypes.Enter) ||
                    (!dialogData.isCommand && (item === InputTypes.Top || item === InputTypes.Bottom))
                }"
                [disabled]="
                    (customKeyBoard && customKeyBoard.getValid && !customKeyBoard.getValid() && item === InputTypes.Enter) ||
                    (!dialogData.isCommand && (item === InputTypes.Top || item === InputTypes.Bottom))"
                >
                <span *ngIf="item.length <= 1 || item == InputTypes.Enter">
                    {{item}}
                </span>
                <span *ngIf="item === InputTypes.Symbol || item === InputTypes.Back">
                    {{item | translate}}
                </span>
                <mat-icon *ngIf="item.length > 1 && item !== InputTypes.Enter && item !== InputTypes.Symbol && item !== InputTypes.Back"
                    [ngClass]="{
                        rotate: item === InputTypes.Forward
                    }">
                    {{item}}
                </mat-icon>
            </button>
        </div>
    </div>
    <div class="bottom-bar"></div>
  </mat-dialog-content>
</div>

