.tree-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  overflow: hidden;
}
mat-tree,
.search {
  margin: 0 16px;
}
mat-tree {
  flex: 1;
  overflow: auto;
}
mat-nested-tree-node,
mat-tree-node {
  min-height: auto;
}
mat-nested-tree-node.disabled *,
mat-tree-node.disabled * {
  color: #9e9e9e;
  cursor: not-allowed;
}
::ng-deep .tree-wrapper .mat-form-field-flex {
  align-items: center !important;
}
::ng-deep .tree-wrapper .mat-form-field-infix {
  border: 0;
}
.selected:not(.disabled) {
  background: #e0f2f1 !important;
}
.invisible {
  display: none;
}
ul,
li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  flex: 1;
}
ul,
.leaf {
  padding-left: 16px;
}
li > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
li > div:hover,
.file-list > div:hover {
  background: #eee;
}
mat-icon {
  margin-right: 4px;
}
.menu {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 11;
  background: #fff;
  font-size: 16px;
}
.menu .mat-button {
  text-align: left;
}
.menu > div {
  flex-direction: column;
  display: flex;
}
.menu-backdrop {
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.menu-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.checkbox_en {
  margin-left: 8px;
}
.search-line {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 24px;
}
.search-file {
  font-weight: bold;
  margin-right: 8px;
}

.search-path {
  font-size: 11px;
  font-weight: bold;
  color: #444;
}

:host-context(.cs-dark) li > div:hover, :host-context(.cs-dark) .file-list > div:hover {
  background: #666;
}

:host-context(.cs-dark) .menu {
  background: #333;
  color: #fff;
}

:host-context(.cs-dark) .selected:not(.disabled) {
  background: #666 !important;
}