<div class="wrapper">
  <mat-card>
    <mat-card-title>{{'about.title'|translate}}</mat-card-title>
    <mat-card-subtitle>{{'about.subtitle'|translate}}</mat-card-subtitle>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <mat-icon mat-list-icon>assignment</mat-icon>
          <h4 mat-line>ControlStudio+</h4>
          <p mat-line>{{CSVer}}</p>
        </mat-list-item>
        <mat-list-item *ngIf="data.MCVersion">
          <mat-icon mat-list-icon>assignment</mat-icon>
          <h4 mat-line>softMC</h4>
          <p mat-line>{{data.MCVersion}}</p>
        </mat-list-item>
        <mat-list-item *ngIf="data.JavaVersion">
          <mat-icon mat-list-icon>assignment</mat-icon>
          <h4 mat-line>Web Server</h4>
          <p mat-line>{{data.JavaVersion}}</p>
        </mat-list-item>
        <mat-list-item *ngIf="data.TPVersion">
          <mat-icon mat-list-icon>assignment</mat-icon>
          <h4 mat-line>TP Libraries</h4>
          <p mat-line>{{data.TPVersion}}</p>
        </mat-list-item>
        <mat-list-item *ngIf="data.palletLibVer">
          <mat-icon mat-list-icon>assignment</mat-icon>
          <h4 mat-line>Pallet Library</h4>
          <p mat-line>{{data.palletLibVer}}</p>
        </mat-list-item>
        <mat-list-item *ngIf="data.gripperLibVer">
          <mat-icon mat-list-icon>assignment</mat-icon>
          <h4 mat-line>Grippers Library</h4>
          <p mat-line>{{data.gripperLibVer}}</p>
        </mat-list-item>
        <mat-list-item *ngIf="data.payloadLibVer">
          <mat-icon mat-list-icon>assignment</mat-icon>
          <h4 mat-line>Payloads Library</h4>
          <p mat-line>{{data.payloadLibVer}}</p>
        </mat-list-item>
        <mat-list-item *ngIf="data.LeadByNoseLibVer">
          <mat-icon mat-list-icon>assignment</mat-icon>
          <h4 mat-line>Lead By Nose Library</h4>
          <p mat-line>{{data.LeadByNoseLibVer}}</p>
        </mat-list-item>
        <mat-list-item *ngIf="data.iomapVer">
          <mat-icon mat-list-icon>assignment</mat-icon>
          <h4 mat-line>I/O Mapping Library</h4>
          <p mat-line>{{data.iomapVer}}</p>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
