<div *ngIf="!util.IsKuka" class="wrapper">
	<mat-card>
		<mat-card-title>{{ 'about.title' | translate }}</mat-card-title>
		<mat-card-subtitle>{{ 'about.subtitle' | translate }}</mat-card-subtitle>
		<mat-card-content>
			<mat-list>
				<mat-list-item *ngIf="data.cabinetVer">
					<mat-icon mat-list-icon>assignment</mat-icon>
					<h4 mat-line>{{ 'about.system' | translate }}</h4>
					<p mat-line>{{ data.cabinetVer }}</p>
				</mat-list-item>
				<mat-list-item>
					<mat-icon mat-list-icon>assignment</mat-icon>
					<h4 mat-line>ControlStudio+</h4>
					<p mat-line>{{ CSVer }}</p>
				</mat-list-item>
				<mat-list-item *ngIf="data.MCVersion">
					<mat-icon mat-list-icon>assignment</mat-icon>
					<h4 mat-line>softMC ({{serial}})</h4>
					<p mat-line>{{ data.MCVersion }}</p>
				</mat-list-item>
				<mat-list-item *ngIf="data.JavaVersion">
					<mat-icon mat-list-icon>assignment</mat-icon>
					<h4 mat-line>{{ 'about.server' | translate }}</h4>
					<p mat-line>{{ data.JavaVersion }}</p>
				</mat-list-item>
				<mat-list-item *ngIf="data.TPVersion">
					<mat-icon mat-list-icon>assignment</mat-icon>
					<h4 mat-line>{{ 'about.tp' | translate }}</h4>
					<p mat-line>{{ data.TPVersion }}</p>
				</mat-list-item>
				<mat-list-item *ngIf="data.palletLibVer">
					<mat-icon mat-list-icon>assignment</mat-icon>
					<h4 mat-line>{{ 'about.pallet' | translate }}</h4>
					<p mat-line>{{ data.palletLibVer }}</p>
				</mat-list-item>
				<mat-list-item *ngIf="data.gripperLibVer">
					<mat-icon mat-list-icon>assignment</mat-icon>
					<h4 mat-line>{{ 'about.grippers' | translate }}</h4>
					<p mat-line>{{ data.gripperLibVer }}</p>
				</mat-list-item>
				<mat-list-item *ngIf="data.payloadLibVer">
					<mat-icon mat-list-icon>assignment</mat-icon>
					<h4 mat-line>{{ 'about.payloads' | translate }}</h4>
					<p mat-line>{{ data.payloadLibVer }}</p>
				</mat-list-item>
				<mat-list-item *ngIf="data.LeadByNoseLibVer">
					<mat-icon mat-list-icon>assignment</mat-icon>
					<h4 mat-line>{{ 'about.lbn' | translate }}</h4>
					<p mat-line>{{ data.LeadByNoseLibVer }}</p>
				</mat-list-item>
				<mat-list-item *ngIf="data.iomapVer">
					<mat-icon mat-list-icon>assignment</mat-icon>
					<h4 mat-line>{{ 'about.io' | translate }}</h4>
					<p mat-line>{{ data.iomapVer }}</p>
				</mat-list-item>
				<mat-list-item *ngIf="data.mcuVer">
					<mat-icon mat-list-icon>assignment</mat-icon>
					<h4 mat-line>{{ 'about.mcu' | translate }}</h4>
					<p mat-line>{{ data.mcuVer }}</p>
				</mat-list-item>
			</mat-list>
		</mat-card-content>
	</mat-card>
</div>
<app-version *ngIf="util.IsKuka"></app-version>
