<div class="mat-typography">
	<div class="title mat-elevation-z1">
		<mat-icon>security</mat-icon>&nbsp;&nbsp;{{ 'password_confirm' | translate }} ({{ username }})
	</div>
	<div class="name-wrapper">
    <div class="center-vertical" *ngIf="data.withModeSelector">
      <span>{{ 'mode_selector' | translate }}</span>
      <mat-button-toggle-group [(ngModel)]="mode">
        <mat-button-toggle color="primary" value="T1" [disabled]="data.currentMode === 'T1'">T1</mat-button-toggle>
        <mat-button-toggle color="primary" value="T2" [disabled]="data.currentMode === 'T2'">T2</mat-button-toggle>
        <mat-button-toggle color="primary" value="A" [disabled]="data.currentMode === 'A'">A</mat-button-toggle>
        <mat-button-toggle color="primary" value="R" [disabled]="data.currentMode === 'R'">R</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
		<mat-form-field appearance="outline" style="margin-top: 24px;">

			<input
				matInput
				type="password"
				placeholder="{{ 'password_confirm' | translate }} ({{ username }})"
				[(ngModel)]="val"
				virtualKeyboard
				ktype="password"
			/>
		</mat-form-field>
		<div class="warn" *ngIf="isError">{{ 'password_err' | translate }}</div>
	</div>
	<div class="actions">
		<button mat-button mat-dialog-close>
			{{ 'button.cancel' | translate }}
		</button>
		<button mat-raised-button color="primary" (click)="confirm()" [disabled]="val === null || val.length === 0">
			{{ 'button.confirm' | translate }}
		</button>
	</div>
</div>
