<div class="mat-typography">
  <div class="title mat-elevation-z1">
    <mat-icon>security</mat-icon>&nbsp;&nbsp;{{'password_confirm'|translate}} ({{username}})
  </div>
  <div class="name-wrapper">
    <mat-form-field>
      <input matInput type="password" placeholder="{{'password_confirm'|translate}} ({{username}})" [(ngModel)]="val" virtualKeyboard ktype="password" (onKeyboardClose)="confirm()">
    </mat-form-field>
  </div>
  <div class="actions">
    <button mat-button mat-dialog-close>{{'button.cancel'|translate}}</button>
    <button mat-button color="primary" (click)="confirm()" [disabled]="val === null || val.length === 0">{{'button.confirm'|translate}}</button>
  </div>
</div>