.title {
  display: flex;
  align-items: center;
  margin: -24px -24px 16px -24px;
  padding: 16px;
  background-color: #00897b;
  color: #fff;
  font-size: 18px;
}
.actions {
  height: 52px;
  display: flex;
  padding: 8px 8px 8px 24px;
  justify-content: flex-end;
  margin: 0 -24px -24px 0;
}
.name-wrapper {
  /* display: flex;
  align-items: center; */
  min-width: 240px;
}
