<div class="wrapper mat-typography" [@login]="ws.connected ? 'in' : 'out'" [@init]="compInit ? 'in' : 'out'">
	<div
		class="login-card mat-elevation-z3"
		[@cardIsToolbar]="ws.connected ? 'toolbar' : 'card'"
		[class.card-full]="!cmn.isTablet"
	>
		<div class="primary-bg toolbar center-vertical-horizontal" @fade *ngIf="ws.connected || isSubmitting">
			<div *ngIf="!ws.connected" @fade>
				<mat-spinner color="accent"></mat-spinner>
				<h2>{{ 'connecting' | translate }}...</h2>
			</div>
		</div>
		<header [style.background-image]="'url(' + loginBgImgUrl + ')'">
			<div class="black-overlay" *ngIf="utils.IsKuka"></div>
			<div class="center-vertical" [class.kuka-center-vertical]="utils.IsKuka" [class.stx-ver]="!utils.IsKuka" style="z-index: 2;">
				<div>
					<div class="title" *ngIf="utils.IsKuka">{{ appName }}</div>
					<div class="subtitle">{{ ver }}</div>
				</div>
			</div>
		</header>
		<div class="main">
			<form [formGroup]="authForm" (ngSubmit)="submitForm()">
				<fieldset [disabled]="isSubmitting">
					<mat-form-field appearance="outline">
						<mat-label>{{ 'userManager.username' | translate }}</mat-label>
						<mat-icon class="mat-primary" matPrefix>person</mat-icon>
						<input
							matInput
							placeholder="{{ 'userManager.username' | translate }}"
							formControlName="username"
							virtualKeyboard
							ktype="text"
						/>
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label>{{ 'password' | translate }}</mat-label>
						<mat-icon class="mat-primary" matPrefix>security</mat-icon>
						<input
							matInput
							placeholder="{{ 'password' | translate }}"
							type="password"
							formControlName="password"
							virtualKeyboard
							ktype="password"
						/>
					</mat-form-field>
					<button
						mat-raised-button
						color="primary"
						type="submit"
						[disabled]="!authForm.valid || !isVersionOK || isSubmitting"
					>
						{{ 'button.login' | translate }}
					</button>
					<div class="error" *ngIf="errors.error">{{ errors.error }}</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>
