<div class="wrapper mat-typography">
	<div class="cs-gradient" [style.opacity]="!ws.connected && compInit ? 1 : 0"></div>
	<!-- <img src="assets/pics/robot2_{{utils.theme}}.svg" class="robot robot1" [@robot1]="!ws.connected && compInit ? 'shown' : 'none'" />
	<img src="assets/pics/cabinet_{{utils.theme}}.svg" class="cabinet" [@cabinet]="!ws.connected && compInit ? 'shown' : 'none'" />
	<div class="floor" [@floor]="!ws.connected && compInit ? 'shown' : 'none'"></div> -->
	<button mat-fab color="primary" (click)="reload()" class="reload" *ngIf="incompatibility"><mat-icon>refresh</mat-icon></button>
	<mat-card
		class="login-card mat-elevation-z24"
		[@cardIsToolbar]="ws.connected ? 'toolbar' : 'card'"
		[class.card-full]="!cmn.isTablet"
	>
		<div class="primary-bg toolbar center-vertical-horizontal" @fade *ngIf="ws.connected || isSubmitting || !isMcAvailable">
			<div *ngIf="!ws.connected" @fade class="spinner-container">
				<mat-spinner color="accent"></mat-spinner>
				<h2>{{ isMcAvailable ? 'connecting' : 'login.mc_offline' | translate }}...</h2>
			</div>
		</div>
		<header>
			<div class="center-vertical" style="z-index: 2;">
				<div style="flex:1;">
					<div class="title">{{ appName }}</div>
					<div class="subtitle">{{ ver }}</div>
				</div>
			</div>
		</header>
		<div class="content">
			<div class="info">
				{{info?.name}} | {{info?.ip}} | {{info?.sn}}
			</div>
			<div class="main">
				<form [formGroup]="authForm" (ngSubmit)="submitForm()">
					<fieldset [disabled]="isSubmitting">
						<!-- <mat-form-field appearance="fill">
							<mat-label>{{ 'userManager.username' | translate }}</mat-label>
							<mat-icon class="mat-primary" matPrefix>person</mat-icon>
							<input
								matInput
								placeholder="{{ 'userManager.username' | translate }}"
								formControlName="username"
								virtualKeyboard
								ktype="text"
								id="username"
							/>
                        </mat-form-field> -->
                        <custom-key-board class="customKeyBoardLogin" type="string" [value]="authForm.controls.username.value" [required]="true" 
                            (blurEvent)="usernameBlur($event,'username')" placeHolder="{{ 'userManager.username' | translate }}"
                            matLabel="{{ 'userManager.username' | translate }}" [iconPrefix]="true" [iconPrefixColor]="'#FF7300'"
                            [prefix]="'person'" (valueChange)="usernameBlur($event,'username')" 
                        ></custom-key-board>
						<!-- <mat-form-field appearance="fill">
							<mat-label>{{ 'password' | translate }}</mat-label>
							<mat-icon class="mat-primary" matPrefix>security</mat-icon>
							<input
								matInput
								placeholder="{{ 'password' | translate }}"
								type="password"
								formControlName="password"
								virtualKeyboard
								ktype="password"
								id="password"
							/>
                        </mat-form-field> -->
                        <custom-key-board class="customKeyBoardLogin" type="string" [value]="authForm.controls.password.value" [required]="true" [password]="true"
                            matLabel="{{ 'password' | translate }}" [iconPrefix]="true" placeHolder="{{ 'password' | translate }}"
                            (blurEvent)="usernameBlur($event,'password')" [prefix]="'security'" (valueChange)="usernameBlur($event,'password')"
                            [iconPrefixColor]="'#FF7300'"
                        ></custom-key-board>
						<button
							mat-raised-button
							color="primary"
							type="submit"
							id="btnLogin"
							[disabled]="!authForm.valid || !isVersionOK || isSubmitting"
						>
							{{ 'button.login' | translate }}
						</button>
						<div class="error" *ngIf="errors.error" id="errors">{{ errors.error }}</div>
					</fieldset>
				</form>
			</div>
		</div>
	</mat-card>
</div>
