@charset "utf-8";
@import '~@angular/material/theming';
@include mat-core();

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  height: 100%;
  overflow: hidden!important;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/rs/assets/fonts/material/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('/rs/assets/fonts/material/MaterialIcons-Regular.woff2') format('woff2'),
       url('/rs/assets/fonts/material/MaterialIcons-Regular.woff') format('woff'),
       url('/rs/assets/fonts/material/MaterialIcons-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'cs-monospace';
  font-style: normal;
  font-weight: 400;
  src: url('/rs/assets/fonts/SourceCodePro-SemiBold.ttf');
  src: local('cs-monospace'),
        url('/rs/assets/fonts/SourceCodePro-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'cs-monospace';
  font-style: normal;
  font-weight: 500;
  src: url('/rs/assets/fonts/SourceCodePro-Bold.ttf');
  src: local('cs-monospace'),
        url('/rs/assets/fonts/SourceCodePro-Bold.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.center-vertical {
  display: flex;
  align-items: center;
}

.monospace-font {
  font-family: cs-monospace;
  background: #ddd;
  color: #0000ff;
}

.center-vertical-horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
}
.compact-tabs .mat-tab-label {
  height: 36px;
}
.mat-tab-label-active { opacity: 1!important; }
mat-slide-toggle { display: block!important; }

/* BUSY SPINNER */
body.busy .busy-blocker {
  display: block;
}


/* DARK THEME */

.cs-dark {
  .as-split-gutter {
    background-color: rgba(0,0,0,0.2)!important;
  }
  .invert {
    filter: invert(1);
  }
}

/* ALLOW SCROLL TABS*/
.mat-tab-links { overflow: auto !important; }
@media (pointer:coarse) {
  .mat-tab-label-container { overflow: auto !important; }
}

/*  CSS FOR SCROLLBARS */
.mobile-scrollbar::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}
.mobile-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.26);
}

/* FIX TOO LONG SNACKBAR ISSUE */
.mat-simple-snackbar > span {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

/* HIDE INPUT[NUMBER] ARROWS */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
  -moz-appearance:textfield;
}

/* TOUR BACKDROP STYLES */
.tour .cdk-overlay-backdrop, .ngx-tour_backdrop {
  pointer-events: none! important;
}

/* MAIN MENU TOOLTIPS STYLE */
.menu-tooltip {
  position: absolute;
  white-space: nowrap;
  left: -24px;
  top: -24px;
}

/* DOCS TOOLTIP FOR ACE EDITOR */
.docs {
  white-space: pre-line;
  font-family: monospace;
  overflow: auto;
  max-height: 200px;
}

/* FOR THE BACKDROP OVERLAY */
.jog-panel-open .cdk-overlay-backdrop {
  width: calc(100% - 250px);
}
.jog-panel-open .cdk-overlay-backdrop:after {
  content: '';
  position: absolute;
  right: -250px;
  width: 250px;
  height: 64px;
  background: rgba(0, 0, 0, 0.32);
}

/* ACE LINE HIGHLIGHTING STYLES */
// .disabled .ace_editor > * {
//   cursor: not-allowed!important;
// }
.line-highlight {
  position:absolute;
  background:rgba(100,200,100,0.5);
  z-index:20;
}
.line-highlight-error {
  position:absolute;
  background:rgba(200,100,100,0.5);
  z-index:20;
}
.line-syntax-error {
  position:absolute;
  border-bottom: 1.5px dashed red;
  z-index:20;
}
.line-syntax-warning {
  position:absolute;
  border-bottom: 1.5px dashed yellow;
  z-index:20;
}
.ace-link {
  position:absolute;
  border-bottom: 1.5px solid blue;
  z-index:20;
  cursor: pointer;
}
.line-highlight-motion {
  position:absolute;
  background:rgba(100,100,200,0.5);
  z-index:20;
}
.ace_breakpoint{ 
  border-radius: 20px 0px 0px 20px; 
  box-shadow: 0px 0px 1px 1px red inset; 
}
.ace_tooltip {
  font-family: monospace;
  white-space: pre-line;
  margin-right: 24px!important;
  max-height: 200px;
  overflow: auto;
}
.ace_tooltip ul {
  list-style: initial;
  margin: 0 32px;
  line-height: 2;
  white-space: initial;
}
.ace_mobile-menu {
  display: none!important;
}
.ac_ovrld {
  font-weight: bold;
  background: #444;
  color: #fff;
  padding: 6px;
  border-radius: 6px;
  width: 100%;
  box-sizing: border-box;
}
.ac_cmd {
  font-size: 16px;
}
.ac_selected {
  font-weight: bold;
  color: blue;
}

// shrink ovealy css
.shrink-overlay {
  width: calc(100% - 250px);
}

// stretch overlay css
.stretch-overlay {
  width: 100%;
}

.upper-right-conner-overlay {
  position: absolute;
  width: 0;
  height: 65px;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.32);
  z-index: 1000;
}

.upper-right-conner-overlay-stretch {
  width: 250px !important;
}

.upper-right-conner-overlay-shrink {
  width: 0;
}

.global-hidden {
  display: none;
}

.hidden-mat-dialog-container {
  .mat-dialog-container {
    padding: 0 !important;
    width: 0 !important;
    min-width: 0 !important;
  }
}

.virtual-select {
  min-width: 100%!important;
}

.right-side {
  router-outlet + * {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
}

.tablet-ui {
  .ng-resizable-diagonal {
    width: 40px!important;
    height: 40px!important;
    border-left-width: 40px;
    border-bottom-width: 40px;
  }
  .ng-resizable-diagonal::after {
    content: "<->";
    position: absolute;
    font-weight: bold;
    width: 40px;
    right: 0;
    font-size: 24px;
    text-align: center;
    transform: rotate(45deg);
    bottom: -30px;
    color: #666;
  }
}

// FIX ANGULAR MATERIAL RADIO VALIDATION ISSUES
mat-radio-group.ng-invalid mat-radio-button .mat-radio-outer-circle {
  border-color: #f44336;
} 