<div class="wrapper">
  <mat-card>
    <div class="content" *ngIf="conf">
      <div>
        <div class="mat-title">{{ 'projects.time' | translate }}</div>
        <mat-form-field>
          <mat-label>SBC_T1</mat-label>
          <input matInput [(ngModel)]="conf.sbc_t1" virtualKeyboard ktype="numeric_int_pos">
          <span matSuffix>mm.</span>
        </mat-form-field>
        <mat-form-field>
          <mat-label>SBC_T2</mat-label>
          <input matInput [(ngModel)]="conf.sbc_t2" virtualKeyboard ktype="numeric_int_pos">
          <span matSuffix>mm.</span>
        </mat-form-field>
        <mat-form-field>
          <mat-label>SS1_T1</mat-label>
          <input matInput [(ngModel)]="conf.ss1_t1" virtualKeyboard ktype="numeric_int_pos">
          <span matSuffix>mm.</span>
        </mat-form-field>
      </div>
      <div>
        <div class="mat-title">SDI</div>
        <mat-form-field
            *ngFor="let inp of conf.inputs; let i=index;">
          <mat-label>{{inp.name}}</mat-label>
          <mat-select [(ngModel)]="inp.value" (selectionChange)="conf.onInputChange(i)">
            <mat-option value="STO">STO</mat-option>
            <mat-option value="SS1">SS1</mat-option>
            <mat-option value="IDLE">IDLE</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <div class="mat-title">SDO</div>
        <mat-form-field
            *ngFor="let out of conf.outputs; let i=index;">
          <mat-label>{{out.name}}</mat-label>
          <mat-select [(ngModel)]="out.value" (selectionChange)="conf.onOutputChange(i)">
            <mat-option value="STO">STO</mat-option>
            <mat-option value="SBC">SBC</mat-option>
            <mat-option value="IDLE">IDLE</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="ini" [innerHTML]="conf?.toString()"></div>
  </mat-card>
  <mat-card>
    Safety card answer will appear here...
  </mat-card>
  <mat-card class="buttons">
    <button mat-raised-button color="primary">CONFIRM</button>
  </mat-card>
</div>