@import '~@angular/material/theming';

$base-Sunrise: #ff7300;
$primary-Sunrise: #ff7300;

$base-Connect: #ff5800;
$primary-Connect: #ff5800;

$base-KSS: rgb(253, 100, 0);
$primary-KSS: rgb(253, 100, 0);

$base-IISy: green;
$primary-IISy: green;

$material-semi-black: rgba(0,0,0,0.54);

$mat-kuka: (
    100: $base-Connect,
    200: $primary-Connect,
    300: $base-IISy,
    400: $primary-IISy,
    500: $base-Sunrise,
    600: $primary-Sunrise,
    700: $base-KSS,
    800: $primary-KSS,
    contrast: (
      100: $light-primary-text,
      200: $light-primary-text,
      300: $light-primary-text,
      400: $light-primary-text,
      500: $light-primary-text,
      600: $light-primary-text,
      700: $light-primary-text,
      800: $light-primary-text,
    )
  );

$material-kuka-primary: mat-palette($mat-kuka, 500, 400, 800); // colors most widely used across all screens and components.
$material-kuka-accent:  mat-palette($mat-amber, A200, A100, A400); // colors used for the floating action button and interactive elements.
$material-kuka-warn:    mat-palette($mat-red, A400); // colors used to convey error state.

$kuka-theme: mat-light-theme($material-kuka-primary, $material-kuka-accent, $material-kuka-warn);


.kuka {
  @include angular-material-theme($kuka-theme);
  @include mat-tree-theme($kuka-theme);
  /* Here is the style difinition of header portion.
   *
   */
  mat-toolbar { }

  /* Here is the style difinition of side navagation portion.
   *
   */
  mat-sidenav-container mat-sidenav {
    li.selected:not(.disabled) {
      color: mat-color($material-kuka-primary);
    }
    .user-info .name {
      color: mat-color($material-kuka-primary);
    }
  }

  /* Here is the style difinition of content portion.
   *
   */
  mat-sidenav-container mat-sidenav-content {
    .enabledApp {
      color: $material-semi-black;
    }

    .home-config .home-position .read-btn:hover {
      color: mat-color($material-kuka-primary);
    }
  }

  /*
   * Custom style for cdk global overlay wrapper.
   */
  .cdk-global-overlay-wrapper {
    .title {
      background-color: mat-color($material-kuka-primary);
    }
  }

  .primary, .primary-light, .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: mat-color($material-kuka-primary, 800);
  }

  .mat-subtitle-color {
    color: $material-semi-black;
  }

  .primary-bg, .mat-button-toggle-checked, .virtual-keyboard .key-down,
  .virtual-keyboard .key:active,
  .mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb-label {
    background-color: mat-color($material-kuka-primary, 600)!important;
    color: $light-primary-text !important;
  }
  
  .mode-selector .mat-button-toggle-checked {
    background-color: mat-color($material-kuka-accent);
    color: mat-color($material-kuka-accent, default-contrast);
  }
}