@import '~@angular/material/theming';

$primary-stx: #11826c;
$stx-dark: #055548;
$stx-light: #64d8cb;
$accent-stx: (
  500: #ffc332,
  contrast: (
    500: $dark-primary-text
  )
);

$mat-servotronix: (
  100: $stx-light,
  500: $primary-stx,
  800: $stx-dark,
  contrast: (
    100: $light-primary-text,
    500: $light-primary-text,
    800: $light-primary-text,
  )
);

$material-servotronix-accent:  mat-palette($accent-stx);
$material-servotronix-warn:    mat-palette($mat-red);
$material-servotronix-primary: mat-palette($mat-servotronix, 500, 100, 800);

$material-semi-black: rgba(0,0,0,0.54);

$servotronix-theme: mat-light-theme($material-servotronix-primary, $material-servotronix-accent, $material-servotronix-warn);

$material-black: rgb(0.51,0.51,0.51);
$material-semi-black: rgba(0,0,0,0.54);

.stx {
  @include angular-material-theme($servotronix-theme);

  .primary, main-menu li:hover:not(.disabled),
    main-menu li.selected:not(.disabled),
    .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: mat-color($material-servotronix-primary, 500);
  }
  .primary-light {
    color: mat-color($material-servotronix-primary, 100);
  }
  .primary-bg-dark {
    background-color: mat-color($material-servotronix-primary, 800);
    color: #fff;
  }
  .primary-bg, .mat-button-toggle-checked, .virtual-keyboard .key-down,
  .virtual-keyboard .key:focus,
  .mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb-label {
    background-color: mat-color($material-servotronix-primary, 500)!important;
    color: #fff!important;
  }
  .warn-bg {
    background-color: mat-color($material-servotronix-warn)!important;
    color: #fff!important;
  }
  .warn {
    color: mat-color($material-servotronix-warn);
  }
  .mat-title-color {
    color: $material-black;
  }
  .mat-subtitle-color {
    color: $material-semi-black;
  }

  .mode-selector .mat-button-toggle-checked {
    background-color: mat-color($material-servotronix-accent);
    color: mat-color($material-servotronix-accent, default-contrast);
  }

  .home-config .home-position .read-btn:hover {
    color: mat-color($material-servotronix-primary);
  }
  .custom-selected-row {
    background-color: mat-color($material-servotronix-primary, 100);
  }

  .custom-button:hover {
    color: mat-color($material-servotronix-primary, 100);
  }

  .highlighted { background-color: #B2DFDB!important; }

  .data-table mat-row:hover { background-color: #E0F2F1; }

  .selected:not(.disabled) { background: #E0F2F1!important; }

  .item { background: #004D40; }
  
  .create-point-option {
    background: mat-color($material-servotronix-primary, 100) !important;
  }
  .create-point-option:hover {
    background: mat-color($material-servotronix-primary, 100) !important;
  }
  .stx-logo {
    height: 24px;
    margin-right: 16px;
  }
  .stx-fill {
    background-color: mat-color($material-servotronix-primary, 800);
  }

  .command-card .mat-card-header {
    background-color: mat-color($material-servotronix-primary, 500)
  }
}
