@import '~@angular/material/theming';

$material-servotronix-primary: mat-palette($mat-teal, 600, 900, 400);
$material-servotronix-accent:  mat-palette($mat-amber, A200, A100, A400);
$material-servotronix-warn:    mat-palette($mat-red);

$servotronix-theme: mat-light-theme($material-servotronix-primary, $material-servotronix-accent, $material-servotronix-warn);

$material-black: rgb(0.51,0.51,0.51);
$material-semi-black: rgba(0,0,0,0.54);

.stx {
  @include angular-material-theme($servotronix-theme);

  .primary, main-menu li:hover:not(.disabled), main-menu li.selected:not(.disabled) {
    color: mat-color($material-servotronix-primary, 600);
  }
  .primary-light {
    color: mat-color($material-servotronix-primary, 100);
  }
  .primary-bg-dark {
    background-color: mat-color($material-servotronix-primary, 900);
    color: #fff;
  }
  .primary-bg, .mat-button-toggle-checked {
    background-color: mat-color($material-servotronix-primary, 600);
    color: #fff!important;
  }
  .warn-bg {
    background-color: mat-color($material-servotronix-warn);
    color: #fff;
  }
  .warn {
    color: mat-color($material-servotronix-warn);
  }
  .mat-title-color {
    color: $material-black;
  }
  .mat-subtitle-color {
    color: $material-semi-black;
  }
  
  .mode-selector .mat-button-toggle-checked {
    background-color: mat-color($material-servotronix-accent);
    color: mat-color($material-servotronix-accent, default-contrast);
  }

  .home-config .home-position .read-btn:hover {
    color: mat-color($material-servotronix-primary);
  }
}