/*
  THIS FILE SETS SOME MATERIAL ITEMS BIGGER FOR TABLET UI
*/
$larger-mini-fab-height: 44px;
.tablet-ui {
  .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: $larger-mini-fab-height;
    padding: 0 22px;
  }
  .mat-mini-fab {
    width: $larger-mini-fab-height;
    height: $larger-mini-fab-height;
  }
  .mat-simple-snackbar-action button {
    max-height: 48px;
  }
  .mat-raised-button, .mat-button {
    font-size: 16px;
  }
  
  .mat-tree-node, .mat-nested-tree-node {
    display: block;
    font-size: 18px;
    padding-top: 24px;
  }
  .mat-badge-content {
    width: 26px!important;
    height: 26px!important;
    line-height: 26px!important;
    font-size: 14px;
  }
  .mat-snack-bar-container {
    max-width: 45vw;
  }
  .mat-simple-snackbar {
    font-size: 18px;
  }
  .mat-typography, .mat-card-subtitle, .mat-card-content {
    font-size: 16px;
  }
  .mat-card-avatar {
    height: 60px;
    width: 60px;
  }
}
.dialog-title {
  margin: -24px -24px 24px -24px;
  padding: 16px;
  color: #fff;
  font-size: 18px;
}

.dialog-actions {
  justify-content: flex-end;
}


.cdk-drag-preview {
  box-sizing: border-box;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  border-bottom: 1px solid #8080802b;
  border-radius: 2px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}