.wrapper {
  background-color: #eee;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.fab {
  position: absolute;
  right: 24px;
  top: 16px;
  z-index: 2;
}
.container {
  background-color: #fff;
  margin: 24px;
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.menu {
  padding: 8px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  z-index: 1;
}
.menu > * {
  display: block;
}
.menu .axes {
  display: flex;
  flex-direction: column;
}
.menu button {
  margin-bottom: 8px;
}
.menu mat-radio-button {
  margin-right: 16px;
}
.menu .separator {
  height: 0;
  background: #ccc;
  margin: 8px 0;
  padding: 1px;
}
.charts {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
app-record-graph {
  flex: 1;
  overflow: hidden;
  position: relative;
}
mat-tab-group mat-icon,
mat-tab-group .icon-placeholder {
  margin-left: 8px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  font-weight: bold;
}
.loading {
  padding: 24px;
  flex: 1;
}
.arrow {
  position: absolute;
  right: 34px;
  top: 74px;
  transform: rotate(-90deg);
  width: 64px;
  z-index: 2;
  height: 64px;
}
.compare-close {
  position: absolute;
  right: 16px;
  top: 16px;
  z-index: 2;
}
.none-open {
  font-size: 24px;
}
.none-open img {
  margin-bottom: 24px;
  height: 200px;
}