<div class="keyboard" [class.isHide]="!isNgIf" [class.inputLineHeight]="keyBoardDialog">
    <mat-form-field style="position: relative;" class="custom-key-board" [appearance]="appearance" [class.iconPrefix]="iconPrefixColor !== '#0000000DE'">
        <mat-label *ngIf="matLabel">{{matLabel}}</mat-label>
        <mat-label *ngIf="label">{{label}}</mat-label>
        <input matInput [placeholder]="!showPlaceHolderOnlyDialog ? placeHolder : '' "
            [id]="id"
            [readonly]="isPad || readonly"
            [formControl]="control" #numInput
            class="numInputKeyBoard" [style.textIndent.px]="textIndent" (focus)="onFocus()" autocomplete="off"  [type]="isPasswordInput"
            (panstart)="onSwipe($event)" [value]="(password && isPad) ? (control.value | passPipe) : control.value">
        <span matPrefix style="font-weight: bold;" *ngIf="!iconPrefix">{{prefix}}</span>
        <mat-icon [ngStyle]="{'color': iconPrefixColor}" *ngIf="iconPrefix" matPrefix>{{prefix}}</mat-icon>
        <span matSuffix [innerHTML]='suffix' *ngIf="!iconSuffix"></span>
        <mat-icon matSuffix *ngIf="iconSuffix">{{suffix}}</mat-icon>
        <mat-hint [innerHTML]="hint"></mat-hint>
        <mat-error *ngIf='errorHtmlCode'>
          <div [innerHTML]="errorHtmlCode"></div>
        </mat-error>
        <div class="cursor blink" *ngIf="isPad && keyBoardDialog" [style.left.px]="cursorLeft"></div>
    </mat-form-field>
</div>
