<div class="log-profile">
    <div class="log-profile-icon">
        <!-- <mat-icon aria-hidden="false" class="warn">warning</mat-icon> -->
        <ng-container [ngSwitch]="log?.type">
            <mat-icon *ngSwitchCase="'error'" aria-hidden="false" class="warn">cancel</mat-icon>
            <mat-icon *ngSwitchCase="'warning'" aria-hidden="false" color="primary">warning</mat-icon>
            <mat-icon *ngSwitchCase="'information'" aria-hidden="false" color="accent">info</mat-icon>
        </ng-container>
    </div>
    <div class="log-profile-content">
        <div class="log-profile-date">
            <!-- <span>{{log?.date}}</span> &nbsp;
            <span>{{log?.time}}</span> -->
            <span>{{log?.timestamp | date:'yyyy/MM/dd h:mm:ss a'}}</span>
        </div>
        <div class="log-profile-desc">
            <ng-container [ngSwitch]="log.source">
                <span *ngSwitchCase="'webServer'">
                    {{('log.' + log?.message) | translate:{ name: log?.userName.toUpperCase() } }} {{log?.paras[0]?.toUpperCase()}}
                </span>
                <span *ngSwitchCase="'lib'">
                    <span>{{log?.code}}</span>&nbsp;&nbsp;&nbsp;{{'lib_code.' + log?.code | translate}} {{!!log?.message ? ': ' + log.message : ''}}
                </span>
                <span *ngSwitchDefault>
                    <span>{{log?.code}}</span>&nbsp;&nbsp;&nbsp;{{log?.message}}
                </span>
            </ng-container>
        </div>
    </div>
</div>