.log-profile {
    display: flex;
    flex-direction: row;
    &-icon {
        padding: 5px 5px 5px 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        mat-icon {
            font-size: 20px;
            height: 20px;
            width: 20px;
        }
    }
    &-content {
        flex-grow: 1;
        padding: 5px 5px 5px 5px;
        width: calc(100% - 40px);
        span {
            font-size: 14px;
            font-family: Roboto, "Helvetica Neue", sans-serif;
        }
    }
    &-date {
        color: gray;
        font-size: 0.9em;
        height: 20px;
    }
    &-desc {
        color: black !important;
        font-size: 0.9em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        span {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            display: inline-block;
            max-width: 100%;
        }
    }
}

:host-context(.cs-dark) .log-profile {
    &-date {
        color: #ccc;
    }
    &-desc {
        color: #fff!important;
    }
}