<div class="log-profile">
    <div class="log-profile-icon">
        <ng-container [ngSwitch]="log?.type">
            <mat-icon *ngSwitchCase="'error'" aria-hidden="false" class="warn">cancel</mat-icon>
            <mat-icon *ngSwitchCase="'warning'" aria-hidden="false" color="primary">warning</mat-icon>
            <mat-icon *ngSwitchCase="'information'" aria-hidden="false" color="accent">info</mat-icon>
        </ng-container>
    </div>
    <div class="log-profile-content">
        <div class="log-profile-date">
            <span>{{log?.timestamp | date:'yyyy/MM/dd h:mm:ss a':'UTC'}}</span>
        </div>
        <div class="log-profile-desc">
            <ng-container [ngSwitch]="log.source">
                <span *ngSwitchCase="'webServer'"
                    [matTooltip]="getTooltip('log.' + log?.message | translate:{ name: log?.userName.toUpperCase() }, log && log.paras[0] && log.paras[0].toUpperCase())"
                    matTooltipPosition="above">
                    {{('log.' + log?.message) | translate:{ name: log?.userName.toUpperCase() } }} {{log?.paras[0]?.toUpperCase()}}
                </span>
                <span *ngSwitchCase="'lib'"
                    [matTooltip]="getTooltip('lib_code.' + log?.code | translate, log?.message)"
                    matTooltipPosition="above">
                    {{log?.code}}&nbsp;&nbsp;{{'lib_code.' + log?.code | translate}} {{!!log?.message ? ' ' + log.message : ''}}
                </span>
                <span *ngSwitchDefault
                    [matTooltip]="getTooltip(log ? trn.getTranslation(log.code,log.message) : '')"
                    matTooltipPosition="above">
                    {{log?.code}}&nbsp;&nbsp;{{log ? trn.getTranslation(log.code,log.message) : ''}}
                </span>
            </ng-container>
        </div>
    </div>
</div>