.wrapper { padding: 16px;}
h2 {
  font-weight: 500;
  margin: 0;
}
h3 { margin: 0}
.content { 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.app-list {
  display: flex;
  flex-direction: column;
}
.content .mat-radio-button { margin-right: 16px; }
mat-panel-title, mat-panel-description { flex-basis: 0; }
.limits td { padding: 8px; }
.limits mat-form-field { margin-bottom: -16px; }