.wrapper {
  padding: 16px;
}
h2 {
  font-weight: 500;
  margin: 0;
}
h3 {
  margin: 0;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.app-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: auto;
  max-height: 400px;
}
.app-list mat-form-field {
  width: 75px;
}
.app-list thead {
  font-weight: bold;
  font-size: 13px;
}
.app-list table {
  text-align: left;
  min-width: 250px;
}
.app-list mat-icon {
  font-size: 18px;
  width: 18px;
  height: 18px;
  margin-left: 4px;
}
.content .mat-radio-button {
  margin-right: 16px;
}
mat-panel-title,
mat-panel-description {
  flex-basis: 0;
}
.limits td {
  padding: 8px;
}
.limits mat-form-field {
  margin-bottom: -16px;
}

.arch-setting-wrapper {
  align-items: stretch;
}

.vscale {
  min-width: 250px;
}