.snack-bar-container {
        max-width: 600px;
    width: 33vw;
    box-shadow: none;
    .log-tip-snackbar {
        box-sizing: border-box;
        max-width: 600px;
        min-width: 344px;
        padding: 14px 16px;
        box-sizing: border-box;
        min-height: 48px;
        background: #323232;
        color: rgba(255,255,255,0.8);
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 16px;
        span {
            overflow:hidden;
            word-break: break-all;
            display:-webkit-box;
            -webkit-line-clamp:2;
            /* autoprefixer: ignore next */
            -webkit-box-orient:vertical;
        }
    }
    .log-snackbar {
        box-sizing: border-box;
        max-width: 600px;
        min-width: 344px;
        display: flex;
        flex-direction: row;
        padding: 5px;
        .left-portion {
            margin-right: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 2px;
            span {
                text-align: center;
            }
        }
        .center-portion {
            margin-right: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 0 4px;
            flex-grow: 1;
            overflow: hidden;
            .first-span {
                color: #323232;
                font-size: 14px;
            }
            .second-span {
                margin: 3px 0 2px 0;
                line-height: 16px;
                max-height: 33px;
                font-size: 14px;
                word-break: normal;
                overflow-y: auto;
                overflow-x: hidden;
                font-weight: 500;
            }
        }
        .right-portion {
            margin: 0 5px 0 5px;
            display: flex;
            flex-direction: row;
            ::ng-deep button {
                min-width: 0;
                padding: 0 5px;
                flex-grow: 1;
                margin: 0 0 0 5px;
                .mat-button-wrapper {
                    position: relative;
                    height: 100%;
                    width: 100%;
                    display: block;
                    .all-badge {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        width: 12px;
                        height: 12px;
                        font-size: 11px;
                        line-height: 11px;
                    }
                }
            }
        }
    }    
}