<div class="mat-typography wizard">
	<div class="sbs" style="flex: 1; overflow: hidden;">
		<div class="menu mat-elevation-z3">
			<button mat-raised-button color="primary" (click)="newPayload()" *ngIf="!login.isOperator" class="btn-add">
				<mat-icon>add</mat-icon>
				<span>{{ 'button.create' | translate }}</span>
			</button>
			<mat-form-field style="margin: 16px 0;">
				<mat-select
					placeholder="{{ 'payloads.payload' | translate }}"
					[(ngModel)]="selectedPayload"
					(ngModelChange)="onPayloadChange()"
				>
					<mat-option disabled *ngIf="data.payloads.length === 0">{{ 'empty_list' | translate }}</mat-option>
					<mat-option *ngFor="let p of data.payloads" [value]="p">
						{{ p.name }}
					</mat-option>
				</mat-select>
			</mat-form-field>
			<button mat-raised-button color="warn" *ngIf="selectedPayload && !login.isOperator" (click)="delete()" [disabled]="selectedPayload.name === NONE_PAYLOAD">
				{{ 'button.delete' | translate }}
			</button>
			<div *ngIf="currPayloadString" [innerHTML]="currPayloadString" style="margin-top: 16px;"></div>
		</div>
		<div class="temp-scara-wizard payload-image" *ngIf="!selectedPayload">
			<img src="assets/pics/payload.svg">
		</div>
		<div *ngIf="selectedPayload" class="temp-scara-wizard">
			<div class="wizard-header" *ngIf="!login.isOperator || data.robotType !== 'SCARA'">
				<mat-slide-toggle
					color="primary"
					[(ngModel)]="advanced"
					[disabled]="selectedPayload.name === NONE_PAYLOAD"
					*ngIf="login.isSuper">
					{{ 'payloads.advanced' | translate }}
				</mat-slide-toggle>
			</div>
			<div class="buttons">
				<button mat-raised-button color="primary" (click)="setAsCurrent()">{{ 'button.set_current' | translate }}</button>
				<button mat-raised-button color="warn" *ngIf="!login.isOperator" [disabled]="selectedPayload.name === NONE_PAYLOAD" (click)="reset()">{{ 'payloads.btn_reset' | translate }}</button>
			</div>
			<!-- <mat-form-field>
				<input
					matInput
					min="0"
					placeholder="{{ 'payloads.mass' | translate }}"
					(change)="onMassChange($event)"
					virtualKeyboard
					ktype="numeric_pos"
					(onKeyboardClose)="onMassChange($event)"
					[formControl]="ctrlMass"
				/>
				<span matSuffix>[Kg]</span>
            </mat-form-field> -->
						<custom-key-board
							class="customKeyBoard"
							[isPositiveNum]="true"
							[emitInvalidValue]="false"
							type="float"
							[min]="0"
							placeHolder="{{ 'payloads.mass' | translate }}"
							[suffix]="'[Kg]'"
							[(value)]="ctrlMass.value"
							(blurEvent)="onMassChange({target: {value: $event}})"
							[disabled]="login.isOperator || selectedPayload.name === NONE_PAYLOAD"
            ></custom-key-board>
			<!-- <mat-form-field>
				<input
					matInput
					min="0"
					placeholder="{{ 'payloads.inertia' | translate }}"
					(change)="onInertiaChange($event)"
					virtualKeyboard
					ktype="numeric_pos"
					(onKeyboardClose)="onInertiaChange($event)"
					[formControl]="ctrlInertia"
				/>
				<span matSuffix>[Kg * m<sup>2</sup>]</span>
            </mat-form-field> -->
            <custom-key-board class="customKeyBoard" [emitInvalidValue]="false" [isPositiveNum]="true" type="float" [min]="0" placeHolder="{{ 'payloads.inertia' | translate }}" [suffix]="'[Kg * m<sup>2</sup>]'"
                [(value)]="ctrlInertia.value"  (blurEvent)="onInertiaChange({target: {value: $event}})" [disabled]="login.isOperator || selectedPayload.name === NONE_PAYLOAD"
            ></custom-key-board>
			<!-- <mat-form-field>
				<input
					matInput
					min="0"
					placeholder="{{ 'payloads.offX' | translate }}"
					(change)="onXOffsetChange($event)"
					virtualKeyboard
					ktype="numeric"
					(onKeyboardClose)="onXOffsetChange($event)"
					[formControl]="ctrllx"
				/>
				<span matSuffix>[m]</span>
            </mat-form-field> -->
            <custom-key-board class="customKeyBoard" type="float" [emitInvalidValue]="false"  placeHolder="{{ 'payloads.offX' | translate }}" [suffix]="'[m]'"
					[(value)]="ctrllx.value"  (blurEvent)="onXOffsetChange({target: {value: $event}})" [disabled]="login.isOperator || selectedPayload.name === NONE_PAYLOAD"
			></custom-key-board>
			<table class="advanced-table" *ngIf="advanced">
				<thead>
					<tr>
						<td>Field</td>
						<td>J1</td>
						<td>J2</td>
						<td>J3</td>
						<td>J4</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{ 'payloads.start_pos' | translate }}</td>
						<td *ngFor="let i of [0, 1, 2, 3]">
							<!-- <mat-form-field appearance="outline">
								<input
									matInput
									[(ngModel)]="data.payloadStart[i]"

									(change)="data.onPayloadStartChange()"
									virtualKeyboard
									ktype="numeric"
									(onKeyboardClose)="data.onPayloadStartChange()"
								/>
								<span matSuffix>{{ i !== 2 ? '[deg]' : '[mm]' }}</span>
                            </mat-form-field> -->
                            <div class="customKeyBoard2">
                                <custom-key-board type="float"
                                   [emitInvalidValue]="false"
                                   [(value)]="data.payloadStart[i]"
                                   suffix="{{ i !== 2 ? '[deg]' : '[mm]' }}"
                                    appearance="outline"
                                    (blurEvent)="data.onPayloadStartChange()"
                                ></custom-key-board>
                            </div>
						</td>
					</tr>
					<tr>
						<td>{{ 'payloads.relative_pos' | translate }}</td>
						<td *ngFor="let i of [0, 1, 2, 3]">
							<!-- <mat-form-field appearance="outline">
								<input
									matInput
									[(ngModel)]="data.payloadRelative[i]"

									(change)="data.onPayloadRelativeChange()"
									virtualKeyboard
									ktype="numeric"
									(onKeyboardClose)="data.onPayloadRelativeChange()"
								/>
								<span matSuffix>{{ i !== 2 ? '[deg]' : '[mm]' }}</span>
                            </mat-form-field> -->
                            <div class="customKeyBoard2">
                                <custom-key-board type="float" [emitInvalidValue]="false" [(value)]="data.payloadRelative[i]" suffix="{{ i !== 2 ? '[deg]' : '[mm]' }}" appearance="outline"
                                 (blurEvent)="data.onPayloadRelativeChange()"
                                ></custom-key-board>
                            </div>
						</td>
					</tr>
					<tr>
						<td>{{ 'payloads.freq' | translate }}</td>
						<td *ngFor="let i of [0, 1, 2, 3]">
							<!-- <mat-form-field appearance="outline">
								<input
									matInput
									[(ngModel)]="data.payloadFreq[i]"

									(change)="data.onPayloadFreqChange()"
									virtualKeyboard
									ktype="numeric"
									(onKeyboardClose)="data.onPayloadFreqChange()"
								/>
								<span matSuffix>[Hz.]</span>
                            </mat-form-field> -->
							<div class="customKeyBoard2">
									<custom-key-board
										type="float"
										[(value)]="data.payloadFreq[i]"
										[emitInvalidValue]="false"
										suffix="[Hz.]"
										appearance="outline"
										(blurEvent)="data.onPayloadFreqChange()"
										[isPositiveNum]="true">
									</custom-key-board>
							</div>
						</td>
					</tr>
					<tr class="table-end">
						<td>{{ 'payloads.time' | translate }}</td>
						<td>
							<!-- <mat-form-field appearance="outline">
								<input
									matInput
									[(ngModel)]="data.payloadDuration"
									(change)="data.onPayloadDurationChange()"
									virtualKeyboard
									ktype="numeric_int_pos"
									(onKeyboardClose)="data.onPayloadDurationChange()"
								/>
								<span matSuffix>[s]</span>
                            </mat-form-field> -->
							<div class="customKeyBoard2">
									<custom-key-board 
										type="int"
										[isPositiveNum]="true"
										[(value)]="data.payloadDuration"
										suffix="[s]"
										appearance="outline"
										(blurEvent)="data.onPayloadDurationChange()"
									></custom-key-board>
							</div>
						</td>
						<td colspan="3">
							<button mat-raised-button color="primary" (click)="showIdentDialog()" [disabled]="!stat.enabled">
								{{ 'payloads.ident.start' | translate }}
							</button>
							<div *ngIf="!stat.enabled" class="warn">
								{{ 'payloads.ident.robot_disabled' | translate }}
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
