<div class="main mat-typography">
  <div class="wrapper">
    <div class="title">Insert Sleep Command</div>
    <div class="content">
      <mat-form-field>
        <input matInput placeholder="Sleep Time" [(ngModel)]="time" type="number">
        <span matSuffix>ms.</span>
      </mat-form-field>
    </div>
  </div>
  <div class="actions">
    <button mat-button color="primary" mat-dialog-close>CANCEL</button>
    <button mat-button color="primary" (click)="insert()" [disabled]="time < 1">INSERT</button>
  </div>
</div>