<form class="main mat-typography" (ngSubmit)="insert()" [formGroup]="dialogForm">
	<div class="wrapper">
		<div class="title">{{ 'projectCommands.sleep.title' | translate }}</div>
		<div class="content">
			<mat-form-field>
				<input
					matInput
					placeholder="{{ 'projectCommands.sleep.time' | translate }}"
					formControlName="time"
					type="number"
					virtualKeyboard
					ktype="numeric_int_pos"
				/>
				<span matSuffix>ms.</span>
			</mat-form-field>
		</div>
	</div>
	<div class="actions">
		<button mat-button mat-dialog-close>
			{{ 'button.cancel' | translate }}
		</button>
		<button mat-button color="primary" type="submit" [disabled]="dialogForm.invalid">
			{{ 'button.insert' | translate }}
		</button>
	</div>
</form>
